.bulk-upload-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .upload-and-instruction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        & .upload-dropzone-and-rules {
            display: flex;
            margin-top: 32px;

            @media (--md-down) {
                flex-direction: column;
                align-items: center;
            }

            & .upload-dropzone {
                border: 1px dashed var(--dark-grey);
                width: 670px;
                height: 37.5vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background: var(--grey);

                @media (--lg-only) {
                    width: 55vw;
                }

                @media (--md-down) {
                    width: 85vw;
                    height: 30vh;
                }

                & .upload-dropzone-instruction {
                    font-size: var(--font-size-lg);
                    font-family: var(--base-font-family);
                    color: var(--black);
                    font-weight: 600;
                }

                & .or-conjunction {
                    color: var(--warm-grey)
                }

                & .file-restrictions {
                    font-size: var(--font-size-sm);
                    font-style: italic;
                }

                button {
                    background-color: var(--white);
                    color: var(--black);
                    min-width: 6rem;

                    @media (--md-down) {
                        width: auto;
                    }
                }
            }

            & .expandable-container {
                width: 570px;

                @media (--md-down) {
                    width: 85vw;
                }

                summary {
                    svg {
                        margin-inline-end: 8px;
                    }
                }
            }
        }
    }
}