.plot {
    margin-top: 28px;
    height: 170px;

    .tick-label {
        font-size: var(--font-size-xs);
        fill: var(--warm-grey);
    }

    rect {
        &.bg {
            fill: var(--grey);
        }

        &.current {
            fill: #00758a;
        }
    }
}

.scrollable {
    @media (--md-down) {
        overflow-x: scroll;
        width: 100% !important;
    }

    .plot {
        @media (--md-down) {
            width: 150%;
            direction: ltr;
        }
    }
}

.home-card-content {
    .plot {
        @media (--md-down) {
            direction: ltr;
        }
    }
}
