.dataset-table {
    width: 100%;
    border-collapse: collapse;

        thead, tbody {
            width: 100%
        }
        thead {
            tr {
                width: 100%;
            }
        }

        tbody {
            tr {
                width: 100%;
                background-color: var(--lighter-grey);
                margin-bottom: 1px;
                &:hover {
                    cursor: pointer;
                }
                &.selected {
                    background-color: var(--light-blue);
                }
            }

            
        }

        td, th {
            padding: 5px;
            text-align: left;
        }
}
