.dataset-info {
    .top {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    .dataset-corpus-download-placeholder {
        height: 1000px;
    }

    .button {
        border-color: transparent;
        padding: 15px 30px;
        background: var(--blue);
        color: var(--white);

        &:hover {
            border-color: var(--black);
        }

        path {
            fill: var(--white);
        }
    }

    .donate-banner-wrapper {
        margin-inline: 30px;
    }
}
