.dataset-table {
  width: 100%;
  border-collapse: collapse;
  @media (--md-down) {
    &.table {
      border-collapse: separate;
      border-spacing: 0 1em;
    }
  }
  thead,
  tbody {
    width: 100%;
  }
  thead {
    tr {
      width: 100%;
    }
  }

  tbody {
    tr {
      background-color: var(--lighter-grey);
      border-bottom: 2px solid var(--light-grey);

      &:hover {
        cursor: pointer;
        background-color: var(--light-grey);
      }
      &.selected {
        background-color: var(--light-blue);
      }
      @media (--lg-up) {
        & td:first-child {
          padding-left: 25px;
        }
        &.selected {
          & td:first-child::before {
            content: '';
            background: url('./images/checkmark.svg') no-repeat;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 47px;
            transform: translateY(5px);
          }
        }
      }
    }
  }

  td,
  th {
    padding: 15px 5px;
    text-align: left;
  }

  @media (--md-down) {
    thead {
      display: none;
    }
    tr.selected {
      td {
        display: flex;
      }
    }
    td {
      display: none;
      &.highlight {
        display: flex;
      }

      &::before {
        content: attr(data-mobile-label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
      }
    }
  }
}

div.show-all-datasets {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  border: 1px solid var(--light-blue);
  background: var(--grey);
  padding: 1rem;
  font-size: 1rem;
  width: 100%;

  &:hover {
    background: var(--light-blue);
  }

  &:focus {
    outline: none;
  }

  svg {
    position: absolute;
    right: 1rem;
  }
  svg.expanded {
    transform: rotate(180deg);
  }
}
