@import url('../../vars.css');

.dataset-info,
#demo-datasets-content-container {
    .top {
        display: flex;
        position: relative;

        @media (--md-down) {
            flex-direction: column;
        }

        @media (--lg-up) {
            flex-direction: row;

            > * {
                width: 50%;
            }
        }
    }

    .cloud-circle {
        position: absolute;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        padding: 60px;
        width: auto;
        background: #f9f9f8;

        @media (--md-down) {
            display: none;
        }

        svg {
            transform: scale(1.75);
        }

        path {
            fill: var(--valid-green);
        }
    }

    .intro {
        color: var(--white);

        @media (--md-down) {
            padding: 70px 0;
            background: url('images/intro-bg-md.svg');
            background-size: cover;

            h1,
            button,
            p {
                margin: 0 20px;
            }

            h1 {
                margin-bottom: 20px;
            }

            button {
                font-size: 14px;
                font-weight: 600;
                text-decoration: underline;
                color: var(--blue);
            }
        }

        @media (--lg-up) {
            margin-bottom: 70px;
            padding-top: 90px;
            padding-bottom: 135px;
            padding-inline-start: calc(
                (100vw - var(--desktop-width)) / 2 + var(--page-margin)
            );
            box-sizing: border-box;
            background: url('images/intro-bg.png');
            background-size: 100% 100%;

            h1,
            p {
                max-width: 360px;
            }

            h1 {
                margin-bottom: 110px;
            }
        }

        h1 {
            font-size: var(--font-size-lg);
            font-weight: normal;

            &::first-line {
                font-size: 48px;
            }
        }

        p {
            line-height: 1.5;
            white-space: pre-line;
        }
    }

    .info {
        background: var(--lighter-grey);

        .inner {
            @media (--md-down) {
                padding: 40px 20px;
            }

            @media (--lg-up) {
                max-width: 400px;
                padding-top: 60px;
                padding-bottom: 20px;
                padding-inline-start: 100px;
            }
        }

        .labeled-form-control {
            margin-bottom: 20px;

            input,
            select,
            .label {
                background: var(--lighter-grey);
            }
        }

        .facts {
            margin: 0 0 40px;
            padding: 0;
            list-style: none;

            > li {
                border-bottom: 1px solid var(--desert-storm);
                padding: 20px 0;
                display: flex;
                flex-direction: row;

                @media (--md-down) {
                    &:last-child {
                        flex-direction: column;

                        .label {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .label {
                flex-shrink: 0;
                width: 200px;
                display: block;
                font-size: var(--font-size-xs);
                text-transform: uppercase;
                letter-spacing: 0.4px;
                color: var(--warm-grey);
            }

            .value {
                font-size: var(--font-size-lg);
                font-weight: 600;

                @media (--md-down) {
                    overflow: auto;
                }
            }

            .version {
                white-space: pre;
            }

            .splits {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                h5 {
                    margin: 0;
                    font-size: 14px;
                    font-weight: normal;
                    color: var(--warm-grey);
                }

                ol {
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: var(--font-size);
                    font-weight: normal;
                    color: var(--near-black);
                    list-style: none;
                }

                li {
                    display: flex;
                    flex-direction: row;
                    white-space: pre;

                    @media (--md-down) {
                        width: 100%;

                        .ellipsis {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &::after {
                        content: ', ';
                    }
                }

                li:last-child::after {
                    content: '';
                }
            }
        }
    }


    .button {
        border-color: transparent;
        padding: 15px 30px;
        background: var(--blue);
        color: var(--white);

        &:hover {
            border-color: var(--black);
        }

        path {
            fill: var(--white);
        }
    }

    .show-email-form {
        margin-bottom: 20px;

        span {
            margin-inline-end: 20px;
        }
        &:hover {
            path {
                fill: var(--black);
            }
        }
    }

    .why-email {
        font-size: var(--font-size-xs);
        letter-spacing: 0.5px;
        color: var(--warm-grey);
    }

    .download-language {
        min-width: 300px;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &:not([href]) {
            background: var(--warm-grey);
            cursor: not-allowed;

            &:hover {
                border-color: transparent;
                background: var(--warm-grey);
                color: var(--white);

                path {
                    fill: var(--white);
                }
            }
        }

        > :first-child {
            margin-inline-end: 10px;
        }
    }

    .description {
        display: flex;

        @media (--md-down) {
            padding: 40px 20px 30px;
            flex-direction: column;
        }

        @media (--lg-up) {
            margin-top: 50px;
            margin-bottom: 110px;
            flex-direction: row;
            justify-content: center;

            > * {
                @media (--lg-up) {
                    max-width: 470px;
                    width: 100%;

                    &:first-child {
                        margin-inline-end: 150px;
                    }
                }
            }
        }

        .text {
            @media (--md-down) {
                display: flex;
                flex-direction: column;
            }

            .line {
                width: 70px;
                height: 3px;
                background: linear-gradient(
                    to right,
                    var(--gradient-pink),
                    var(--gradient-purple)
                );

                @media (--md-down) {
                    margin-bottom: 20px;
                }

                @media (--lg-up) {
                    margin-top: 50px;
                    margin-bottom: 30px;
                }
            }

            h1 {
                font-weight: normal;

                @media (--md-down) {
                    margin-bottom: 20px;
                    font-size: 36px;
                }

                @media (--lg-up) {
                    margin-bottom: 30px;
                    font-size: var(--font-size-max);
                }
            }

            p {
                color: var(--near-black);
                white-space: pre-line;
                line-height: 1.5;
            }
        }
    }

    .labeled-checkbox {
        margin-top: 0.75rem;
        margin-bottom: 2rem;
    }

    .checksum {
        font-size: var(--font-size-xs);
        color: var(--warm-grey);
        margin-bottom: 1rem;
        white-space: nowrap;
    }
}

.dataset-segment-download {
    --segment-background: #121217;
    background: var(--segment-background);
    color: #fff;
}

.dataset-segment-content {
    max-width: var(--wide-desktop-width);
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    @media (--lg-up) {
        flex-direction: row;
    }

    @media(--md-up) {
        padding: 0 3rem;
    }
}

.dataset-segment-intro {
    font-size: var(--font-size-lg);
    position: relative;
    padding: 3rem 0 0;
    font-weight: 300;
    line-height: 1.4;

    @media (--lg-up) {
        width: 37.5%;
        padding-inline-end: 3rem;
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    #description-hours a {
        color: #fff;
        text-decoration: underline;
    }
}

.dataset-segment-callout {
    font-size: var(--font-size-max);
    margin-bottom: 1em;
    line-height: 1.1;
}

.dataset-segment-stats {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;

    @media(--lg-up) {
        width: 62.5%;
    }

    .circle-stats {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding: 0;
        width: 100%;
        color: #fff;

        @media(--md-up) {
            flex-direction: row;
        }
    }

    .circle-stat-wrapper {
        padding: 0 1.5rem;

        @media(--md-up) {
            width: auto;
            max-width: 33%;
            flex-basis: 33%;
            border-bottom: 1px solid var(--near-black);

            &:first-child {
                padding-inline-start: 0;
            }

            &:nth-child(2) {
                border-left: 1px solid var(--near-black);
                border-right: 1px solid var(--near-black);
            }

            &:last-child {
                padding-inline-end: 0;
            }
        }

    }

    .circle-stat {
        margin-inline-end: calc(var(--circle-size)/2);
        max-width: none;
        width: auto;
        min-height: calc(var(--circle-size)*1.15);
        position: relative;
        --circle-size: 85px;

        @media(--md-up) {
            min-height: calc(var(--circle-size)*1.25);
            --circle-size: 100px;
        }

        .text {
            width: calc(95% - var(--circle-size) * 0.5);
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: start;

            @media(--md-up) {
                padding: 1.2rem 0 0 0;
                flex-direction: column;
            }
        }

        .label {
            color: var(--grey);
            font-size: 14px;
            text-transform: uppercase;
            align-items: center;
            max-width: 5rem;
            margin-inline-end: 1rem;
            display: flex;

            @media(--md-up) {
                text-transform: none;
            }
        }

        .circle {
            right: calc(var(--circle-size) * -0.5);
            position: absolute;
            [dir="rtl"] & {
                left: calc(var(--circle-size) * -0.5);
            }
        }

        .dots {
            position: absolute;
            height: 100%;
            top: 0;
            z-index: 0;
            right: calc(var(--circle-size) * 0.5);
            @media(--md-up) {
                left: 0;
            }

        }
    }
}

.dataset-download-prompt {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    height: 100%;

    .show-email-wrapper {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }

    .show-email-button,
    .why-email {
        width: auto;
    }

    .show-email-form {
        margin-bottom: 0;
    }

    .why-email {
        margin-inline-start: 2rem;
    }

    .show-email-form {
        width: auto;
        white-space: nowrap;
    }

    .checksum {
        white-space: normal;
    }

    .download-language {
        min-width: 0;
    }

    #download-email {
        width: 100%;
        margin-bottom: 0.5rem;

        .label {
            background: var(--segment-background);
            color: #fff;
        }

        input {
            background: var(--segment-background);
            color: #fff;
            &:focus {
                border-color: var(--grey);
            }
        }
    }

    @media(--sm-up) {
        .labeled-checkbox {
            order: 1;
            width: 50%;
            padding-inline-end: 1rem;
            box-sizing: border-box;
            font-size: 14px;
        }

        #download-email {
            order: 2;
            width: 50%;

            padding-inline-end: 2rem;
            input {
                width: 100%;
            }
        }

        .checksum {
            order: 4;
        }

        .download-language {
            order: 3;
            width: 50%;
            margin-bottom: 1.5rem;
        }
    }
}
