.dataset-table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tbody {
        width: 100%;
    }
    thead {
        tr {
            width: 100%;
        }
    }

    tbody {
        tr {
            background-color: var(--lighter-grey);
            border-bottom: 2px solid var(--light-grey);

            &:hover {
                cursor: pointer;
                background-color: var(--light-grey);
            }
            &.selected {
                background-color: var(--light-blue);
            }
            @media (--lg-up) {
                & td:first-child {
                    padding-left: 25px;
                }
                &.selected {
                    & td:first-child::before {
                        content: '';
                        background: url('./images/chevron-right.svg') no-repeat;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 35px;
                    }
                }
            }
        }
    }

    td,
    th {
        padding: 15px 5px;
        text-align: left;
    }

    @media (--md-down) {
        thead {
            display: none;
        }
        tr.selected {
            td {
                display: flex;
            }
        }
        td {
            display: none;
            &.highlight {
                display: flex;
            }

            &::before {
                content: attr(label);
                font-weight: bold;
                width: 120px;
                min-width: 120px;
            }
        }
    }
}
