@import url('../../vars.css');

.dataset-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    @media (--md-down) {
        padding: 30px 20px;
        flex-direction: column;
        background: url('images/email-bg-md.svg');
        background-size: cover;
    }

    @media (--lg-up) {
        padding: 70px 0;
        flex-direction: row;
        background: url('images/email-bg.png');
        background-size: 100% 100%;
    }

    & h2 {
        font-weight: normal;

        @media (--md-down) {
            margin-bottom: 25px;
        }

        @media (--lg-up) {
            margin-inline-end: 70px;
            max-width: 480px;
            font-size: 36px;
        }
    }

    & form {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }

    & .labeled-form-control.for-input {
        & .label {
            color: var(--white);
            background: var(--near-black);
        }

        & input {
            color: var(--white);
            border: 1.6px solid var(--white);
            border-radius: 2px 0 0 2px;
            border-inline-end: 0;
            background: transparent;
        }
    }

    & button {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 1.6px solid var(--white);
        width: 100%;
        min-width: auto;
        max-width: 200px;
        font-weight: normal;
        color: #666666;
        background: var(--white);

        &:disabled {
            opacity: 0.8;
        }

        &:hover {
            border-color: var(--valid-green) !important;
            background: var(--valid-green) !important;
            color: var(--white) !important;
        }

        @media (--md-down) {
            height: auto;
        }

        @media (--lg-up) {
            flex-shrink: 0;
        }

        & svg {
            transform: rotateY(180deg);
        }

        & path {
            fill: #666666;
        }
    }

    & .labeled-checkbox {
        line-height: 1.5;
        max-width: 390px;

        & a {
            text-decoration: underline;
            color: var(--blue);
        }

        & .checkbox-container {
            border: 1.6px solid var(--white);
            border-radius: 2px;
        }

        & .checkbox-container input {
            background-color: var(--near-black);
        }

        & .checkmark path {
            fill: var(--white);
        }
    }
}
