@import url('../../media.css');

.profile-layout {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (--md-up) {
        flex-direction: row;
    }

    & .profile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #f6f6f5;

        @media (--md-up) {
            position: relative;
            margin-inline-end: 50px;
            padding-top: 50px;
            padding-inline-end: 30px;
            padding-bottom: 30px;
            width: 100%;
            max-width: 35%;

            flex-direction: column;
            align-items: flex-end;

            background: linear-gradient(to bottom, #f6f6f5, var(--white));
        }

        @media (--lg-up) {
            max-width: 27%;
        }

        .links {
            display: flex;

            @media (--sm-down) {
                padding: 30px 10px;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                overflow: auto;
            }

            @media (--md-up) {
                flex-direction: column;
                margin: 0;
                width: auto;
            }

            svg {
                width: 22px;

                & path {
                    fill: var(--warm-grey);
                }
            }

            a {
                border-radius: 40px;
                padding: 18px 40px;
                max-width: 200px;

                display: flex;

                font-weight: bold;
                color: var(--warm-grey);

                @media (--md-up) {
                    margin-bottom: 10px;
                }

                &.active {
                    background: var(--white);
                    color: var(--black);

                    path {
                        fill: var(--black);
                    }

                    defs path {
                        fill: var(--white);
                    }

                    & .text {
                        display: block;
                    }
                }

                .text {
                    margin-inline-start: 15px;

                    @media (--sm-down) {
                        display: none;
                    }
                }
            }

            & .button {
                width: fit-content;
            }
        }
    }

    & .content {
        max-width: 905px;
        width: 100%;
        min-height: 500px;
        position: relative;
        z-index: var(--middle-z-index);
        overflow: hidden;

        @media (--sm-down) {
            padding: 20px 20px 0;
        }

        @media (--md-up) {
            margin-inline-end: 20px;
            padding-top: 50px;
        }
    }
}
