@import url('../vars.css');

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: var(--middle-z-index);
    background: var(--black);
    transform: translateY(0);
    transition: transform var(--easing) var(--transition-duration);
    padding: 20px;
    grid-gap: 20px;

    .notification-text {
        text-align: center;
    }

    .button {
        margin-left: 1rem;
        min-width: 150px;
        background-color: transparent;
        width: auto;

        path {
            fill: var(--white);
        }
    }

    .cta {
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        grid-gap: 10px;
        text-transform: uppercase;
        letter-spacing: 0.8px;

        &.external {
            border-color: transparent;
        }

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .close {
        border: none;
        position: fixed;
        right: 2rem;
        left: auto;

        path {
            fill: var(--white);
        }

        [dir='rtl'] & {
            left: 2rem;
            right: auto;
        }
    }
}

.notification-banner {
    position: fixed;
    top: 0;

    .notification-text {
        color: #f89096;
        a {
            color: inherit;
        }
    }
}
