@import url('../vars.css');

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: var(--middle-z-index);
    background: var(--black);
    transform: translateY(0);
    transition: transform var(--easing) var(--transition-duration);

    & > * {
        margin: 20px;
    }

    & h1 {
        text-align: center;
    }

    & .spacer {
        margin-right: auto;

        @media (--sm-down) {
            display: none;
        }
    }

    & .cta {
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        border-radius: 30px;
        margin-left: 30px;
        min-width: 150px;
        width: auto;
        background-color: transparent;
    }

    & .close {
        border: none;
        margin-left: auto;

        & path {
            fill: var(--white);
        }
    }
}

.notification-banner {
    position: fixed;
    top: 0;

    & h1 {
        &,
        & a {
            background-image: linear-gradient(to right, #f89096, #b1b4e5);
            color: transparent;
            font-size: var(--font-size-xl);
            text-align: center;
            background-clip: text;
            -webkit-background-clip: text;
        }

        & a {
            text-decoration: underline;
            border-bottom: 2px solid #f89096;
        }
    }
}
