.banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: var(--header-z-index);
    background: var(--black);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 50px;

    @media (--md-down) {
        position: fixed;
        top: auto;
        bottom: 0;
    }

    .notification-text {
        color: var(--gradient-pink);
        margin: 0 1rem;

        a {
            color: inherit;
        }

        @media (--md-down) {
            font-size: 1.15rem;
            width: 100%;
        }

        @media (--sm-down) {
            font-size: 1.2rem;
        }
    }

    .cta {
        border: 2px solid hsla(0deg, 0%, 100%, 0.5);
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin: 0.5rem 1rem;
        min-width: 150px;
        background-color: transparent;
        width: auto;

        &.external {
            border-color: transparent;
        }

        path {
            fill: var(--white);
        }

        svg {
            width: 22px;
            height: 22px;
            margin: 0 0.5rem;

            @media (--md-down) {
                width: 18px;
                height: 18px;
            }

            @media (--sm-down) {
                width: 14px;
                height: 14px;
            }
        }

        @media (--md-down) {
            font-size: 80%;
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (--sm-down) {
            font-size: 65%;
            margin-inline-start: 0.5rem;
            height: 2.5rem;
        }
    }

    .close {
        border: none;
        position: absolute;
        right: 0;
        left: auto;
        padding: 2em;

        @media (--md-down) {
            top: 1em;
            padding: 1em;
        }

        path {
            fill: var(--white);
        }

        svg {
            width: 22px;
            height: 22px;
            margin: 0 0.5rem;
        }

        [dir='rtl'] & {
            left: 0;
            right: auto;
        }
    }
}
