.profile-info {
    padding-bottom: 2em;
    color: var(--black);

    & h2 {
        margin-bottom: 20px;
        font-weight: 600;
    }

    & .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 99%;

        label {
            margin-bottom: 30px;
            flex: 1 0 34%;

            @media (--sm-down) {
                width: 100%;
                flex: none;
            }

            @media (--md-up) {
                width: calc(50% - (var(--profile-column-margin) / 2));

                &:nth-of-type(even) {
                    margin-inline-start: var(--profile-column-margin);
                }
            }
        }

        .link {
            color: var(--blue);
        }
    }

    .signup-section {
        display: flex;

        @media (--sm-down) {
            flex-direction: column;

            > * {
                margin-top: 30px;
            }

            > :first-child {
                margin-top: 0;
            }
        }

        @media (--md-up) {
            flex-direction: row;

            & > * {
                width: 50%;

                &:nth-child(2n + 1) {
                    margin-inline-end: 30px;
                }
            }
        }

        & .checkboxes > * {
            margin-bottom: 26px;
            line-height: 1.71;
            font-size: 14px;

            &:last-child {
                margin-bottom: 0;
            }

            strong {
                display: block;
                line-height: 1.6;
                font-size: var(--font-size);
            }
        }

        & a {
            color: var(--blue);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        a.terms {
            font-size: var(--font-size);
            font-weight: bold;
            line-height: 1.25;
        }
    }

    & .save {
        margin: 0 auto;
        min-height: 57px;
        background: var(--black);
    }
}
