.guidelines-main-container {
    & .header-section {
        height: 400px;
        background: url('./images/guidelines-waves.png');
        background-size: 100% 100%;

        & .header-container {
            margin: 0 auto;
            max-width: var(--desktop-width);
            min-height: 100%;
            padding-top: 25px;
            transition: opacity var(--transition-duration-slow) var(--easing);

            & .page-heading {
                font-size: var(--font-size-max);
            }

            & .subtitle-text {
                font-weight: 300;
                font-size: var(--font-size-lg);
            }

            & div {
                width: 600px;
                margin-left: 15px;
            }
        }
    }

    & .content-section {
        & .tablist-wrapper {
            border-bottom: 1px solid var(--grey);
        }

        & .tablist {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 auto;
            max-width: var(--desktop-width);
            font-weight: 400;
            font-size: var(--font-size-lg);
            font-family: var(--strong-font-family);
            padding-inline-start: 16px;

            & li {
                list-style: none;
            }

            & li:nth-child(1) {
                margin-inline-end: 30px;
            }

            & .tab {
                color: var(--dark-grey);
            }

            & .selected-tab {
                color: var(--black);
                border-bottom: 2px solid var(--black);
            }
        }

        & .tabpanel {
            display: flex;
            margin: 0 auto;
            max-width: var(--desktop-width);
            padding-left: 16px;

            nav {
                max-width: 270px;
                margin-inline-end: 115px;
                position: sticky;
                top: 50px;
                height: 100%;

                ul {
                    list-style: none;
                    font-weight: 600;
                    font-size: var(--font-size-lg);
                    font-family: var(--strong-font-family);

                    li {
                        margin-bottom: 30px;

                        a {
                            color: var(--warm-grey);
                        }

                        & a.selected-option {
                            color: var(--black);

                            &::before {
                                content: '';
                                background: linear-gradient(
                                    90deg,
                                    #f89096 0%,
                                    #b1b5e5 100%
                                );
                                height: 4px;
                                width: 270px;
                                margin-bottom: 5px;
                                display: block;
                            }
                        }
                    }
                }
            }

            & .sidebar-content {
                & .guidelines-content-heading {
                    font-family: var(--base-font-family);
                    font-size: var(--font-size-lg);
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                & .guidelines-content-explanation {
                    text-align: justify;
                    margin-bottom: 24px;

                    a {
                        color: var(--anchor-text-blue);
                    }
                }

                & .example {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: var(--font-size-sm);
                    color: var(--dark-grey);
                    margin-bottom: 1rem;
                }

                ul {
                    margin-inline-start: 25px;
                }

                li {
                    margin-bottom: 5px;
                    text-align: justify;
                }

                li:last-child {
                    margin-bottom: 32px;
                }

                & .example-container {
                    background: var(--lighter-grey);
                    display: flex;
                    align-items: center;
                    padding: 50px 30px;
                    margin-bottom: 24px;

                    & .example-text-container {
                        background: var(--white);
                        font-size: var(--font-size-lg);
                        padding: 30px;
                        width: 270px;
                        height: 145px;
                        text-align: center;
                        margin-inline-end: 40px;
                        display: flex;
                        align-items: center;
                    }

                    & .example-tips-container {
                        div {
                            display: flex;
                            flex-direction: column;
                        }

                        & .circle {
                            background: var(--white);
                            height: 58px;
                            width: 58px;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            & .check-icon {
                                path {
                                    fill: var(--valid-green);
                                }
                            }
                        }

                        & .tip {
                            flex-direction: row;
                            margin-bottom: 25px;
                        }

                        & .tip-text {
                            flex-direction: column;
                            justify-content: center;

                            p:nth-child(1) {
                                margin-bottom: 6px;
                                font-style: italic;
                            }

                            p:nth-child(2) {
                                font-size: var(--font-size-xs);
                                color: var(--dark-grey);
                            }
                        }
                    }
                }

                & .border {
                    border-bottom: 1px solid var(--grey);
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
        }

        & .tabpanel--selected {
            padding-top: 50px;
            /* border-top: 1px solid var(--grey); */
        }
    }

    & .contact-section {
        /* height: 400px;
        background: url('./images/guidelines-waves-2.png');
        background-size: 100% 100%; */
        & .contact-container {
            max-width: var(--desktop-width);
            margin: 50px auto 0;

            h1 {
                font-size: var(--font-size-max);
                font-weight: 400;
                margin: 0 auto;
                width: fit-content;

                &::before {
                    content: '';
                    background: linear-gradient(
                        to right,
                        var(--gradient-pink),
                        var(--gradient-purple)
                    );
                    height: 3px;
                    margin-bottom: 20px;
                    width: 70px;
                    display: block;
                }
            }
        }
    }
}
