.guidelines-main-container {
    & .header-section {
        height: 400px;
        background: url('./images/guidelines-waves.png');
        background-size: 100% 100%;

        @media (--sm-down) {
            height: 270px;
        }

        & .header-container {
            margin: 0 auto;
            max-width: var(--desktop-width);
            min-height: 100%;
            padding-top: 25px;
            transition: opacity var(--transition-duration-slow) var(--easing);

            & .page-heading {
                font-size: var(--font-size-max);

                @media (--sm-down) {
                    font-size: var(--font-size-xl);
                }
            }

            & .subtitle-text {
                font-weight: 300;
                font-size: var(--font-size-lg);

                @media (--sm-down) {
                    font-size: var(--font-size);
                }
            }

            & div {
                @media (--lg-up) {
                    width: 600px;
                }

                margin-left: 15px;
            }
        }
    }

    & .content-section {
        & .tablist-wrapper {
            border-bottom: 1px solid var(--grey);

            @media (--md-only) {
                position: sticky;
                top: 8px;
                background: var(--white);
                z-index: var(--middle-z-index);
            }
        }

        & .tablist {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 auto;
            max-width: var(--desktop-width);
            font-weight: 400;
            font-size: var(--font-size-lg);
            font-family: var(--strong-font-family);
            padding-inline-start: 16px;

            @media (--sm-down) {
                font-size: var(--font-size-md);
            }

            & li {
                list-style: none;
            }

            & li:nth-child(1) {
                margin-inline-end: 30px;
            }

            & .tab {
                color: var(--dark-grey);
            }

            & .selected-tab {
                color: var(--black);
                border-bottom: 2px solid var(--black);
            }
        }

        & .tabpanel {
            display: flex;
            margin: 0 auto;
            max-width: var(--desktop-width);
            padding-left: 16px;

            @media (--md-down) {
                margin: 0 16px;
                padding-left: 0;
            }

            & .sections {
                @media (--sm-down) {
                    width: 100%;
                }

                & .line {
                    display: inline-block;
                    background: linear-gradient(
                        90deg,
                        #88d1f1 0%,
                        #b1b5e5 100%
                    );
                    width: 100%;
                    height: 4px;
                    margin-bottom: 8px;

                    @media (--md-up) {
                        display: none;
                    }
                }
            }

            nav {
                max-width: 270px;
                margin-inline-end: 115px;
                position: sticky;
                top: 50px;
                height: 100%;

                ul {
                    list-style: none;
                    font-weight: 600;
                    font-size: var(--font-size-lg);
                    font-family: var(--strong-font-family);

                    li {
                        margin-bottom: 30px;

                        a {
                            color: var(--warm-grey);
                        }

                        & a.selected-option {
                            color: var(--black);

                            &::before {
                                content: '';
                                background: linear-gradient(
                                    90deg,
                                    #f89096 0%,
                                    #b1b5e5 100%
                                );
                                height: 4px;
                                width: 270px;
                                margin-bottom: 5px;
                                display: block;
                            }
                        }
                    }
                }

                @media (--md-down) {
                    display: none;
                }
            }

            & .sidebar-content {
                & .chevron {
                    @media (--md-up) {
                        display: none;
                    }

                    &.rotate-180 {
                        transform: rotate(180deg);
                    }
                }

                & .sidebar-content-header {
                    @media (--sm-down) {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                    }
                }

                & .guidelines-content-heading {
                    font-family: var(--base-font-family);
                    font-size: var(--font-size-lg);
                    font-weight: 600;
                    margin-bottom: 1rem;

                    @media (--sm-down) {
                        font-family: var(--strong-font-family);
                        flex: 1;
                        text-align: left;
                    }
                }

                & .guidelines-content-explanation {
                    text-align: justify;
                    margin-bottom: 24px;

                    @media (--sm-down) {
                        font-size: var(--font-size-sm);
                    }

                    a {
                        color: var(--anchor-text-blue);

                        &.underlined-link {
                            text-decoration: underline;
                        }
                    }
                }

                & .guidelines-content-explanation.header {
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                & .example {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: var(--font-size-sm);
                    color: var(--dark-grey);
                    margin-bottom: 1rem;
                }

                ul {
                    margin-inline-start: 25px;
                }

                li {
                    margin-bottom: 5px;
                    text-align: justify;

                    @media (--sm-down) {
                        font-size: var(--font-size-sm);
                    }
                }

                li:last-child {
                    margin-bottom: 32px;
                }

                & .example-container {
                    background: var(--lighter-grey);
                    display: flex;
                    align-items: center;
                    padding: 50px 30px;
                    margin-bottom: 24px;

                    &.reviewing-sentences {
                        padding: 50px 12px;
                    }

                    @media (--sm-down) {
                        flex-direction: column;
                        padding: 40px 0 0;
                        width: 350px;
                    }

                    & .example-text-container {
                        background: var(--white);
                        font-size: var(--font-size-lg);
                        padding: 30px;
                        width: 270px;
                        height: 145px;
                        text-align: center;
                        margin-inline-end: 40px;
                        display: flex;
                        align-items: center;

                        @media (--sm-down) {
                            margin-inline-end: 0;
                            width: 300px;
                        }
                    }

                    & .example-tips-container {
                        div {
                            display: flex;
                            flex-direction: column;
                        }

                        @media (--sm-down) {
                            width: 350px;
                            padding: 30px;
                        }

                        & .circle {
                            background: var(--white);
                            height: 58px;
                            width: 58px;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @media (--sm-down) {
                                height: 43px;
                                width: 43px;
                            }

                            & .check-icon {
                                path {
                                    fill: var(--valid-green);
                                }
                            }
                        }

                        & .tip {
                            flex-direction: row;
                            margin-bottom: 25px;
                        }

                        & .tip-text {
                            flex-direction: column;
                            justify-content: center;

                            @media (--sm-down) {
                                width: 220px;
                            }

                            p {
                                @media (--sm-down) {
                                    font-size: var(--font-size-xs);
                                }
                            }

                            p:nth-child(1) {
                                margin-bottom: 6px;
                                font-style: italic;
                            }

                            p:nth-child(2) {
                                font-size: var(--font-size-xs);
                                color: var(--dark-grey);

                                @media (--sm-down) {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    label {
                        margin: 0 auto 24px;

                        input {
                            width: 570px;

                            @media (--sm-down) {
                                width: 300px;
                            }
                        }
                    }
                }

                & .example-container.citing-sentences {
                    flex-direction: column;

                    @media (--sm-down) {
                        width: auto;
                        padding: 40px 24px;

                        p {
                            text-align: center;
                        }
                    }

                    & .self-citation-explanation {
                        color: var(--inactive-grey);
                    }
                }

                & .example-container.reviewing-sentences {
                    flex-direction: row;
                    justify-content: center;

                    button {
                        width: 150px;
                        height: 57px;
                        border-radius: 50px;
                        background-color: var(--white);
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: var(--black);

                        svg {
                            margin-right: 12px;
                        }
                    }

                    button:last-of-type {
                        margin-right: 0;
                    }

                    & .yes-button {
                        box-shadow: 0px 4px 10px rgba(89, 203, 183, 0.3);

                        @media (--sm-down) {
                            width: 100px;
                        }
                    }

                    & .no-button {
                        box-shadow: 0px 4px 10px rgba(255, 79, 94, 0.3);

                        @media (--sm-down) {
                            width: 100px;
                        }
                    }

                    & .skip-button {
                        box-shadow: 0px 4px 10px rgba(74, 74, 74, 0.3);
                        min-width: 150px;

                        @media (--sm-down) {
                            min-width: 100px;
                            width: 100px;
                        }
                    }
                }

                & .border {
                    border-bottom: 1px solid var(--grey);
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 24px;

                    @media (--sm-down) {
                        display: none;
                    }
                }
            }
        }

        & .tabpanel--selected {
            padding-top: 50px;

            @media (--md-down) {
                padding-top: 20px;
            }
        }
    }

    & .contact-section {
        & .contact-container {
            max-width: var(--desktop-width);
            margin: 50px auto 0;

            @media (--md-down) {
                margin: 20px;
            }

            h1 {
                font-size: var(--font-size-max);
                font-weight: 400;
                margin: 0 auto;
                width: fit-content;

                @media (--md-down) {
                    margin: 0 0 32px;
                }

                @media (--sm-down) {
                    font-size: var(--font-size-xl);
                    width: min-content;
                }

                &::before {
                    content: '';
                    background: linear-gradient(
                        to right,
                        var(--gradient-pink),
                        var(--gradient-purple)
                    );
                    height: 3px;
                    margin-bottom: 20px;
                    width: 70px;
                    display: block;
                }
            }
        }

        & .text-container {
            max-width: 760px;
            margin: 24px 60px 24px auto;

            @media (--sm-down) {
                margin: 0;
            }

            & p {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.25rem;
                margin-bottom: 28px;

                @media (--sm-down) {
                    align-items: flex-start;
                    flex-direction: column;
                    font-size: var(--font-size);
                }

                & a {
                    color: var(--anchor-text-blue);
                }
            }

            & p:last-of-type {
                margin-bottom: 48px;
            }

            & .button {
                background: var(--blue);
                color: var(--white);
                justify-content: flex-start;
                border: none;
                font-size: var(--font-size);
                height: 60px;
                width: 370px;

                @media (--sm-down) {
                    width: auto;
                }

                svg {
                    flex: 0.6;

                    @media (--sm-down) {
                        flex: 0.8;
                    }
                }

                path {
                    fill: var(--white);
                }
            }
        }

        img {
            width: 100%;
        }
    }
}
