@import url('../../../media.css');

.write-page,
.review-page {
    width: 100%;

    & .review-wrapper,
    .write-wrapper {
        background-image: linear-gradient(
            to top,
            var(--white) 20%,
            var(--desert-storm)
        );

        @media (--xl-up) {
            overflow: auto;
        }

        & .write,
        .review {
            width: 100%;
            height: 100%;
            max-width: var(--wide-desktop-width);

            @media (--lg-up) {
                padding: 2rem 1rem 0.5rem;
            }

            @media (--sm-down) {
                padding-bottom: 30px;
            }
        }

        & .review {
            margin: 0 auto;
            .instruction {
                width: fit-content;
            }

            height: auto;
        }
    }

    & .review-wrapper {
        overflow-x: hidden;
    }

    & .write-wrapper {
        background-image: none;
    }
}
