node_modules
config.json
maintenance/index.html
maintenance/css/vars.css
common/index.ts
common/js/
web/dist/
web/index.html
server/js/
server/upload/
xcuserdata/
.ignore
.ignored_files/
.DS_Store
.vscode/
ZZidea
.env-local-docker
docker-compose.override.yml
yarn-error.log
index.ts.bak
scripts/releases

# Nubis
nubis/librarian-puppet.tar.gz
nubis/librarian-puppet
nubis/Puppetfile.lock
nubis/.tmp
nubis/.librarian
nubis/builder/artifacts/*

# WebStorm
.idea/
