dist: trusty
sudo: required
language: node_js
node_js:
  - "7"
before_install:
  - mysql -e "SET PASSWORD FOR 'root'@'localhost' =  PASSWORD('root');"
before_script:
  - npm install -g gulp-cli
script:
  - gulp build
