dist: trusty
sudo: enabled
language: node_js
node_js:
  - "8"
services:
  - mysql
before_install:
  - mysql -e "SET PASSWORD FOR 'root'@'localhost' =  PASSWORD('');"
  - sudo add-apt-repository ppa:mc3man/trusty-media
  - sudo apt-get update
  - sudo apt-get install ffmpeg gstreamer0.10-ffmpeg
