dist: trusty
sudo: enabled
language: node_js
node_js:
  - "7"
services:
  - mysql
before_install:
  - mysql -e "SET PASSWORD FOR 'root'@'localhost' =  PASSWORD('');"
  - npm install -g gulp-cli
script:
  - gulp build && gulp test
