@import url('../../../vars.css');

.pill.recording {
    & .text {
        margin-left: 12px;
        font-size: var(--font-size-small);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        color: var(--warm-grey);

        @media (--md-up) {
            margin-right: 35px;
        }
    }

    & button {
        padding: 0 16px;
        border: none;
        border-left: 1px solid var(--desert-storm);

        &:first-of-type {
            border-left: none;
        }

        &.play:hover path {
            fill: var(--valid-green);
        }

        &.redo:hover path {
            fill: var(--red);
        }

        &.share:hover path {
            fill: var(--blue);
        }
    }

    & .placeholder {
        width: 110px;
    }
}

.tippy-tooltip.grey-tooltip-theme {
    color: var(--black);
    background: var(--darker-grey);
    font-style: normal;

    & .arrow-regular {
        border-top-color: var(--darker-grey);
    }
}
