.pill.recording {
    &.done .contents > * {
        height: 100%;
    }

    & .text {
        margin: 0 12px;
        width: 133px;

        font-size: var(--font-size-sm);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.4px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: var(--dark-grey);
    }

    & .padder {
        display: inline-block;
        padding: 0 16px;
    }

    & .play .padder {
        border-inline-start: none;
    }

    & button {
        border: none;
        padding: 0;
        height: 100%;

        &.play:hover path {
            fill: var(--valid-green);
        }

        &.redo:hover path {
            fill: var(--red);
        }

        &.share:hover path {
            fill: var(--blue);
        }
    }

    & .placeholder {
        width: 55px;
    }
}
