@import url('../../../vars.css');

.contribution.speak {
    & .error .instruction {
        color: var(--red);
    }

    .error-card {
        .unsupported {
            font-size: var(--font-size-lg);
        }
    }
}

.record-abort {
    & .title {
        margin-top: 58px;
        margin-bottom: 10px;
        font-size: var(--font-size-xxl);
        font-weight: normal;
    }

    & .text {
        margin-bottom: 35px;
        font-size: 20px;
    }

    & .buttons {
        margin-bottom: 40px;
    }

    & .button {
        height: 57px;
    }

    & .text-button {
        font-size: var(--font-size-xs);
        font-weight: 600;
        text-decoration: underline;

        &:hover {
            color: var(--blue);
            text-decoration-color: var(--blue);
        }
    }
}
