@import url('../../../vars.css');

.contribution.speak .error .instruction {
    color: var(--red);
}

.title {
    border-bottom: 0.5rem solid var(--lighter-grey);
    margin: 2rem;
}

.modal-error {
    color: var(--red);
    margin-bottom: 2rem;
}

.form-fields {
    color: var(--near-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    & button {
        display: flex;
        align-self: flex-start;
    }

    & > * {
        box-sizing: border-box;
        margin-bottom: 30px;

        @media (--sm-down) {
            width: 100%;
        }

        @media (--md-up) {
            width: calc(50% - (var(--profile-column-margin) / 2));

            &:nth-child(2n + 1) {
                margin-inline-end: var(--profile-column-margin);
            }
        }
    }

    & .labeled-checkbox {
        padding: 13px 5px;
        margin-top: 1rem;
        min-width: 12rem;

        & .checkmark {
            & path {
                fill: var(--orange);
            }
        }

        & .checkbox-container {
            margin-bottom: 0.3rem;
        }
    }
}

.demographic-info {
    border-inline-start: 2px solid var(--blue);
    margin: 30px 0;
    padding-inline-start: 12px;

    & button {
        outline: none;
        border: none;
        padding: 0;
        font-family: var(--base-font-family);
        font-size: var(--font-size);
        font-weight: 600;
        color: var(--blue);
        background: none;

        & svg {
            margin-inline-start: 10px;
            transition: transform var(--easing) var(--transition-duration);

            & polygon {
                fill: var(--blue);
            }
        }
    }

    & .explanation {
        margin-top: 10px;
        display: none;
    }
}

.expanded {
    & button {
        & svg {
            transform: rotate(180deg);
        }
    }

    & .explanation {
        display: block;
    }
}

.record-abort {
    & .title {
        margin-top: 58px;
        margin-bottom: 10px;
        font-size: var(--font-size-xxl);
        font-weight: normal;
    }

    & .text {
        margin-bottom: 35px;
        font-size: 20px;
    }

    & .buttons {
        margin-bottom: 40px;
    }

    & .button {
        height: 57px;
    }

    & .text-button {
        font-size: var(--font-size-xs);
        font-weight: 600;
        text-decoration: underline;

        &:hover {
            color: var(--blue);
            text-decoration-color: var(--blue);
        }
    }
}
