@import url('../../vars.css');

.stats,
.goals {
    & header {
        @media (--lg-up) {
            max-width: var(--wide-desktop-width);
        }
    }

    & #scroller {
        background-image: linear-gradient(
            1deg,
            var(--white),
            var(--desert-storm)
        );
    }

    & #content {
        padding: 0;
    }
}

.dashboard {
    max-width: initial !important;
    padding: 0 !important;

    & .inner {
        margin: 0 auto;
        max-width: var(--wide-desktop-width);
        box-sizing: border-box;
    }
}

.top-bar {
    border-bottom: 1px solid var(--darker-grey);
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (--sm-down) {
        padding-top: 20px;
    }

    @media (--md-up) {
        padding-top: 30px;
    }

    & nav {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        & a {
            margin-inline-end: 25px;
            margin-bottom: -1.5px;
            padding-bottom: 5px;
            opacity: 0.5;

            &.active {
                border-bottom: 3px solid var(--black);
                opacity: 1;
            }
        }

        & h2 {
            font-family: var(--strong-font-family);
            font-size: var(--font-size-lg);
            font-weight: normal;
        }
    }

    & .languages {
        display: flex;

        @media (--xs-only) {
            flex-direction: column;
            justify-content: space-between;
        }

        @media (--md-up) {
            position: relative;
            top: 2.5px;
        }

        & * {
            margin-inline-end: 33px;
            padding-bottom: 13.5px;
            font-size: 14px;
            color: var(--warm-grey);

            @media (--xs-only) {
                font-size: var(--font-size-xs);
                margin-inline-end: 0;

                &:first-child {
                    padding-bottom: 3px;
                }
            }

            &:last-child {
                margin-inline-end: 0;
            }
        }

        & label span,
        & select {
            font-size: var(--font-size-xs);
            text-transform: uppercase;
            cursor: pointer;
        }

        & input {
            display: none;
        }

        & input:checked + *,
        & select.selected {
            border-bottom: 1px solid var(--black);
            color: var(--black);
            font-weight: 600;

            @media (--xs-only) {
                border-bottom: 0;
            }
        }

        & select {
            border: none;
            padding-inline-end: 25px;
            width: 0;
            appearance: none;
            font-family: var(--base-font-family);
            background-size: 10px;
            background: url('/img/down-arrow.svg') no-repeat top 5px right 5px;

            @media (--md-down) {
                width: initial;
            }

            & option[value='none'] {
                background: grey;
            }
        }
    }
}
