@import url('../../vars.css');

.progress-card {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    &.speak {
        & .personal .numbers {
            color: var(--red);
        }

        & .progress {
            & .icon-wrap {
                background: var(--red);
            }

            & .bar {
                background: color-mod(var(--red) alpha(20%));
            }

            & .current {
                background: var(--red);
            }
        }
    }

    &.listen {
        & .personal .numbers {
            color: var(--valid-green);
        }

        & .progress {
            & .icon-wrap {
                background: var(--valid-green);
            }

            & .bar {
                background: color-mod(var(--valid-green) alpha(20%));
            }

            & .current {
                background: var(--valid-green);
            }
        }
    }

    & .personal,
    & .overall {
        padding: 41px 20px 41px 68px;

        @media (--lg-down) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    & .personal {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--white);

        & .numbers {
            border-inline-end: 1px solid var(--desert-storm);
            margin-inline-end: 20px;
            padding-inline-end: 20px;
        }

        & .infinity {
            position: relative;
            bottom: 8px;
            font-size: 28px;
        }

        & .description {
            font-family: var(--strong-font-family);
            font-size: 20px;
            line-height: 1.4;
        }
    }

    & .progress-wrap {
        position: relative;
    }

    & .progress {
        position: absolute;
        top: -26px;
        left: 42px;
        right: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .icon-wrap {
            border-radius: 50%;
            flex-shrink: 0;
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;

            & svg {
                width: 24px;
                height: 24px;

                & path {
                    fill: var(--white);
                }
            }
        }

        & .bar {
            width: 100%;
            height: 6px;

            & .current {
                height: 100%;
            }
        }
    }

    & .overall {
        margin-top: -24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #f9f9f8;

        & > * {
            margin-top: 24px;
            margin-inline-end: 30px;

            &:last-child {
                margin-inline-end: 0;
            }
        }

        & .numbers {
            color: var(--near-black);
        }

        & .description {
            max-width: 165px;
            font-size: var(--font-size-xs);
            letter-spacing: 0.5px;
            color: var(--warm-grey);
        }

        & .button {
            flex-grow: 100;
            min-width: auto;
        }
    }

    & .numbers {
        display: flex;
        flex-direction: row;

        & .current {
            line-height: 1;
            font-size: 48px;

            @media (--md-down) {
                font-size: 24px;
            }
        }

        & .total {
            display: flex;
            flex-direction: row;
            white-space: pre-wrap;
        }
    }
}
