.fraction {
    display: flex;
    flex-direction: row;

    & .numerator {
        line-height: 1;
        font-size: 48px;

        @media (--md-down) {
            font-size: 24px;
        }
    }

    & .denominator {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        white-space: pre-wrap;
    }
}

.circle-progress {
    &,
    & svg {
        width: 68px;
        height: 68px;
    }

    & circle {
        stroke: var(--grey);
    }

    & .progress-circle {
        transform-origin: center;
        transform: rotate(-90deg);
        stroke: var(--type-color);
    }

    & text {
        fill: var(--type-color);
        font-weight: 600;
    }
}
