body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: #212121;
  color: #F5F5F5;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px black;
  width: 128px;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background: red;
  color: white;
  box-shadow: inset 0 0 4px black;
}

button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

#toolbar {
  border: none;
  text-align: center;
  color: #757575;
  background-color: #424242;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  z-index: 2;
}

#message {
  border: none;
  text-align: center;
  color: #757575;
  background-color: #424242;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  z-index: 2;
  display: none;
}

#sentence {
  border: none;
  text-align: center;
  color: #FAFAFA;
  background-color: #212121;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  z-index: 2;
  font-size: 16px;
  height: 100px;
}

#viz {
  border: none;
  text-align: center;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  height: 100px;
}

#player {
  display: none;
}

#player.disabled {
  opacity: 0.3;
  pointer-events: none;
}
