:root {
  --base-font-size: 15px;
  --header-height: 3rem;
  --tab-line: 1px solid orange;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: var(--base-font-size);
  background-color: #212121;
  color: #F5F5F5;
  display: flex;
  flex-flow: column nowrap;
  transition: opacity 0.5s linear;
  opacity: 0;
}

body.loading {}

body.loaded {
  opacity: 1;
}

@media (min-width: 600px) {
  body {
    flex-flow: row nowrap;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background: gray;
}

button:active {
  background: #484848;
}

button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

header, .container, footer {
  padding: 0 0.5rem;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: var(--header-height);
  padding: 0.5rem 0.5rem;
}

@media (min-width: 600px) {
  header {
    flex-flow: column;
    max-width: 10rem;
  }
}

#main-logo {
  flex: 0 0 auto;
  background: url("/img/mic.svg") no-repeat left/contain;
  filter: invert(100%);
  font-weight: bold;
  color: black;
  padding-left: 1.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

#main-nav {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  #main-nav {
    flex-flow: unset;
    display: block;
  }
}

.tab {
  flex-grow: 0;
  padding: 0 1rem;
  line-height: calc(1.2 * var(--header-height));
  vertical-align: bottom;
}

@media (min-width: 600px) {
  #main-nav .tab {
    display: block;
    line-height: 2rem;
  }
  #main-nav .tab.active {
    border-right: var(--tab-line);
    border-bottom: 0px;
  }
}

.tab.active {
  border-bottom: var(--tab-line);
}

#content {
  flex: 1 1 auto;
  position: relative;
}

@media (min-width: 600px) {
  section#content {
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: 3rem;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.container.active {
  opacity: 1;
}

#message,
#toolbar {
  border: none;
  text-align: center;
  color: #757575;
  transition: transform 0.2s ease-out;
  padding: 10px 0x;
  margin: 10px 0;
  position: relative;
}

#toolbar > button {
  width: 6rem;
  height: 2.5rem;
  margin: 0.5rem 0.25rem;
}

#message {
  display: none;
}

#sentence {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  line-height: 2em;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-position 1.5s linear;
  color: #212121;
  background-color: #FAFAFA;
  min-height: 7rem;
  border-radius: 3px;
}

#sentence.active {
  background-position: -99.99% 0;
  color: #222;
}

#viz {
  border: none;
  text-align: center;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  height: 100px;
}

#player {
  display: none;
}

#player.disabled {
  opacity: 0.3;
  pointer-events: none;
}

