.first-cta-container {
    position: absolute;
    top: 20%;
    left: 15%;
    background: rgba(229, 229, 229, 0);
    background-color: white;
    width: 70%;
    z-index: 10;
    border-radius: 20px;

    .header-text-container {
        margin-bottom: 80px;

        @media (--xs-down) {
            margin-bottom: 40px;
        }

        .header-text {
            font-size: 36px;
            font-weight: 400;
            text-align: center;
        }
    }

    .subtitle-text {
        text-align: center;
        margin-bottom: 32px;
    }

    .form-fields {
        .language-wrap {
            display: grid;
            grid-column-gap: 10px;
            justify-content: center;
            grid-template-columns: repeat(1, 600px);

            @media (--xs-down) {
                grid-template-columns: repeat(1, 320px);
            }

            &.variant-input-visible {
                grid-template-columns: repeat(2, 320px);

                @media (--xs-down) {
                    grid-template-columns: repeat(1, 320px);
                    grid-row-gap: 15px;
                }
            }

            label {
                margin-right: 10px;
                margin-bottom: 20px;
            }
        }

        ul {
            margin: 0px 0 30px;
            position: absolute;
            background: white;
            z-index: var(--override-z-index);
            width: fit-content;

            li {
                cursor: pointer;
                list-style: none;
                padding: 15px;
                border-bottom: 1px solid var(--dark-grey);
            }
        }

        .downshift-open {
            border: 1px solid var(--light-grey);

            box-shadow: 0 2px 5px 0 var(--light-grey);
            overflow: scroll;
        }
    }

    .expandable-infomation-wrapper {
        @media (--lg-up) {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 650px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    .expandable-information__text {
        p {
            margin-bottom: 15px;
            text-align: left;
            color: #000;

            a {
                color: var(--anchor-text-blue);
               
            }
        }
    }

    & .add-information-button {
        background: var(--blue);
        border-radius: 20px;
        color: white;
        padding: 15px 30px;
        border: none;
        margin-bottom: 25px;
        transition: background-color 0.3s ease, border 0.3s ease;

        &:hover {
            border: 1px solid var(--black);
            background: var(--light-blue); 
            color: var(--black);
        }
    }

    .submission-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        .button {
            @media (--md-up) {
                width: auto;
            }
        }
    }

    .create-profile-text {
        text-align: center;

        a {
            color: var(--anchor-text-blue);
        }
    }
}
