.home {
    .hero-section {
        display: flex;
        justify-content: center;

        .hero-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: url('./assets/home-bg-waves.png');
            background-size: 100% 110%;

            @media (--xl-up) {
                height: 58vh;
                min-height: 600px;
            }

            @media (--md-and-lg-only) {
                padding-block-end: 50px;
            }

            @media (--sm-down) {
                flex-direction: column;
                gap: 24px;
            }

            @media (--sm-down) {
                background: url('./assets/mobile-bg.jpg');
                background-size: 100% 100%;
            }

            .hero-text-wrapper {
                display: flex;
                justify-content: end;
                flex: 0.74;

                @media (--md-and-lg-only) {
                    flex: 1;
                }

                @media (--lg-down) {
                    justify-content: center;
                }

                .hero-text-container {
                    display: flex;
                    flex-direction: column;
                    margin: 130px 0px 0px 60px;

                    @media (--xl-up) {
                        width: 550px;
                    }

                    @media (--md-only) {
                        margin: 50px 0 0 24px;
                    }

                    @media (--sm-down) {
                        margin-block-start: 40px;
                        margin-inline: 40px;
                    }

                    h1 {
                        font-size: 58px;
                        font-weight: 500;
                        background: linear-gradient(
                            90deg,
                            var(--red) 0%,
                            var(--blue) 100%
                        );
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-block-end: 20px;

                        @media (--md-and-lg-only) {
                            font-size: 40px;
                        }

                        @media (--sm-down) {
                            font-size: 36px;
                        }

                        @media (--xs-down) {
                            width: 250px;
                        }
                    }

                    p {
                        font-size: 20px;

                        @media (--md-and-lg-only) {
                            font-size: 16px;
                        }

                        @media (--sm-down) {
                            font-size: 15px;
                        }
                    }

                    .button {
                        width: 45%;
                        margin-block-start: 40px;
                        background: var(--light-purple);
                        color: var(--white);
                        height: 57px;
                        box-shadow: var(--purple-box-shadow);
                        border: none;
                        font-size: var(--font-size);

                        @media (--sm-down) {
                            align-self: center;
                            margin-inline-end: 24px;
                        }

                        svg {
                            transform: rotate(90deg);
                            margin-inline-start: 12px;

                            path {
                                fill: var(--white);
                            }
                        }
                    }
                }
            }

            .hero-image-container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (--md-and-lg-only) {
                    padding-block-start: 32px;
                }

                @media (--lg-down) {
                    align-items: center;
                    overflow-x: hidden;
                    justify-content: flex-end;
                }

                @media (--sm-down) {
                    justify-content: center;
                    position: relative;
                }

                .buttons {
                    position: absolute;
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (--xl-up) {
                        height: 53%;
                    }

                    @media (--md-and-lg-only) {
                        height: 30%;
                        width: 40%;
                    }

                    @media (--sm-only) {
                        width: 100%;
                    }

                    @media (--sm-down) {
                        flex-direction: column-reverse;
                        top: 50%;
                    }

                    @media (--xs-down) {
                        width: 415px;
                        top: 45%;
                    }

                    .listen-container {
                        width: fit-content;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media (--md-and-lg-only) {
                            margin-inline-start: -8px;
                        }

                        @media (--sm-down) {
                            margin-inline-start: 36px;
                            margin-block-end: 0px;
                        }

                        .listen {
                            background: var(--white);
                            height: 80px;
                            width: 80px;
                            border-radius: 50%;
                            color: var(--white);
                            border: 1px solid;
                            z-index: var(--middle-z-index);

                            @media (--xl-up) {
                                margin-block-start: 60px;
                                margin-inline-start: 64px;
                            }

                            @media (--md-and-lg-only) {
                                height: 64px;
                                width: 64px;
                            }

                            svg {
                                width: 25px;
                                height: 25px;

                                path {
                                    fill: var(--valid-green);
                                }
                            }
                        }

                        .background {
                            position: absolute;
                            margin: 0 auto;
                            border-radius: 50%;
                            width: 80px;
                            height: 80px;
                            background: linear-gradient(
                                90deg,
                                var(--gradient-cyan) 0%,
                                var(--gradient-purple) 100%
                            );
                            filter: blur(15.882353782653809px);

                            @media (--xl-up) {
                                top: 50%;
                                left: 45%;
                            }

                            @media (--md-and-lg-only) {
                                top: 0;
                                left: 0;
                            }

                            @media (--sm-down) {
                                display: none;
                            }
                        }
                    }

                    .listen,
                    .speak {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .speak {
                        background: var(--white);
                        height: 136px;
                        width: 136px;
                        border-radius: 50%;
                        align-self: center;
                        z-index: var(--top-z-index);

                        @media (--xl-up) {
                            position: relative;
                            left: 20%;
                        }

                        @media (--lg-down) {
                            align-self: flex-end;
                        }

                        @media (--md-and-lg-only) {
                            height: 108px;
                            width: 108px;
                            right: 10%;
                            position: relative;
                        }

                        svg {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }

                .sound-waves-container {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;

                    @media (--xl-up) {
                        width: 50%;
                        top: 40%;
                        left: 50%;
                    }

                    @media (--md-and-lg-only) {
                        top: 25%;
                        left: 47%;
                    }

                    @media (--sm-down) {
                        top: 48%;
                    }
                }

                img.hero {
                    height: 50vh;
                    width: 45vw;
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 55%;

                    @media (--xxl-up) {
                        width: 35vw;
                        min-height: 550px;
                    }

                    @media (--md-and-lg-only) {
                        height: 35vh;
                    }

                    @media (--sm-down) {
                        width: 105vw;
                        height: auto;
                    }

                    @media (--xs-down) {
                        height: 400px;
                    }
                }

                img.sound-waves {
                    height: 200px;
                    width: 30vw;

                    @media (--md-and-lg-only) {
                        width: 40vw;
                    }

                    @media (--sm-down) {
                        width: 85vw;
                    }

                    &:nth-of-type(2) {
                        width: 7vw;

                        @media (--md-and-lg-only) {
                            width: 12vw;
                        }

                        @media (--sm-down) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
