#not-supported {
    display: none;
}

@media (--demo-only) {
    #intro-container,
    #kiosk-bottom-right-pane,
    #kiosk-container {
        display: none !important;
    }
    #not-supported {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: black;
        color: white;
        p {
            margin: 0 16px;
        }
    }
}
