.faq-hero {
    border-top: 1px solid var(--light-grey);
    left: -1rem;
    width: calc(100% + 2rem);
    position: relative;

    & .wave-top {
        position: absolute;
        top: -2px;
        left: 0;
        pointer-events: none;
    }

    .faq-header-container {
        position: relative;

        @media (--sm-down) {
            padding: 0 2rem;
            flex-direction: column;
        }

        & .waves {
            position: absolute;
            bottom: -2px;
            right: 0;
            pointer-events: none;
        }
    }

    & .faq-header {
        transition: opacity var(--transition-duration-slow) var(--easing);
        max-width: var(--desktop-width);
        margin-right: auto;
        margin-left: auto;
        min-height: 100%;
        padding: 0 var(--page-margin);
        display: flex;
        position: relative;
        @media (--md-down) {
            padding: 40px 20px 30px;
            flex-direction: column;
        }
        @media (--xs-down) {
            padding-bottom: 0;
        }

        @media (--lg-up) {
            margin-top: 50px;
            margin-bottom: 0;
            flex-direction: row;
        }

        & .header-line {
            width: 70px;
            height: 3px;
            background: linear-gradient(
                to right,
                var(--gradient-pink),
                var(--gradient-purple)
            );

            @media (--md-down) {
                margin-bottom: 20px;
            }

            @media (--lg-up) {
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }

        & .text {
            position: relative;
            @media (--lg-up) {
                max-width: 470px;
                width: 100%;

                &:first-child {
                    margin-inline-end: 130px;
                }
            }

            & h1 {
                font-weight: normal;

                @media (--md-down) {
                    margin-bottom: 10px;
                    font-size: 36px;
                }

                @media (--lg-up) {
                    margin-bottom: 10px;
                    font-size: 48px;
                }
            }

            & h2 {
                font-family: var(--base-font-family);

                @media (--xs-down) {
                    font-size: var(--font-size);
                }
            }

            & p {
                color: var(--near-black);
                white-space: pre-line;
                line-height: 1.5;
            }
        }

        .intro-img {
            position: relative;
            z-index: var(--middle-z-index);

            @media (--md-up) {
                margin: 4rem 0 1.2rem;
            }
            @media (--md-down) {
                margin: 2rem auto 0;
            }

            & .robot {
                max-width: 100%;
            }
        }
    }

    .faq-container {
        transition: opacity var(--transition-duration-slow) var(--easing);
        max-width: var(--desktop-width);
        margin-right: auto;
        margin-left: auto;
        min-height: 100%;
        padding: 0 var(--page-margin);

        @media (--xs-down) {
            &.no-padding-xs {
                padding: 0;
            }
        }

        @media (--md-up) {
            min-height: auto;
            padding: 0;
        }
    }

    & .faq-section-container {
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
        padding-left: 1rem;

        @media (--md-down) {
            flex-direction: column;
            padding-top: 2rem;
        }

        @media (--sm-down) {
            flex-direction: column;
            padding: 2rem 1rem 0;
        }

        & nav {
            position: sticky;
            max-width: 310px;
            flex: 1;

            @media (--md-down) {
                top: 0;
                margin-bottom: 30px;
                padding-bottom: 10px;
                z-index: var(--override-z-index);
                overflow: auto;
                max-width: inherit;
                background-color: rgba(249, 249, 249, 1);
            }
            @media (--sm-down) {
                padding: 0 1.25rem;
                padding-bottom: 20px;
            }

            @media (--lg-up) {
                top: 100px;
                max-width: 310px;
                height: 100%;
            }

            & ul {
                list-style: none;

                @media (--md-down) {
                    display: flex;
                    flex-direction: row;
                }
            }

            & li {
                font-weight: 600;
                opacity: 0.5;

                @media (--md-down) {
                    margin-inline-end: 20px;

                    &:last-child {
                        margin-inline-end: 0;
                    }
                }

                @media (--sm-down) {
                    margin-inline-end: 10px;
                }

                @media (--lg-up) {
                    margin-bottom: 17px;
                    font-family: var(--strong-font-family);
                    font-size: var(--font-size-lg);
                }

                &.active {
                    opacity: 1;

                    & .line {
                        background-image: linear-gradient(
                            to right,
                            var(--gradient-pink),
                            var(--gradient-purple)
                        );
                    }
                }

                & .line {
                    margin-bottom: 10px;
                    height: 3px;
                    max-width: 210px;
                }
            }
        }
    }

    & .faq-section {
        flex: 2;
        display: flex;
        flex-flow: wrap;

        & .faq-q {
            border-top: 2px solid var(--darker-grey);
            padding: 1rem 0 2rem;
            font-family: var(--base-font-family);
            color: var(--near-black);
            display: flex;
            cursor: pointer;

            @media (--xs-down) {
                border-top-width: 1px;
                padding: 1.25rem 0.25rem 1.25rem 0;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
            }

            & .faq-icon {
                min-width: 24px;
                display: flex;
                padding: 6px 5px 0 24px;
                padding-inline-start: 24px;
                padding-inline-end: 5px;
                @media (--xs-down) {
                    padding: 0 5px 0 16px;
                }
            }

            h3 {
                @media (--xs-down) {
                    flex: 1;
                    font-family: var(--base-font-family);
                    font-size: var(--font-size);
                }
            }
        }

        & .faq-a {
            max-height: 0;
            width: calc(200% + 6rem);
            overflow: hidden;
            box-sizing: initial;
            opacity: 0;
            transition: all var(--transition-duration) var(--easing);

            @media (--sm-down) {
                left: 0;
                width: 100%;
            }

            & p {
                margin: 30px 75px;
                @media (--sm-down) {
                    margin: 0 30px 30px;
                }
                @media (--xs-down) {
                    font-size: 0.9rem;
                    margin: 0;
                }
            }

            & .line {
                height: 3px;
                background: linear-gradient(
                    to right,
                    var(--gradient-pink),
                    var(--gradient-purple)
                );
                margin: 0 75px 30px;

                @media (--md-down) {
                    margin-bottom: 20px;
                }

                @media (--xs-down) {
                    width: calc(100% - 2.5rem);
                    margin: 1rem 1.25rem 1.6rem;
                }
            }
        }

        & .faq-q-and-a {
            display: flex;
            flex-flow: wrap;
            padding: 10px 0;
            padding-bottom: 4rem;
        }
    }

    & .question-block {
        width: 50%;

        padding: 0 3rem;
        z-index: var(--middle-z-index);

        @media (--sm-down) {
            width: 100%;
            padding: 0 1rem;
        }
        @media (--xs-down) {
            padding: 0;
            margin-left: 1.25rem;
        }

        &.active {
            z-index: var(--top-z-index);

            @media (--xs-down) {
                margin-left: 0;
            }

            & .faq-q {
                border-top: 2px solid var(--warm-grey);
                background-color: var(--white);
                color: var(--black);

                @media (--xs-down) {
                    border-top-width: 1px;
                    padding: 1.25rem;
                }

                & .faq-icon {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            & .faq-a {
                background-color: var(--white);
                max-height: 1000px;
                opacity: 1;
                margin-bottom: 30px;

                @media (--sm-down) {
                    margin-bottom: 0;
                }

                & p {
                    @media (--xs-down) {
                        padding: 0 1.25rem 1.25rem 1.25rem;
                    }
                }
            }
        }

        &:nth-child(even) {
            & .faq-a {
                left: calc(-100% - 6rem);
                position: relative;

                [dir='rtl'] & {
                    left: auto;
                    right: calc(-100% - 6rem);
                }
                @media (--sm-down) {
                    left: 0;
                }
            }
        }

        &.glossary {
            @media (--xs-down) {
                margin-left: 0;
            }

            & .faq-q {
                color: var(--black);
                cursor: text;

                @media (--xs-down) {
                    border-top-width: 1px;
                    padding: 1.25rem;
                }

                & .faq-icon {
                    display: none;
                }
            }

            & .faq-a {
                max-height: 1000px;
                opacity: 1;
                margin-bottom: 30px;
                width: 100%;

                @media (--sm-down) {
                    margin-bottom: 0;
                }

                & p {
                    margin: 0;
                    @media (--xs-down) {
                        padding: 0 1.25rem 1.25rem 1.25rem;
                    }
                }
            }

            & .line {
                display: none;
            }

            &:nth-child(even) {
                & .faq-a {
                    left: 0;
                }
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    .faq-content {
        background-image: linear-gradient(
            to bottom,
            var(--lighter-grey) 50%,
            var(--white)
        );
        position: relative;
        z-index: var(--middle-z-index);

        @media (--sm-up) {
            background-image: linear-gradient(
                to bottom,
                var(--lighter-grey),
                var(--white)
            );
        }

        & .faq-search {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: stretch;

            @media (--md-up) {
                padding: 0 5rem;
            }
            @media (--lg-up) {
                padding: 0 15rem;
            }
            @media (--sm-down) {
                margin: 0 2.25rem;
            }

            & input,
            & button {
                height: 80px;

                position: relative;
                top: -40px;
                @media (--xs-down) {
                    height: 70px;
                    top: -35px;
                }
            }

            & input {
                flex: 10;
                width: 100%;
                padding: 30px;
                font-size: 20px;
                font-family: var(--strong-font-family);
                border: solid 1px var(--light-grey);
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                flex-grow: 1;
                background: var(--white);

                &:focus {
                    outline: none !important;
                }

                &::placeholder {
                    color: var(--black);
                }
            }

            & button {
                align-self: flex-end;
                border: none;
                outline: none;
                width: 100px;
                position: relative;
                background: var(--blue);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                flex: 0 0 100px;
                transition: all var(--transition-duration) var(--easing);
                cursor: pointer;

                &:hover {
                    background-color: var(--warm-grey);
                }
            }

            & .search-button {
                background-color: var(--blue);

                & .icon {
                    & path {
                        fill: var(--white);
                    }
                }
            }
        }
    }
}
