.page-text-content {
    h1,
    h2,
    h3,
    p,
    ul {
        margin-bottom: 1em;
    }

    ul {
        margin-left: 2em;
    }

    li {
        margin-bottom: 0.5em;
    }

    a {
        color: var(--link-color);
    }
}
