.button {
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    min-width: 14rem;
    height: 3rem;
    font-size: .9rem;
    font-weight: 600;
    font-family: var(--base-font-family);
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: all var(--transition-duration) linear;
    background: black;
    color: var(--white);
    display: block;
    width: 100%;

    @media (--md-up) {
        display: initial;
        width: auto;
        height: auto;
    }

    &.outline {
        background-color: var(--white);
        color: var(--black);
    }

    &.rounded {
        border-radius: 50px;
    }
}

body:not(.mobile-safari) .button:hover,
.is-keyboard-focus .button:focus {
    background-color: var(--white);
    color: var(--black);
}

body:not(.mobile-safari) .button.outline:hover,
.is-keyboard-focus .button.outline:focus {
    background-color: var(--black);
    color: var(--white);
}

body:not(.mobile-safari) .button:hover path,
.is-keyboard-focus .button:focus path {
    fill: var(--black);
}

body:not(.mobile-safari) .button.outline:hover path,
.is-keyboard-focus .button:focus path {
    fill: var(--white);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.3;
}

.card-action {
    border: none;
    padding: 0.8rem 1.2rem;
    min-width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--base-font-family);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0 2px;;
    background: white;
    white-space: nowrap;
    animation: fade-in var(--transition-duration);
}

body:not(.mobile-safari) .card-action:hover,
body:not(.mobile-safari) .button.card-action:hover,
.is-keyboard-focus .card-action:focus,
.is-keyboard-focus .button.card-action:focus {
    outline: none;
    margin: 1px -1px -1px 1px;
    background: white;
    color: var(--black);
    opacity: .8;
    box-shadow: none;
}

body:not(.mobile-safari) .button.card-action:hover path,
.is-keyboard-focus .button.card-action:focus path {
    fill: var(--black);
}

@media (--mobile) {
    .card-action {
        white-space: normal;
    }
}

.hr {
    border: none;
    margin: 1.5rem 0;
    width: 100%;
    height: 1.5px;
    background-color: rgba(230, 229, 227, 0.6);
}

.labeled-form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-style: italic;
    font-size: var(--font-size-small);
    color: #4A4A4A;

    & :required, & :valid {
        box-shadow: none;
    }

    & input, & select, & textarea {
        box-sizing: border-box;
        border: none;
        margin-top: .2rem;
        padding: .5rem;
        font-size: var(--font-size);
        font-family: var(--base-font-family);
        color: var(--warm-grey);
        background-color: var(--light-grey);
    }

    & input, & select {
        height: var(--input-height);
    }

    &.for-select {
        & .wrapper {
            position: relative;

            & select {
                cursor: pointer;
                padding-right: 33px;
                width: 100%;
                appearance: none;
            }
        }
    }
}

.menu-icon {
    transform: scale(2);

    & rect {
        transition: transform var(--transition-duration) var(--easing);
    }

    &.active {
        & .left {
            transform: translateX(-4px);
        }

        & .right {
            transform: translateX(4px);
        }
    }
}
