.button {
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    min-width: 14rem;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--base-font-family);
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: all 0.1s linear;
    background: black;
    color: white;
}

.button.outline {
    background-color: var(--base-background-color);
    color: black;
}

@media (--mobile) {
    .button {
        display: block;
        width: 100%;
    }
}

body:not(.mobile-safari) .button:hover,
.is-keyboard-focus .button:focus {
    background-color: var(--base-background-color);
    color: black;
}

body:not(.mobile-safari) .button.outline:hover,
.is-keyboard-focus .button.outline:focus {
    background-color: black;
    color: white;
}

body:not(.mobile-safari) .button:hover path,
.is-keyboard-focus .button:focus path {
    fill: black;
}

body:not(.mobile-safari) .button.outline:hover path,
.is-keyboard-focus .button:focus path {
    fill: var(--base-background-color);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.3;
}

.card-action {
    border: none;
    padding: 0.8rem 1.2rem;
    min-width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--base-font-family);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0 2px;;
    background: white;
    text-transform: none;
    white-space: nowrap;
    animation: fade-in .5s;
}

body:not(.mobile-safari) .card-action:hover,
body:not(.mobile-safari) .button.card-action:hover,
.is-keyboard-focus .card-action:focus,
.is-keyboard-focus .button.card-action:focus {
    outline: none;
    margin: 1px -1px -1px 1px;
    background: white;
    color: black;
    opacity: .8;
    box-shadow: none;
}

body:not(.mobile-safari) .button.card-action:hover path,
.is-keyboard-focus .button.card-action:focus path {
    fill: black;
}

@media (--mobile) {
    .card-action {
        white-space: normal;
    }
}

.hr {
    border: none;
    margin: 1.5rem 0;
    width: 100%;
    height: 0.05rem;
    background-color: var(--color-record-hr);
}

.labeled-form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-style: italic;
    color: #4A4A4A;
}

.labeled-form-control {
    font-size: var(--small-font-size);
}

.labeled-form-control input, .labeled-form-control select, .labeled-form-control textarea {
    box-sizing: border-box;
    border: none;
    margin-top: .2rem;
    padding: .5rem;
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    background-color: var(--color-input-background);
    color: #959595;
}

.labeled-form-control input, .labeled-form-control select {
    height: var(--input-height);
}

.labeled-form-control :required, .labeled-form-control :valid {
    box-shadow: none;
}

.menu-icon {
    transform: scale(2);
}

.menu-icon rect {
    transition: transform .2s var(--easing);
}

.menu-icon.active .left {
    transform: translateX(-4px);
}

.menu-icon.active .right {
    transform: translateX(4px);
}
