.progress {
    margin: var(--standard-margin) 0;
    height: 2rem;
    width: 100%;
    background: var(--grey);
}

.progressBar {
    background: var(--blue);
    height: 100%;
    max-width: 100%;
}
