.progress-bar {
    margin: var(--standard-margin) 0;
    height: 2rem;
    width: 100%;
    background: var(--grey);

    & .progress {
        height: 100%;
        box-sizing: border-box;
        padding-right: var(--standard-margin);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--white);
        font-weight: bold;
        background: var(--valid-green);
        transition: width var(--transition-duration-slow) var(--easing);

        &.blue {
            background: var(--blue);
        }
    }
}
