.notification-pill {
    position: fixed;
    top: 10px;
    border-radius: 29px;
    margin-top: 10px;
    padding: 7px 20px;

    display: flex;
    align-items: center;

    color: var(--white);
    opacity: 1;
    transition: opacity linear var(--transition-duration);
    animation: fade-in var(--transition-duration-slow);
    &.success {
        background: var(--valid-green);
    }

    &.error {
        background: var(--red);
    }

    &.achievement {
        background: var(--blue);
        line-height: 1.5;
        border-radius: 100px 0 0 100px;
        padding: 10px 20px;
        max-width: 300px;
    }

    &:first-child {
        margin-top: 0;
    }

    & a {
        color: var(--white);
    }

    & .icon,
    & svg {
        font-size: 9px;
        margin-inline-end: 10px;

        & path {
            fill: var(--white);
        }
    }
    .score {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }
}
