.custom-goal {
    flex: none;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);

    @media (--md-up) {
        border-left: 1px solid var(--darker-grey);
        max-width: 445px;

        [dir='rtl'] & {
            border-right: 1px solid var(--darker-grey);
        }
    }

    & h1,
    h2 {
        text-align: center;
        font-family: var(--base-font-family);
        font-weight: 300;
    }

    & h1 {
        margin-bottom: 8px;
        letter-spacing: 1.3px;
        font-size: var(--font-size-xl);
    }

    & h2 {
        margin: 0 20px 20px;
        font-size: var(--font-size-lg);
    }

    & .waves {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: url('/img/wave.svg') no-repeat 0 center;
        background-size: contain;
    }

    & .mars {
        max-height: 230px;
    }

    & .padded {
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }

    & .box {
        border-radius: 2px;
        border: 1.6px solid var(--light-grey);
        margin-bottom: 10px;
        padding: 20px 30px 20px 20px;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        & input {
            margin-right: 10px;

            [dir='rtl'] & {
                margin-left: 10px;
            }
        }

        & .content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: start;

            & button {
                border: none;
                padding: 0;
            }

            & .right {
                font-size: 14px;
                letter-spacing: 0.5px;
                color: var(--near-black);
                font-style: italic;
            }
        }
    }

    & .fields {
        margin-bottom: 30px;

        &.completed .box {
            background: #efefef;
        }
    }

    & .step-buttons {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & button {
            border: 3px solid transparent;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            font-weight: 600;
            color: var(--blue);
            background: color-mod(var(--blue) alpha(20%));
            transition: background linear var(--transition-duration),
                color linear var(--transition-duration);
        }

        & .active {
            border-radius: 50%;
            border: 1px solid var(--blue);

            & button {
                border: 3px solid var(--desert-storm);
            }
        }

        & .completed button {
            background: var(--blue);
            color: var(--white);
        }

        & .line {
            border-top: 2px solid var(--blue);
            width: 37px;
            opacity: 0.2;
            transition: opacity linear var(--transition-duration);

            @media (max-width: 360px) {
                width: 20px;
            }

            &.fill {
                opacity: 1;
            }
        }
    }

    & .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .close-button {
            border: 2px solid var(--grey);
            align-self: center;
        }

        & .filler {
            width: 50px;
        }
    }

    & .arrow-button {
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transform: scaleX(-1);
        background: var(--blue);
        transition: background linear var(--transition-duration);

        & path {
            fill: var(--white);
        }

        &:disabled {
            background: var(--warm-grey);
        }
    }

    & .close-button {
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
    }

    &.step-0 {
        padding-top: 64px;

        @media (--md-up) {
            padding-bottom: 0;
        }

        & .text {
            margin-bottom: 64px;
            max-width: 400px;
            text-align: center;
        }

        & .sub-head {
            line-height: 1.5;
        }

        & .waves {
            margin-bottom: 32px;
        }

        & .select-wrap {
            margin-bottom: 32px;
        }

        & .get-started-button {
            border: transparent;
            margin-bottom: 80px;
            padding: 0 33px;
            min-width: auto;
            height: 57px;
            background: var(--blue);
            color: var(--white);

            &:hover {
                border: 1px solid black;
            }

            &:disabled {
                opacity: 1;
                background-color: var(--warm-grey);
            }
        }
    }

    &.step-1 {
        padding-bottom: 0;

        & .waves {
            padding-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-image: url('./wave-2.svg');
            background-position-y: bottom;

            & .text {
                margin-left: 40px;
                max-width: 160px;
                font-size: 14px;
                line-height: 1.7;
                color: var(--near-black);
            }

            & h4 {
                margin-bottom: 5px;
                font-family: var(--base-font-family);
            }
        }
    }

    &.step-4 {
        text-align: center;

        & p {
            margin-bottom: 10px;
            font-size: 14px;
        }

        & a {
            color: var(--blue);
            text-decoration: underline;
        }

        & .terms {
            margin-bottom: 20px;
            display: block;
        }

        & .subscription-info {
            color: var(--warm-grey);
        }

        & .manage-subscriptions {
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: var(--black);

            & svg {
                margin-inline-start: 5px;
            }
        }

        & .submit {
            border: none;
            padding: 0 30px;
            height: 57px;
            min-width: auto;
            background: var(--blue);
            color: var(--white);

            &:hover {
                border: 1px solid var(--black);
            }

            & svg {
                margin-right: 20px;

                [dir='rtl'] & {
                    margin-left: 20px;
                }
            }

            & path {
                fill: var(--white);
            }
        }
    }

    &.step-5 {
        padding-top: 125px;
        background: color-mod(var(--valid-green) alpha(15%));

        & .padded {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .check {
            margin-bottom: 50px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &,
            & .shadow {
                border-radius: 50%;
                width: 88px;
                height: 88px;
                background: var(--valid-green);
            }

            & .shadow {
                position: absolute;
                top: 15px;
                opacity: 0.5;
                filter: blur(7.6px);
            }

            & svg {
                z-index: var(--middle-z-index);
            }

            & path {
                fill: var(--white);
            }
        }

        & p {
            margin-bottom: 20px;
            text-align: center;
            color: var(--near-black);
        }

        & .share-button {
            margin-bottom: 140px;
            padding: 0 30px;
            height: 57px;
            min-width: auto;
            background: var(--black);

            & svg {
                margin-right: 20px;

                [dir='rtl'] & {
                    margin-left: 20px;
                }
            }

            & path {
                fill: var(--white);
            }
        }
    }

    & .view-goal {
        width: 100%;

        & .top {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        & h2 {
            border-bottom: 1px solid var(--grey);
            margin: 0;
            margin-right: 10px;
            padding-bottom: 5px;
            width: 100%;
            height: max-content;
            text-align: start;
        }

        & .edit-button {
            border: none;
            border-radius: 50%;
            max-width: 50px;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--black);

            & path {
                fill: var(--white);
            }
        }

        & .goal-box {
            align-items: center;
            border: 1.6px solid var(--grey);
            border-radius: 5px;
            margin-bottom: 70px;
            padding: 30px 30px 50px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #f9f9f8;

            &.listen {
                --color: var(--valid-green);
            }

            &.speak {
                --color: var(--red);
            }

            color: var(--color);
            --type-color: var(--color);

            & .relative {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            & .circle-progress {
                margin-right: 10px;
            }

            & .interval {
                font-size: var(--font-size-xs);
                letter-spacing: 0.5px;
                color: var(--black);
            }

            & .cta {
                border: none;
                margin: 0 auto;
                height: 57px;
                min-width: auto;
                width: 160px;
                position: absolute;
                bottom: -28.5px;
                left: 0;
                right: 0;
                color: var(--white);
                background: var(--color);
            }
        }
    }
}
