.goals-inner {
    display: flex;

    @media (--sm-down) {
        flex-direction: column;

        & .custom-goal {
            order: 0;
        }

        & .goal-rows {
            order: 1;
        }
    }

    @media (--md-up) {
        flex-direction: row;
        justify-content: space-between;
    }

    & .goal-rows {
        flex-shrink: 1;
        padding: 0 20px;
        overflow-x: auto;

        @media (--sm-down) {
            margin-top: 30px;
        }

        @media (--md-up) {
            margin-top: 20px;
        }
    }
}
