.alert {
    color: var(--white);
    padding: 8px;
    font-size: var(--font-size-xs);

    &.success {
        background-color: var(--green);
    }

    &.error {
        background-color: var(--red);
    }

    & > .icon {
        font-size: 0.3rem;
        margin: 5px;
        float: right;
        cursor: pointer;
    }
}
