#email-subscription {
    //border: 1px solid white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    //width: 500px;

    & .title {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 0.95rem;
        font-weight: normal;
        font-family: sans-serif;
        color: var(--warm-grey);
    }

    & .submission {
        height: 45px;
        display: flex;

        //justify-content: space-around;

        /* & > * {
          margin: 0 21px;
      } */
    }

    & .input {
        width: 100%;
    }

    & .submit {
        width: 45px;
        background-color: orange;
    }
}
