@import url('../vars.css');

.submission {
    height: 45px;
    display: flex;
}

input {
    padding: 15px;
    font-size: var(--font-size);
    border: none;
    flex: 6;
}

.submit-button {
    width: 45px;
    transition: all 300ms;
    background-color: var(--blue);
    position: relative;
    & .icon {
        height: 16px;
    }
}

.success-button {
    width: 45px;
    transition: all 300ms;
    background-color: var(--valid-green);
    position: relative;
    & .icon {
        height: 25px;
    }
}

.error-button {
    width: 45px;
    transition: all 300ms;
    background-color: var(--red);
    position: relative;
    & .icon {
        height: 24px;
    }
}

.icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    & path {
        fill: white;
    }
}
