.partners-section {
    text-align: center;
    padding: 6rem 1rem;
    background-color: var(--white);

    .partners-section-container {
        overflow-x: auto;
        .partners-title {
            font-size: 40px;
            margin-block-end: 30px;

            @media (--sm-down) {
                font-size: var(--font-size-lg);
            }
        }

        .partners-logos {
            display: flex;
            align-items: center;
            width: var(--desktop-width);
            margin: 0 auto;
            white-space: nowrap;
            position: relative;
            padding: 1rem 0;
            justify-content: space-between;

            .logo {
                width: 170px;

                &.collectivat,
                &.mak {
                    width: 100px;
                }

                &.ff {
                    @media (--xs-down) {
                        width: 200px;
                    }
                }
            }
        }
    }
}
