.partners-section {
    text-align: center;
    padding: 6rem 1rem;
    background-color: var(--white);

    .partners-section-container {
        .partners-title {
            font-size: 40px;
            margin-block-end: 30px;

            @media (--sm-down) {
                font-size: var(--font-size-lg);
            }
        }

        .partners-logos {
            display: flex;
            align-items: center;
            gap: 6vw;
            overflow: auto;
            white-space: nowrap;
            position: relative;
            padding: 1rem 0;

            @media (--sm-down) {
                gap: 12vw;
            }

            @media (width > 1600px) {
                justify-content: center;
            }

            .logo {
                width: 170px;

                &.collectivat,
                &.mak {
                    width: 100px;
                }

                &.ff {
                    @media (--xs-down) {
                        width: 200px;
                    }
                }
            }
        }
    }
}
