.ReactModal__Overlay {
    display: table;
    z-index: var(--top-z-index);
    width: 100%;
    height: 100%;
    animation: fade-in .2s;
}

.ReactModal__Content {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.ReactModal__Content .inner {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 40rem;
    text-align: center;
    background: var(--base-background-color);
    pointer-events: all;
}

.ReactModal__Content .buttons {
    margin-top: 1rem;
}

.ReactModal__Content button {
    margin: var(--standard-margin);
    text-transform: uppercase;
}
