.ReactModal__Overlay {
    display: table;
    z-index: var(--top-z-index);
    width: 100%;
    height: 100%;
    animation: fade-in var(--transition-duration);
}

/* We need to use !important because the react modal library we use sets inline-styles */
.ReactModal__Content {
    position: static !important;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

@media (--mobile) {
    .ReactModal__Content {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        border-radius: 0 !important;
    }
}

.ReactModal__Content .inner {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    min-height: 99vh;
    text-align: center;
    background: var(--white);
    pointer-events: all;

    @media (--md-up) {
        min-height: auto;
    }
}

.ReactModal__Content .buttons {
    margin-top: 1rem;
    min-width: 12rem;
}

.ReactModal__Content .buttons .button {
    margin: var(--standard-margin);
}
