.ReactModal__Overlay {
    z-index: var(--top-z-index);
    width: 100%;
    height: 100%;
    animation: fade-in var(--transition-duration);
    background: rgba(67, 101, 148, 0.9) !important;

    @media (--md-up) {
        display: table;
    }
}

/* We need to use !important because the react modal library we use sets inline-styles */
.ReactModal__Content {
    position: static !important;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
    border: none !important;

    @media (--sm-down) {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        border-radius: 0 !important;
    }

    & .close {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
    }

    & .inner {
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 2rem;
        width: 100%;
        max-width: 40rem;
        min-height: 99vh;
        text-align: center;
        background: var(--white);
        pointer-events: all;
        box-shadow: 0 2px 44px 0 color(#0043a0 alpha(50%));

        @media (--md-up) {
            min-height: auto;
        }
    }

    & .buttons {
        margin-top: 1rem;
        min-width: 12rem;
        display: flex;
        justify-content: center;

        @media (--sm-down) {
            flex-direction: column;
        }

        & .button {
            margin: var(--standard-margin);
        }
    }
}
