{
  "db": {
    "user": "{{ if exists "/config/Database/User" }}{{ getv "/config/Database/User" }}{{ else }}voicecommons{{ end }}",
    "password": "{{ if exists "/config/Database/Password" }}{{ getv "/config/Database/Password" }}{{ else }}voicecommons{{ end }}",
    "database": "{{ if exists "/config/Database/Name" }}{{ getv "/config/Database/Name" }}{{ else }}voiceweb{{ end }}",
    "host": "{{ if exists "/config/Database/Server" }}{{ getv "/config/Database/Server" }}{{ else }}localhost{{ end }}"
  },
  "clipBucket": {
    "name": "{{ if exists "/config/Bucket/Clips/Name" }}{{ getv "/config/Bucket/Clips/Name" }}{{ end }}"
  },
  "outBucket": {
    "name": "{{ if exists "/config/Bucket/Bundler/Name" }}{{ getv "/config/Bucket/Bundler/Name" }}{{ end }}"
  },
  "salt": "{{ if exists "/config/Bundler/Salt" }}{{ getv "/config/Bundler/Salt" }}{{ end }}"
}
