{
  "port": 9000,
  "logfile": "/var/log/voice.log",
  "PROD": true,
  "DB_ROOT_USER": "{{ if exists "/config/Database/User" }}{{ getv "/config/Database/User" }}{{ else }}voicecommons{{ end }}",
  "DB_ROOT_PASS": "{{ if exists "/config/Database/Password" }}{{ getv "/config/Database/Password" }}{{ else }}voicecommons{{ end }}",
  "MYSQLUSER": "{{ if exists "/config/Database/User" }}{{ getv "/config/Database/User" }}{{ else }}voicecommons{{ end }}",
  "MYSQLPASS": "{{ if exists "/config/Database/Password" }}{{ getv "/config/Database/Password" }}{{ else }}voicecommons{{ end }}",
  "MYSQLDBNAME": "{{ if exists "/config/Database/Name" }}{{ getv "/config/Database/Name" }}{{ else }}voiceweb{{ end }}",
  "MYSQLHOST": "{{ if exists "/config/Database/Server" }}{{ getv "/config/Database/Server" }}{{ else }}localhost{{ end }}",
  "MYSQLPORT":  "3306",
  "BUCKET_NAME": "{{ if exists "/config/Bucket/Clips/Name" }}{{ getv "/config/Bucket/Clips/Name" }}{{ end }}",
  "BUCKET_LOCATION": "{{ if exists "/config/Bucket/Clips/Region" }}{{ getv "/config/Bucket/Clips/Region" }}{{ end }}",
  "ENVIRONMENT": "{{ if exists "/config/Environment" }}{{ getv "/config/Environment" }}{{ end }}",
  "RELEASE_VERSION": "{{ getenv "GIT_COMMIT_SHA" }}",
  "ENABLE_MIGRATIONS": true
}
