.api-credentials-container {
    padding: 2rem;

    button {
        font-size: var(--font-size);
        font-weight: 400;
        border: none;
    }

    h2 {
        font-size: var(--font-size-xxl);
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .api-credentials-description {
        margin-bottom: 1rem;

        p {
            font-size: var(--font-size);
            font-family: var(--base-font-family);
            color: var(--black);
        }
    }

    .api-keys {
        padding-top: 2rem;

        .api-keys-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .create-api-key-button {
                background-color: var(--anchor-text-blue);
                color: var(--white);
                height: 57px;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;

                &:hover {
                    path {
                        fill: var(--white);
                    }
                }

                @media (--xl-up) {
                    justify-content: space-evenly;
                }

                @media (--lg-down) {
                    gap: 12px;
                }
            }

            @media (--lg-down) {
                flex-direction: column;
                align-items: flex-start;

                .create-api-key-button {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }

    .api-keys-box {
        border-radius: 5px;
        background: linear-gradient(90deg, #f3f2f1 0%, #fff 100%);
        margin-block: 1.5rem;
        padding: 16px 10px;

        h3 {
            font-size: 20px;
            font-weight: 400;
            font-family: var(--base-font-family);
        }
    }

    .api-keys-content {
        p {
            font-size: var(--font-size);
            font-family: var(--base-font-family);

            @media (--sm-down) {
                font-size: var(--font-size-sm);
            }
        }

        p.header {
            font-weight: 700;
            margin-block-end: 10px;
        }

        p.description {
            font-weight: 400;
        }

        .no-api-keys-container {
            display: flex;
            gap: 12px;
            color: var(--black);
        }

        .create-api-key-container {
            div.api-key-info-section {
                display: flex;
                gap: 12px;
                margin-block-start: 24px;
            }

            .generate-api-key-button {
                background-color: var(--valid-green);
                margin-left: auto;
                margin-block-start: 24px;
                color: var(--black);
                padding: 16px 24px;

                svg {
                    margin-inline-end: 16px;

                    path {
                        fill: var(--black);
                    }
                }
            }
        }
    }
}
