@import url('../../../vars.css');
.full-avatar-setup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--wide-desktop-width);
}

.clip {
    & h2 {
        width: 334px;
        height: 58px;
        font-family: var(--strong-font-family);
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--black);
    }

    .clip-title {
        position: relative;
        left: 20%;
        right: 20%;
        padding-top: 10px;
    }
    .group-1 {
        width: 508px;
        height: 169px;
        object-fit: contain;
        background-image: url('./group-1.svg');
    }

    .lottiebg {
        width: 508px;
        height: 169px;
        object-fit: contain;
        background-image: url('./groupbg.svg');
    }

    .lottie {
        width: 508px;
        height: 169px;
    }

    .but {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .icon {
        color: red;
    }
    .primary {
        width: 30%;
        height: 57px;
        background-color: var(--white);
        position: relative;
        left: 29%;
        right: 29%;
        text-decoration: none;

        &:hover {
            border-color: rgba(0, 0, 0, 0.1) !important;
            box-shadow: 0 5px 10px color-mod(var(--red) alpha(40%));
        }
    }
    .primary-2 {
        width: 30%;
        height: 57px;
        background-color: #59cbb7;
        position: relative;
        left: 9%;
        right: 9%;
        color: white;
        text-decoration: none;

        &:hover {
            border-color: rgba(0, 0, 0, 0.1) !important;
            box-shadow: 0 5px 10px color-mod(var(--red) alpha(40%));
        }
    }

    .primary-3 {
        display: inline-flex;
        width: 10%;
        height: 57px;
        background-color: var(--white);
        position: relative;
        left: 8%;
        right: 8%;
        color: green;

        text-decoration: none;

        &:hover {
            border-color: rgba(0, 0, 0, 0.1) !important;
            box-shadow: 0 5px 10px color-mod(var(--red) alpha(40%));
        }
    }

    .create-a-custom-voice {
        width: 470px;
        height: 58px;
        text-align: center;
        color: grey;
        padding-top: 36px;
        padding-left: 22px;
    }

    .recreate-voice {
        width: 470px;
        height: 58px;
        text-align: center;
        color: #629ff4;
        cursor: pointer;
        padding-top: 36px;
        padding-left: 22px;
    }

    .counter {
        position: relative;
        top: 35px;
    }

    .animation {
    }

    .fix {
        height: 240px;
        width: 508px;
    }
    .start-in {
        position: relative;
        top: -12px;
        width: 39px;
        height: 18px;
        font-family: ;
        font-size: 9px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: grey;
    }

    .counter-digit {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #4a4a4a;
    }

    .recorded-play {
        position: relative;
        top: 30px;
    }
}

.avatar-setup {
    width: 250px;

    border: none;
    padding-left: 20px;
    & h2 {
        margin-bottom: 60px;
        font-weight: 600;
    }

    .hide-input {
        display: none;
    }

    & .file-upload,
    & .connect {
        border-radius: 4px;
        margin-bottom: 30px;
        width: 100%;

        @media (--lg-up) {
            width: 70%;
        }
    }

    & .file-upload {
        position: relative;
        border: 3px dotted var(--light-grey);
        box-sizing: border-box;

        & .title {
            position: absolute;
            inset-inline-start: 15px;
            top: -11px;
            font-size: var(--font-size-xs);
            letter-spacing: 0.5px;
            background: var(--white);
        }

        & .upload-label {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: var(--near-black);

            & .browse {
                margin-top: 20px;
                font-size: var(--font-size-xs);
                font-weight: 600;
                text-transform: uppercase;
                color: var(--blue);
            }
        }

        & input {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    & .connect {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 16px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: var(--base-font-family);
        font-size: var(--font-size);
        font-weight: 600;

        & .link path {
            fill: var(--blue);
        }

        & .check path {
            fill: var(--valid-green);
        }
    }
}
