@import url('../vars.css');

.register-section {
    overflow-x: hidden;

    & .top {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: var(--desktop-width);

        @media (--md-down) {
            flex-direction: column;
            align-items: center;

            & .cta-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        & .images-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (--sm-down) {
                width: 100%;
            }

            & .mars {
                width: 290px;
                z-index: var(--middle-z-index);
            }

            & .screenshot {
                margin-top: 50px;
                max-width: 500px;

                @media (--sm-down) {
                    display: none;
                }
            }
        }
    }

    & h1,
    & h2 {
        max-width: 450px;
        width: 100%;
    }

    & h1 {
        margin-bottom: 10px;
        font-family: var(--strong-font-family);
        font-size: var(--font-size-xl);
        font-weight: normal;
    }

    & h2 {
        margin-bottom: 30px;
        font-family: var(--base-font-family);
        font-size: var(--font-size-lg);
        font-weight: 300;
    }

    & .button {
        border: none;
        max-width: 270px;
        height: 57px;
        background: var(--blue);
        color: var(--white);
        text-transform: initial;

        &:hover {
            border: 1px solid var(--blue);
        }
    }

    @media (--md-up) {
        &.flipped {
            & .top {
                flex-direction: row-reverse;
            }

            & .waves {
                transform: scaleX(-1) translateX(60%);
                z-index: var(--bottom-z-index);
            }

            & .bg {
                right: 0;
                left: initial;
            }
        }
    }
}

.signup-info {
    margin-top: 80px;

    @media (--md-up) {
        max-width: 550px;
    }

    & .tabs {
        border-bottom: 2px solid var(--light-grey);
        position: relative;
        display: flex;
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.4px;

        & .waves {
            position: absolute;
            bottom: -5px;
            width: 100vw;
            pointer-events: none;
        }

        & label {
            min-width: 120px;
            color: var(--warm-grey);
            cursor: pointer;
        }

        & div {
            padding-bottom: 14px;
            position: relative;
            top: 1px;
        }

        & input {
            display: none;
        }

        & :checked + div {
            border-bottom: 2px solid var(--black);
            color: var(--black);
        }
    }

    & .list-and-bg {
        position: relative;
    }

    & .bg {
        width: 100vw;
        height: 100%;
        position: absolute;
        left: 0;
        background-image: linear-gradient(
            to bottom,
            var(--desert-storm) 3%,
            var(--desert-storm-2)
        );
    }

    & ul {
        margin-top: 0;
        padding: 30px 20px;
        position: relative;
        overflow: auto;
        list-style: none;
        background: var(--white);

        @media (--sm-down) {
            max-height: 50vh;
        }

        @media (--md-up) {
            max-height: 450px;
        }
    }

    & li {
        padding: 40px 80px 40px 30px;
        display: flex;
        flex-direction: row;
        color: var(--near-black);
        cursor: pointer;

        &.active {
            color: var(--black);
            background: var(--desert-storm);
        }

        & :first-child {
            flex-shrink: 0;
            width: 30px;
        }
    }
}
