@import url('../../media.css');

.pill {
    border-radius: 29px;

    width: 46px;
    height: 46px;

    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    @media (--md-up) {
        margin-top: 1rem;
        margin-inline-start: auto;
        padding: 0 12px;
        width: 100%;
        height: 55px;

        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }

    & .num {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-weight: 600;

        color: var(--near-black);
    }

    & .contents {
        display: none !important;
        height: 100%;
        align-items: center;

        @media (--md-up) {
            display: flex !important;
        }
    }

    &.active {
        border: solid 2px var(--grey);
        background: var(--white);

        & .num {
            color: white;
            background: var(--blue);

            @media (--md-up) {
                background: var(--warm-grey);
            }
        }
    }

    &.done {
        background: var(--white);
        border: solid 2px var(--grey);

        @media (--md-up) {
            border: none;
            padding-inline-start: 6px;
            width: 85%;

            &.closed {
                padding-inline-start: 0;
            }

            & .num {
            /* background: var(--white);    */
                /* background: #065d3a; */
                border: solid 1px #f5f4f3;
                /* color: white; */
            }
        }

        & .contents {
            display: flex;
        }
    }

    &.pending {
        & .num {
            background: var(--white);
        }
    }

    &.open {
        justify-content: space-between;
        width: 175px;

        @media (--sm-down) {
            width: auto;
        }

        & .contents {
            display: flex !important;
        }

        & .num {
            border: solid 1px #f5f4f3;
            margin: 7px 15px 7px 7px;
            background: var(--desert-storm);

            @media (--md-up) {
                margin: 0;
            }
        }
    }
}
