@import url('../../vars.css');

.primary-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .background {
        position: absolute;
        margin: 0 auto;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        filter: blur(7.6px);
        transition: opacity var(--transition-duration) linear;

        @media (--lg-up) {
            width: 109px;
            height: 109px;
        }
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: var(--top-z-index);
        border: none;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background: var(--white);

        @media (--lg-up) {
            width: 88px;
            height: 88px;
        }

        & img {
            height: 24px;

            @media (--lg-up) {
                height: 28px;
            }
        }
    }

    &.record .background {
        opacity: 0.5;
        background: linear-gradient(to left, #88d1f1, #b1b5e5);
    }

    &.stop .background {
        opacity: 0.7;
        background: linear-gradient(to right, #f89096, #b1b4e5);
    }

    &:hover .background {
        opacity: 1;
    }
}
