@import url('../vars.css');
.ReactModal__Content .onboarding-modal {
    width: 774px;
    height: 733px;
    border-radius: 4px;
    padding: 70px;
    max-width: 100%;
}
.step-container {
    width: 54px;
    height: 24px;
    font-family: OpenSans;
    font-size: 16px;
    margin: 0 auto 20px;
}
.title {
    width: 596px;
    font-family: Zilla Slab;
    font-size: 36px;
    margin: 0 auto;
}
.image-container {
    width: 520px;
    height: 320px;
    border-radius: 4px;
    box-shadow: 0 32px 34px -19px rgba(0, 0, 0, 0.37);
    background-color: var(--Desert-Storm);
    margin: 40px auto;
    overflow: hidden;
}
.image-container > img {
    max-width: 100%;
}
.onboarding-buttons {
    margin-bottom: 54px;
}
.onboarding-buttons > button {
    margin: 0 auto;
    width: 156px;
    height: 57px;
    display: inline-flex;
    min-width: auto;
    text-transform: uppercase;
    font-family: OpenSans;
    font-size: 14px;
    letter-spacing: 0.8px;
}
.onboarding-modal .operation-buttons svg,
.onboarding-modal .onboarding-buttons svg {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 34px;
}
.onboarding-modal > .wave {
    margin: 0 -70px 24px;
    height: 390px;
    background: url('./images/wave.svg');
    background-size: 100% 100%;
    display: flex;
}
.onboarding-modal .red-copy {
    width: 242px;
    height: 288px;
    object-fit: contain;
    margin: 61px auto 41px;
}
.onboarding-modal .operation-buttons {
    display: flex;
    justify-content: center;
}
.onboarding-modal .operation-buttons > .speakBtn,
.onboarding-modal .operation-buttons > .listenBtn {
    position: relative;
    z-index: var(--middle-z-index);
    width: 156px;
    height: 57px;
    > a {
        display: flex;
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 1rem;
        border-radius: 1000px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        z-index: var(--middle-z-index);
        background: var(--white);
        &:hover {
            border-color: var(--black);
        }
    }
}

.operation-buttons > .listenBtn {
    margin-left: 20px;
}
.speakBtn::after,
.listenBtn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 1000px;
    filter: blur(7.6px);
    top: 5px;
    z-index: -1;
    left: 0;
}
.speakBtn::after {
    background: linear-gradient(90deg, #f89096, #b1b4e5);
}
.listenBtn::after {
    background: linear-gradient(270deg, #88d1f1, #b1b5e5);
}
