/* Define our icon font. */
@font-face {
  font-family: Icons;
  src: url("/font/icons.ttf");
}

@font-face {
  font-family: ZillaSlab;
  src: url("/font/ZillaSlab-Light.ttf");
}

:root {
  --base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  --strong-font-family: ZillaSlab,Georgia,Utopia,Charter,serif;
  --base-font-size: 15px;
  --header-height: 5rem;
  --input-height: 2.5rem;
  --sidebar-width: 11rem;
  --debug-box-height: 4rem;
  --base-background-image: url("/img/wave-blue-large.png");
  --base-background-image-mobile: url("/img/wave-blue-mobile.png");
  --record-background-image: url("/img/wave-red-large.png");
  --record-background-image-mobile: url("/img/wave-red-mobile.png");
  --page-margin: 1rem;
  --hamburger: calc(var(--header-height) * 0.7);
  --transition-default: 0.3s;
  --desktop-width: 50rem;
  --hero-height: 15.3rem;
  --hero-height-mobile: 12.5rem;
  --robot-height: 19rem;
  --robot-height-mobile: 10rem;
  --bounce-curve: cubic-bezier(0.000, 1.430, 0.700, 0.940);
  --shadow-overhang: 0 1px 0 rgba(12,13,14,0.1),
                     0 1px 3px rgba(12,13,14,0.1),
                     0 4px 20px rgba(12,13,14,0.035),
                     0 1px 1px rgba(12,13,14,0.025);

  --base-background-color: white;
  --base-font-color: black;
  --color-speak: #FB8E92;
  --color-speak-light: #FDC6C8;
  --color-listen: #B7D43F;
  --color-about: #f8b83e;
  --color-profile: #9D9D9C;
  --color-help: #3DFEFD;
  --color-text-help: rgba(255, 255, 255, 0.4);
  --tab-line: 2px solid #3dfefd;

  --highlight-shadow-listen:
    1px 1px 6px var(--color-listen),
    2px 2px 6px var(--color-listen),
    3px 3px 3px var(--color-listen),
    4px 4px 2px var(--color-listen);

  /* Z-indexing */
  --top-z-index: 2;
  --middle-z-index: 1;
  --bottom-z-index: 0;
}

@media (max-width: 600px) {
  :root {
    --robot-height: 16rem;
  }
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  background-color: var(--base-background-color);
  overflow-x: hidden;
}

html, body, #main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  transition: opacity 0.5s linear;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

h1, h2, h3, h4 {
  font-family: var(--strong-font-family);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--base-font-color);
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

hr {
  border-color: var(--base-font-color);
}

a:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 0;
  font-size: var(--base-font-size);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  background-color: var(--base-background-color);
  position: relative;
  transition: all 0.1s linear;
}

@media (max-width: 600px) {
  button {
    display: block;
    width: 100%;
  }
}

@media (min-width: 600px) {
  button:hover:not(.ios) {
    transform: scale(1.1);
  }
}

button.highlight {
  transform: scale(1.1);
}

button:active {
  background: black;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

button.dark {
  background-color: black;
  color: white;
}

button.dark:active {
  background-color: white;
  color: black;
}

select {
  display: block;
  background: none;
  font-size: 1rem;
  width: 100%;
  height: var(--input-height);
  border: 1px solid var(--base-font-color);
}

input[type="email"],
input[type="text"] {
  height: var(--input-height);
  border: 1px solid black;
  border-radius: 0;
  font-size: var(--base-font-size);
  box-sizing: border-box;
  padding: 0.8rem 0.2rem 0;
}

label {
  font-size: 0.7rem;
}

input:invalid {
  border-color: red;
}

.input-and-button {
  display: flex;
  position: relative;
}

.input-and-button input {
  width: 70%;
}

.input-and-button label {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}

.input-and-button button {
  display: inline-block;
  width: unset;
  flex: 1 1 auto;
  color: var(--base-background-color);
  background-color: var(--base-font-color);
  padding: 0;
}

/* Icon font element. */
[data-icon]:before {
  font-family: Icons;
  font-size: 200%;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.strong {
  font-family: var(--strong-font-family);
  font-weight: bold;
}

/* Listen Box Component */
.listen-box {
  --listen-box-height: 5rem;
  --space-between: 0.3rem;
  display: flex;
  margin-bottom: var(--space-between);
  opacity: 0.9;
}

@media (max-width: 600px) {
  .listen-box {
    --listen-box-height: 6rem;
  }
}

.listen-box.loaded {
  opacity: 1;
}

.listen-box > div {
  height: var(--listen-box-height);
}

.sentence-box,
.play-box,
.vote-box {
  position: relative;
}

.sentence-box b,
.play-box b,
.vote-box b {
  position: absolute;
  top: -1.3rem;
  line-height: 1rem;
  font-size: 0.6rem;
}

.sentence-box,
.play-box {
  background-color: var(--color-listen);
}

.sentence-box {
  padding: 0 0.5rem;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.6;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-right: var(--space-between);
}

@media (max-width: 600px) {
  .sentence-box {
    width: 100%;
    height: var(--listen-box-height);
  }
}

.play-box {
  min-width: var(--listen-box-height);
  line-height: var(--listen-box-height);
  text-align: center;
}

.vote-box {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.vote-box > a {
  height: 50%;
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.vote-box > :first-child {
  border-bottom: 1px dotted black;
}

.vote-box > :not(:first-child) {
  color: red;
}

.audio-box {
  display: none;
}

.progress-button {
  overflow: hidden;
}

.progress-button .progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.2s linear;
}

/* Begin cross page code */
#main {
  position: relative;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  height: var(--header-height);
  box-sizing: border-box;
  z-index: var(--top-z-index);
  align-items: flex-start;
  transition: background-color 0.15s linear;
  background-image: url("/img/strip-top.png");
  background-position: 2rem 0;
  background-size: 2rem;
  background-repeat: no-repeat;
}

header.active {
  box-shadow: var(--shadow-overhang);
  background-color: var(--base-background-color);
}

@media (max-width: 600px) {
  header {
    padding: var(--page-margin) var(--page-margin) 0;
    background: none;
  }
}

@media (min-width: 600px) {
  header {
    max-width: var(--desktop-width);
    padding-right: calc(var(--desktop-width) - var(--sidebar-width));
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: unset;
    align-items: baseline;
    flex-direction: column;
    padding-top: 11rem;
    pointer-events: none;
  }
  header > * {
    pointer-events: auto;
  }
}

@media (min-width: 600px) {
  #help-links .content,
  #moz-links .content {
    width: var(--desktop-width);
    margin: 0 auto;
  }
}

#help-links {
  height: 6rem;
  text-align: center;
  padding-top: 1.4rem;
  background-color: var(--color-help);
}

#help-links #contribute .strong {
  font-size: 1.4rem;
}

#moz-links {
  font-size: 0.7rem;
  color: white;
  background-color: black;
}
@media (min-width: 600px) {
  #moz-links {
    height: 4rem;
    padding: 0.4rem 0;
  }
}

#moz-links .content {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  #moz-links .content {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--page-margin);
  }
}


#moz-links .main-logo {
  font-size: 1rem;
  padding-right: 4rem;
}

#moz-links .main-mozilla-logo {
  height: 1.2rem;
}

#moz-links .links a {
  color: var(--color-help);
  margin-right: 1.5rem;
}

@media (max-width: 600px) {
  #moz-links .links a {
    display: block;
    padding: 0.5rem 0;
  }
}

#moz-links .links > :first-child {
  margin-bottom: 0.2rem;
}

.nav-list {
  font-family: var(--strong-font-family);
  display: flex;
}

.tab {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 0;
  margin: 0 var(--page-margin);
  vertical-align: bottom;
}

.tab .tab-name {
  background-color: var(--color-text-help);
  transition: background-color 0.15s ease-in;
  padding: 0.2rem 6rem 0.2rem 0.6rem;
}

.tab.active .tab-name {
  background-color: var(--color-about);
  padding-right: 6rem;
}

.tab.active .tab-name.speak {
  background-color: var(--color-speak);
}

.tab.active .tab-name.listen {
  background-color: var(--color-listen);
}

.tab.active .tab-name.profile {
  background-color: var(--color-profile);
}


#main-nav .tab {
  line-height: 1.4;
  margin: 0.35rem 0;
}

#main-nav .tab.active {
  transition: none;
}

@media (max-width: 600px) {
  #scroller {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
}

#scrollee {
  background-size: 100% 20rem;
  background-repeat: repeat-x;
  background-position: center 0.7rem;
  animation: mario-scroll 5s linear infinite;
}

@keyframes mario-scroll {
  100%{ background-position: 20% 0.7rem; }
}


@media (max-width: 600px) {
  #scrollee {
    background-size: 100% 12.5rem;
    background-image: var(--base-background-image-mobile);
  }
}

@media (min-width: 600px) {
  #scrollee {
    background-image: var(--base-background-image);
  }
}

@media (min-width: 600px) {
  .recording #scrollee {
    background-size: 100% 20rem;
    background-image: var(--record-background-image);
  }
}

@media (max-width: 600px) {
  .recording #scrollee {
    background-size: 100% 12.5rem;
    background-image: var(--record-background-image-mobile);
  }
}

.profile #scrollee {
  background: none;
}


/**
 * We have two different page transition types:
 * one for desktop and one for mobile.
 */
#content {
  transition: transform 0.2s var(--bounce-curve);
  transform: translateY(0);
}

#content.transitioning {
  transform: translateY(100vh);
  transition: opacity 0.2s linear;
  opacity: 0;
}

@media (min-width: 600px) {
  #content {
    position: unset;
    flex: 1 1 100%;
  }
}

#content > div {
  display: none;
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 0.4s ease-in;
  z-index: var(--bottom-z-index);
  max-width: var(--desktop-width);
  margin: 0 auto;
}

@media (max-width: 600px) {
  #content > div {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 var(--page-margin);
  }
}

#content > div.active {
  display: block;
  opacity: 1;
  z-index: var(--middle-z-index);
}

.main-logo {
  flex: 0 0 auto;
  font-family: var(--strong-font-family);
  font-size: 1.5rem;
}

.main-title {
  padding: 0 0.1rem;
  color: var(--base-background-color);
  background-color: var(--base-font-color);
  line-height: 1.4;
}

.main-mozilla-logo {
  height: 1.5rem;
  background-color: var(--base-background-color);
}

#hamburger-menu {
  height: var(--hamburger);
  width: var(--hamburger);
  padding: 0;
  margin-left: auto;
  background-color: var(--base-font-color);
  color: var(--base-background-color);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  border: none;
}

#hamburger-menu.is-active {
  transform: rotate(90deg);
}

#main-nav {
  display: none;
  margin: 0;
  flex-flow: column nowrap;
  padding: 0;
  font-weight: bold;
}

@media (min-width: 600px) {
  #hamburger-menu {
    display: none;
  }
  #main-nav {
    display: flex;
    margin-top: 0.7rem;
  }
}

#navigation-modal {
  box-sizing: border-box;
  background-color: var(--base-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--middle-z-index);
  padding: var(--header-height) 0 0;
  pointer-events: none;
  transform: translateY(-100vh);
  transition: all 0.55s var(--bounce-curve);
}

#navigation-modal.is-active {
  display: block;
  transform: translateY(0);
  pointer-events: all;
  transition-duration: 0.4s;
}

#navigation-modal .nav-list {
  flex-flow: column;
  font-size: 1.3rem;
}

#navigation-modal .tab {
  line-height: 3.2;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 2px dashed;
  border-bottom-color: #d5d5d5;
}

.hero {
  text-align: center;
  height: var(--hero-height);
  border-bottom: 3px solid var(--base-font-color);
}

@media (max-width: 600px) {
  .hero {
    height: var(--hero-height-mobile);
  }
}

.hero-space {
  height: 8.5rem;
}

@media (max-width: 600px) {
  .hero-space {
    height: 3rem;
    background: none;
  }
}

.profile .hero {
  display: none;
}

.profile .hero-space {
  display: none;
}

.robot {
  position: relative;
  display: inline-block;
  height: var(--robot-height);
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
  transform: translate(0,0) scale(0);
}

.robot > img {
  height: 100%
}

@media (max-width: 600px) {
  .robot {
    height: 12rem;
    bottom: -3.5rem;
    right: 3.5rem;
  }
}

.record .robot.thanks {
  /*transform: translate(-7.5rem,4rem) rotate(-22deg);*/
  /*transform: translate(5rem,1rem) scale(0.3);*/
  transform: translate(13rem,-7px) scale(.3) rotate(8deg);
  transition-delay: 0s;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .record .robot.thanks {
    transform: translate(11rem,-1.5rem) rotate(17deg) scale(0.5);
  }
}

.home .robot {
  transform: translate(-5rem,2rem)
}

@media (max-width: 600px) {
  .home .robot {
    transform: translate(-1rem,2.2rem);
    height: 10rem;
  }
}

.listen .robot {
  transform: translate(6rem, 5rem);
}

@media (max-width: 600px) {
  .listen .robot {
    transform: translate(8rem,1rem);
  }
}

.record .robot {
  transform: translate(7.2rem, 7.5rem);
}

@media (max-width: 600px) {
  .record .robot {
    transform: translate(4.5rem,0.5rem);
  }
}

.robot .bubble {
  display: none;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  padding-left: 1.5rem;
  height: 4rem;
  width: 13.8rem;
  top: calc(var(--robot-height) / 2);
  right: -120%;
  background-image: url("/img/speech-bubble.png");
  background-size: auto 4rem;
  font-weight: bold;
  animation: throb-size 2s ease-in-out infinite;
  cursor: pointer;
}

@media (max-width: 600px) {
  .robot .bubble {
    height: 4rem;
    width: 11rem;
    right: -150%;
    top: 6rem;
    background-size: 11rem 4rem;
  }
}

@keyframes throb-size {
  50%{ transform: scale(1.05); }
}

/** For now we only see the bubble on the home page */
.home .bubble {
  display: flex;
}

#about-container {
  padding: 0.3rem 1rem;
}

#home-container {
}

#home-title {
  padding: 1rem 0;
}

@media (min-width: 600px) {
  #home-layout {
    background-image: url("/img/strip-repeat.png");
    background-position: 2.5rem 0;
    background-size: 0.2rem;
    background-repeat: repeat-y;
  }
}

@media (max-width: 600px) {
  #home-layout div.left-column {
    padding-left: 0;
  }
  #home-layout div.right-column {
    display: none;
  }
}

#home-layout {
  --donate-height: 5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: var(--donate-height);
}

#home-layout .left-column {
  padding-left: 8rem;
  line-height: 1.55;
}

#home-layout .left-column p:first-child {
  margin-bottom: 1rem;
}

#home-layout .left-column > button {
  float: right;
}

#home-layout .right-column {
  flex: 0 0 30%;
  margin-left: 2rem;
  font-size: 1.2rem;
}

#home-layout .right-column > p {
  text-shadow: var(--highlight-shadow-listen);
}

#donate {
  height: var(--donate-height);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  text-align: center;
}

#donate button {
  margin: 0 auto;
  padding: 0 5rem;
  height: 3rem;
  animation: throb-color 3.5s ease-in-out infinite;
}

@keyframes throb-color {
  50%{background-color: var(--color-speak-light);}
}

#try-it-container {
  margin: 2rem 0;
}

#help-home {
  font-weight: bold;
  padding: 0.5rem 0;
}

#help-home span {
  color: var(--color-listen);
}

#home-container .validator {
  margin-top: 2rem;
}

#listen-container {
  padding: 0.7rem;
  text-align: center;
}

#listen-container .listen-box {
  margin-top: 2rem;
}

.validate-lbl {
  line-height: 1.7rem;
  border: 1px solid gray;
  display: inline-block;
  padding: 0 0.5rem;
  border: 1px solid rgba(24, 24, 24, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

#record-container {
  position: relative;
  top: -4.5rem;
  padding-left: var(--sidebar-width);
  text-align: center;
  padding-top: 0;
}

@media (max-width: 600px) {
  #record-container {
  }
}

.unsupported > :first-child {
  padding-top: 3rem;
}

.unsupported a {
  display: block;
  color: blue;
  margin: 0.5rem 0;
}

.unsupported span {
  margin-right: 0.5rem;
}

.unsupported p {
  padding: 1rem 0;
}

#recordings-count {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

#recordings-count span {
  padding: 0.3rem;
  background-color: var(--color-text-help);
}

.record-sentence {
  height: 8rem;
  margin-top: 0.5rem;
  position: relative;
  transition: transform 0.2s ease-in;
}

.text-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.3rem;
  background-color: var(--base-background-color);
  border: 1px solid black;
  box-shadow: 4px 4px 0 black;
  transition: transform 0.4s var(--bounce-curve);
  font-family: var(--strong-font-family);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box.left {
  transform: translateX(-100vw);
}

.text-box.right {
  transform: translateX(100vw);
}

.refresh {
  position: absolute;
  right: 0.2rem;
  bottom: 0.3rem;;
  font-size: 0.6rem;
}

#refresh-help {
  text-align: right;
  padding-top: 0.3rem;
  padding-right: 0.6rem;
}

#record-button {
  display: inline-block;
  border-radius: 50%;
  border: 0.6rem solid black;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
}

.recording #record-button {
  background-color: var(--color-speak-light);
  border-color: var(--color-speak);
}

#undo-clip {
  position: absolute;
  bottom: -50%;
  color: red;
  left: 2rem;
  z-index: var(--middle-z-index);
  opacity: 1;
  transition: all 0.2s ease-out;
}

.full #undo-clip,
#undo-clip.hide {
  transform: translateX(-10rem);
  opacity: 0;
}

#record-help {
  font-size: 1rem;
  padding: 0 2rem;
}

#voice-submit {
  opacity: 0;
  transition: all 0.2s var(--bounce-curve);
}

.full #voice-record {
  visibility: hidden;
}

.full #voice-submit {
  opacity: 1;
  transform: translateY(-27.5rem);
}

@media (max-width: 600px) {
  .full #voice-submit {
    transform: translateY(-22.5rem);
  }
}


#thank-you {
  font-family: var(--strong-font-family);
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none
}

#tap-to-play {
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem;
}

@media (max-width: 600px) {
  #tap-to-play {
    visibility: hidden;
  }
}


.sentence-box,
#tap-to-play,
#thank-you,
#want-to-review {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

#want-to-review span,
#thank-you span {
  color: white;
  background-color: black;
  padding: 0.5rem;
  display: inline-block;
}

#content > #profile-container {
  padding-top: calc(var(--header-height) + 0.5rem);
  padding-bottom: 2rem;
  text-align: left;
}

@media (min-width: 600px) {
  #content > #profile-container {
    padding-left: var(--sidebar-width);
  }
}

#profile-container h2 {
  padding: 0.8rem 0;;
}

#profile-container hr {
  margin-top: 1.5rem;
}

#profile-container select {
  margin-bottom: 0.5rem;
}

#profile-container #save-demos {
  margin-top: 1rem;
  width: 100%;
  height: var(--input-height);
}

#profile-container .unsaved {
  background-color: yellow;
}

#opt-in {
  margin-top: 1rem;
}

label[for="send-emails"] {
  font-size: 1rem;
}

#email-explanation {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

#debug-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--debug-box-height);
  background-color: var(--base-font-color);
  color: var(--base-background-color);
  z-index: var(--top-z-index);
  overflow: scroll;
}

#debug-box.hidden {
  display: none;
}

.loading {
  animation: loading 2.5s ease infinite;
  background-size: 600% 600%
}

@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.confirm-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--top-z-index);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-modal label {
  display: block;
  margin-bottom: 1rem;
  font-size: larger;
}

.confirm-modal button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  min-width: 10rem;
}

.confirm-modal.visible {
  pointer-events: all;
  opacity: 1;
}

.confirm-modal .main-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background: var(--base-background-color);
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}

#confirm-confirm {
  background-color: var(--color-help);
}

.privacy-content {
  background-color: var(--base-background-color);
  width: var(--desktop-width);
  padding: var(--page-margin);
  transform: scale(0);
  transition: transform 0.2s ease-out;
}

.active .privacy-content {
  transform: scale(1);
}

@media (min-width: 600px) {
  .privacy-content {
    border-radius: 4px;
  }
}

#privacy-container .privacy-content {
  width: unset;
  padding: 0;
}

.privacy-content > * {
  margin: 2.5rem 0;
}

.privacy-content > h1:first-child {
  margin-top: 1rem;
  text-decoration: underline;
}

.privacy-content a {
  display: block;
  color: blue;
}

.button-holder {
  text-align:center;
}

@media (min-width: 600px) {
  .button-holder button {
    margin: 0 1rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: var(--top-z-index);
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transform: opacity 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .overlay {
    overflow-y: scroll;
    align-items: flex-start;
  }
}


.overlay.active {
  pointer-events: all;
  opacity: 1;
}

