:root {
  --base-font-size: 15px;
  --header-height: 3rem;
  --tab-line: 1px solid orange;
  --debug-box-height: 8rem;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: var(--base-font-size);
  background-color: #212121;
  color: #F5F5F5;
  display: flex;
  flex-flow: column nowrap;
  transition: opacity 0.5s linear;
  opacity: 0;
  overflow:hidden
}

/**
 * TODO: Figure out a way to not have content overlap
 * the debug box
 *
@media (max-width: 600px) {
  #content {
    margin-bottom: var(--debug-box-height);
  }
}
 */


body.loading {}

body.loaded {
  opacity: 1;
}

@media (min-width: 600px) {
  body {
    flex-flow: row nowrap;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  background-color: #E8E8E7;
}

@media (min-width: 600px) {
  button:hover:not(.ios) {
    background: #808080;
  }
}

button:active {
  background: #484848;
}

button.disabled {
  pointer-events: none;
  color: #BDBDBD;
}

@media (max-width: 600px) {
  #record-screen > #toolbar > button {
    border-radius: 14px;
    display: block;
    width: 70%;
    margin: 1rem auto;
  }
}

header, .container, footer {
  padding: 0 0.5rem;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: var(--header-height);
  padding: 0.5rem 0.5rem;
  overflow: hidden;
}

@media (min-width: 600px) {
  header {
    flex-flow: column;
    max-width: 10rem;
    overflow: unset;
  }
}

#main-logo {
  flex: 0 0 auto;
  background: url("/img/mic.svg") no-repeat left/contain;
  filter: invert(100%);
  font-weight: bold;
  color: black;
  padding-left: 1.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

#main-nav {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  #main-nav {
    flex-flow: unset;
    display: block;
  }
}

.tab {
  flex-grow: 0;
  padding: 0 1rem;
  line-height: calc(1.2 * var(--header-height));
  vertical-align: bottom;
}

@media (min-width: 600px) {
  #main-nav .tab {
    display: block;
    line-height: 2rem;
  }
  #main-nav .tab.active {
    border-right: var(--tab-line);
    border-bottom: 0px;
  }
}

.tab.active {
  border-bottom: var(--tab-line);
}

#about-container {
  padding: 0rem 0.7rem;
}

#about-container {
  padding: 0.3rem 2rem;
}
#listen-container {
  background: ivory;
  padding: 0.7rem;
  color: black;
  text-align: center;
}

#listen-audio {
  display: block;
  width: 70%;
  margin: 1rem auto;
  border-radius: 14px;
}

.validate-lbl {
  line-height: 1.7rem;
  border: 1px solid gray;
  display: inline-block;
  padding: 0 0.5rem;
  border: 1px solid rgba(24, 24, 24, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

#levels {
  display: block;
  margin: 0 auto;
}

#content {
  flex: 1 1 auto;
  position: relative;
}

@media (min-width: 600px) {
  section#content {
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: 3rem;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s linear;
  opacity: 0;
  z-index: 1;
}

.container.active {
  opacity: 1;
  z-index: 2;
}

#message,
#toolbar {
  border: none;
  text-align: center;
  color: #757575;
  transition: transform 0.2s ease-out;
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
}

#toolbar > button {
  width: 6rem;
  height: 2.8rem;
  margin: 0.5rem 0.25rem;
}

#message {
  display: none;
}

#sentence {
  background-image: linear-gradient(297deg, #cacaca, #f5efe0, #f0d497);
  background-size: 0% 150%;
  background-repeat: no-repeat;
  line-height: 2em;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #212121;
  background-color: #FAFAFA;
  min-height: 7rem;
  border-radius: 3px;
  animation: flow 9s ease infinite;
  transition: background-size 3s linear;
}

#sentence.active {
  background-size: 100% 150%;
}

@keyframes flow {
  0%{background-position-y:0%}
  50%{background-position-y:100%}
  100%{background-position-y:0%}
}

#viz {
  border: none;
  text-align: center;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  height: 100px;
}

#player {
  display: none;
}

#player.disabled {
  opacity: 0.3;
  pointer-events: none;
}

#debug-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--debug-box-height);
  background-color: white;
  color: black;
  z-index: 2;
  overflow: scroll;
}

.loading {
  animation: loading 2.5s ease infinite;
  background-size: 600% 600%
}

@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.confirm-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-modal label {
  display: block;
  margin-bottom: 1rem;
  font-size: larger;
}

.confirm-modal button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  min-width: 10rem;
}

.confirm-modal.visible {
  pointer-events: all;
  opacity: 1;
}

.confirm-modal .main-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background: #444;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}