/* Define our icon font. */
@font-face {
  font-family: Icons;
  src: url("/font/icons.ttf");
}

@font-face {
  font-family: ZillaSlab;
  src: url("/font/ZillaSlab-Light.ttf");
}

:root {
  --base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  --strong-font-family: ZillaSlab,Georgia,Utopia,Charter,serif;
  --base-font-size: 15px;
  --base-font-color: black;
  --header-height: 4.5rem;
  --input-height: 2.5rem;
  --sidebar-width: 11rem;
  --debug-box-height: 8rem;
  --base-background-image: url("/img/blotchy.jpg");
  --page-margin: 1rem;
  --hamburger: calc(var(--header-height) * 0.7);
  --transition-default: 0.3s;
  --desktop-width: 700px;
  --hero-height: 15.3rem;
  --bounce-curve: cubic-bezier(0.000, 1.430, 0.700, 0.940);
  --shadow-overhang: 0 1px 0 rgba(12,13,14,0.1),
                     0 1px 3px rgba(12,13,14,0.1),
                     0 4px 20px rgba(12,13,14,0.035),
                     0 1px 1px rgba(12,13,14,0.025);

  --base-background-color: white;
  --color-listen: #b7d43f;
  --color-accent: #f8b83e;
  --tab-line: 2px solid #3dfefd;

  /* Z-indexing */
  --top-z-index: 2;
  --middle-z-index: 1;
  --bottom-z-index: 0;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  background-color: var(--base-background-color);
  overflow-x: hidden;
}

html, body, #main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  transition: opacity 0.5s linear;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

h1, h2, h3, h4 {
  font-family: var(--strong-font-family);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--base-font-color);
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

hr {
  border-color: var(--base-font-color);
}

a:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 0;
  font-size: var(--base-font-size);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  position: relative;
}

@media (max-width: 600px) {
  button {
    display: block;
    width: 100%;
  }
}

@media (min-width: 600px) {
  button:hover:not(.ios) {
    background: #c07578;
  }
}

button:active {
  background: black;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:disabled {
  pointer-events: none;
  color: #BDBDBD;
}

select {
  display: block;
  background: none;
  font-size: 1rem;
  width: 100%;
  height: var(--input-height);
  border: 1px solid var(--base-font-color);
}

input[type="email"],
input[type="text"] {
  height: var(--input-height);
  border: 1px solid black;
  font-size: var(--base-font-size);
  box-sizing: border-box;
  padding: 0.8rem 0.2rem 0;
}

label {
  font-size: 0.7rem;
}

input:invalid {
  border-color: red;
}

.input-and-button {
  display: flex;
  position: relative;
}

.input-and-button input {
  width: 70%;
}

.input-and-button label {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}

.input-and-button button {
  display: inline-block;
  width: unset;
  flex: 1 1 auto;
  color: var(--base-background-color);
  background-color: var(--base-font-color);
  padding: 0;
}

/* Icon font element. */
[data-icon]:before {
  font-family: Icons;
  font-size: 200%;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Listen Box Component */
.listen-box {
  --listen-box-height: 4rem;
  --space-between: 0.2rem;
  height: var(--listen-box-height);
  display: flex;
  margin-bottom: var(--space-between);
  opacity: 0.9;
}

.listen-box.loaded {
  opacity: 1;
}

.sentence-box,
.play-box {
  opacity: 1;
  background-color: var(--color-listen);
}

.sentence-box {
  padding: 0 0.2rem;
  overflow: hidden;
  text-overflow: clip;
  line-height: 1.6;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-right: var(--space-between);
}

.play-box {
  min-width: var(--listen-box-height);
  line-height: var(--listen-box-height);
  text-align: center;
}

.vote-box {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.vote-box > a {
  height: 50%;
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.vote-box > :first-child {
  border-bottom: 1px dotted black;
}

.vote-box > :not(:first-child) {
  color: red;
}

.audio-box {
  display: none;
}

.progress-button {
  overflow: hidden;
}

.progress-button .progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.2s linear;
}

/* Begin cross page code */
#main {
  position: relative;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  height: var(--header-height);
  box-sizing: border-box;
  z-index: var(--top-z-index);
  align-items: flex-start;
  transition: background-color 0.15s linear;
}

header.active {
  box-shadow: var(--shadow-overhang);
  background-color: var(--base-background-color);
}

@media (max-width: 600px) {
  header {
    padding: var(--page-margin) var(--page-margin) 0;
  }
}

@media (min-width: 600px) {
  header {
    max-width: var(--desktop-width);
    padding-right: calc(var(--desktop-width) - var(--sidebar-width));
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: unset;
    align-items: baseline;
    flex-direction: column;
    padding-top: 11rem;
    pointer-events: none;
    background-color: transparent;
    background-image: url("/img/dot.png");
    background-repeat: repeat-y;
    background-position: 3rem center;
    background-size: 0.5rem;
  }
  header > * {
    pointer-events: auto;
  }
}

footer {
  height: 6rem;
  background-color: #3dfefd;
  text-align: center;
  padding-top: 1.4rem;
}

.nav-list {
  font-family: var(--strong-font-family);
  display: flex;
}

.tab {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 0;
  margin: 0 var(--page-margin);
  vertical-align: bottom;
}

.tab .tab-name {
  background-color: var(--base-background-color);
  transition: background-color 0.15s ease-in;
  padding: 0.2rem 6rem 0.2rem 0.6rem;
}

.tab.active .tab-name {
  background-color: var(--color-accent);
  padding-right: 6rem;
}

#main-nav .tab {
  line-height: 1.4;
  margin: 0.35rem 0;
}

#main-nav .tab.active {
  transition: none;
}

#scroller {
  background-image: var(--base-background-image);
  background-size: 100% 20rem;
  background-repeat: no-repeat;
  background-position: center -3rem;
  background-attachment: local;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  #scroller {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow-y: scroll;
  }
}

.profile #scroller {
  background: none;
}

#content {
  transition: opacity 0.15s linear;
  opacity: 1;
}

#content.transitioning {
  opacity: 0;
}

@media (min-width: 600px) {
  #content {
    position: unset;
    flex: 1 1 100%;
  }
}

#content > div {
  display: none;
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 0.4s ease-in;
  z-index: var(--bottom-z-index);
  max-width: var(--desktop-width);
  margin: 0 auto;
}

@media (max-width: 600px) {
  #content > div {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 var(--page-margin);
    text-align: center;
  }
}

#content > div.active {
  display: block;
  opacity: 1;
  z-index: var(--top-z-index);
}

#main-logo {
  flex: 0 0 auto;
  font-family: var(--strong-font-family);
  font-size: 1.5rem;
}

#main-title {
  padding: 0 0.1rem;
  color: var(--base-background-color);
  background-color: var(--base-font-color);
  line-height: 1.4;
}

#main-mozilla-logo {
  height: calc(var(--header-height) / 3);
  background-color: var(--base-background-color);
}

#hamburger-menu {
  height: var(--hamburger);
  width: var(--hamburger);
  padding: 0;
  margin-left: auto;
  background-color: var(--base-font-color);
  color: var(--base-background-color);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  border: none;
}

#hamburger-menu.is-active {
  transform: rotate(90deg);
}

#main-nav {
  display: none;
  margin: 0;
  flex-flow: column nowrap;
  padding: 0;
  font-weight: bold;
  background-color: var(--base-background-color);
}

@media (min-width: 600px) {
  #hamburger-menu {
    display: none;
  }
  #main-nav {
    display: flex;
    margin-top: 0.7rem;
  }
}

#navigation-modal {
  box-sizing: border-box;
  background-color: var(--base-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--middle-z-index);
  padding: var(--header-height) 0 0;
  pointer-events: none;
  transform: translateY(-100vh);
  transition: all 0.55s var(--bounce-curve);
}

#navigation-modal.is-active {
  display: block;
  transform: translateY(0);
  pointer-events: all;
  transition-duration: 0.4s;
}

#navigation-modal .nav-list {
  flex-flow: column;
  font-size: 1.3rem;
}

#navigation-modal .tab {
  line-height: 3.2;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 2px dashed;
  border-bottom-color: #d5d5d5;
}

.hero {
  position: relative;
  height: var(--hero-height);
}

@media (min-width: 600px) {
  .hero {
    border-bottom: 3px solid var(--base-font-color);
  }
}

.hero-space {
  height: 9.5rem;
  background-color: var(--base-background-color);
}

@media (max-width: 600px) {
  .hero-space {
    height: 3rem;
    background: none;
  }
}

.profile .hero {
  display: none;
}

.profile .hero-space {
  display: none;
}

.robot {
  height: 15rem;
  margin: 0 auto;
  bottom: -4rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: var(--middle-z-index);
}

#about-container {
  padding: 0.3rem 1rem;
}

#home-container {
}

#home-title {
  padding: 1rem 0;
  background-color: var(--base-background-color);
}

@media (max-width: 600px) {
  #home-title {
    background: none;
  }
  #home-layout div.left-column {
    padding-left: 0;
  }
  #home-layout div.right-column {
    display: none;
  }
}

#home-layout {
  display: flex;
  align-items: flex-end;
}

#home-layout .left-column {
  padding-left: var(--sidebar-width);
  line-height: 1.55;
}

#home-layout .left-column > button {
  float: right;
}

#home-layout .right-column {
  flex: 0 0 30%;
  padding-bottom: 3rem;
}

#home-layout .right-column > p {
  background-color: var(--color-listen);
}

#try-it-container {
  background-color: var(--base-background-color);
  height: 5rem;
}

#listen-container {
  padding: 0.7rem;
  text-align: center;
}

.validate-lbl {
  line-height: 1.7rem;
  border: 1px solid gray;
  display: inline-block;
  padding: 0 0.5rem;
  border: 1px solid rgba(24, 24, 24, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

#record-container {
  position: relative;
  top: -4.5rem;
  padding-left: var(--sidebar-width);
  text-align: center;
  padding-top: 0;
}

@media (max-width: 600px) {
  #record-container {
    overflow-x: hidden;
  }
}

#recordings-count {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.record-sentence {
  height: 8rem;
  margin-top: 0.5rem;
  position: relative;
  transition: transform 0.2s ease-in;
}

.text-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.3rem;
  background-color: var(--base-background-color);
  border: 1px solid black;
  box-shadow: 4px 4px 0 black;
  transition: transform 0.4s var(--bounce-curve);
  font-family: var(--strong-font-family);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box.left {
  transform: translateX(-100vw);
}

.text-box.right {
  transform: translateX(100vw);
}

.refresh {
  position: absolute;
  right: 0.2rem;
  bottom: 0.3rem;;
  font-size: 0.6rem;
}

#refresh-help {
  text-align: right;
  padding-top: 0.3rem;
  padding-right: 0.6rem;
}

#record-button {
  display: inline-block;
  border-radius: 50%;
  border: 0.6rem solid black;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
}

.recording #record-button {
  background-color: red;
}

#undo-clip {
  position: absolute;
  bottom: -50%;
  color: red;
  left: 2rem;
  z-index: var(--middle-z-index);
  opacity: 1;
  transition: all 0.2s ease-out;
}

.full #undo-clip,
#undo-clip.hide {
  transform: translateX(-10rem);
  opacity: 0;
}

#record-help {
  font-size: 1rem;
  padding: 0 2rem;
}

#voice-submit {
  opacity: 0;
  transition: all 0.2s var(--bounce-curve);
}

.full #voice-record {
  visibility: hidden;
}

.full #voice-submit {
  opacity: 1;
  transform: translateY(-13rem);
}

#thank-you {
  font-family: var(--strong-font-family);
  font-size: 2rem;
  font-weight: bold;
}

#tap-to-play {
  text-align: left;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem;
}

#want-to-review {
  padding: 1rem 0;
}

#content > #profile-container {
  padding-top: calc(var(--header-height) + 0.5rem);
  padding-bottom: 2rem;
  text-align: left;
}

@media (min-width: 600px) {
  #content > #profile-container {
    padding-left: var(--sidebar-width);
  }
}

#profile-container h2 {
  padding: 0.8rem 0;;
}

#profile-container hr {
  margin-top: 1.5rem;
}

#profile-container select {
  margin-bottom: 0.5rem;
}

#opt-in {
  margin-top: 1rem;
}

label[for="send-emails"] {
  font-size: 1rem;
}

#email-explanation {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

#debug-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--debug-box-height);
  background-color: var(--base-font-color);
  color: var(--base-background-color);
  z-index: var(--top-z-index);
  overflow: scroll;
}

#debug-box.hidden {
  display: none;
}

.loading {
  animation: loading 2.5s ease infinite;
  background-size: 600% 600%
}

@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.confirm-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--top-z-index);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-modal label {
  display: block;
  margin-bottom: 1rem;
  font-size: larger;
}

.confirm-modal button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  min-width: 10rem;
}

.confirm-modal.visible {
  pointer-events: all;
  opacity: 1;
}

.confirm-modal .main-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background: #444;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}
