# Copy this file .env.dist to .env
ENVIRONMENT=local

CLIPS_BUCKET_NAME=common-voice-clips
DATASETS_BUNDLER_BUCKET_NAME=common-voice-bundler

STORAGE_LOCAL_DEVELOPMENT_ENDPOINT=http://storage:8080

DB_HOST=db
DB_PORT=3306
DB_USER=voicecommons
DB_PASSWORD=voicecommons
DB_DATABASE=voiceweb

REDIS_URL=redis

# If the base URL of the datasheets changes, update it here.
# To be used for locally testing datasheets from a branch.
# DATASHEETS_BASE_URL=https://raw.githubusercontent.com/common-voice/cv-datasheets/13d0508981f41b1064b2afcc4cdf534d0b666180/releases
