.error-page {
    padding-bottom: 4em;
    background-image: url('./images/background-wave-error.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    @media (--md-up) {
        padding-bottom: 8em;
    }
}

.error-page-wrapper {
    padding: 0 var(--page-margin);
    margin: 0 auto;
    max-width: var(--desktop-width);

    @media (--md-up) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.error-page__content {
    max-width: 35em;
}

.error-page__image {
    @media (--md-up) {
        padding-left: 2em;
        padding-top: 10vh;
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.error-page__buttons {
    display: flex;
    margin-top: 2em;
    margin-bottom: 1em;

    .round-button {
        margin-right: 1.5em;
    }
}
