.about {
    #help-links {
        display: none;
    }

    .about-hero {
        position: relative;
        padding-bottom: 2rem;

        @media (--md-down) {
            &.playbook {
                padding: 0;
            }
        }

        &.subscribe {
            margin-top: 2rem;
            padding: 0;
        }

        &.why-common-voice,
        &.partners {
            background-color: #f9f9f7;
        }

        .about-container {
            transition: opacity var(--transition-duration-slow) var(--easing);
            max-width: var(--desktop-width);
            margin-right: auto;
            margin-left: auto;
            min-height: 100%;
        }

        .about-content {
            position: relative;
            z-index: var(--middle-z-index);
        }
    }
}
