@import url('../../vars.css');

.about {
    & #content {
        padding: 0;
    }

    & #help-links {
        display: none;
    }

    & footer {
        margin-top: 0;
    }

    & .about-hero {
        border-top: 1px solid var(--light-grey);
        position: relative;
        padding-left: 1rem;

        &.why-common-voice,
        &.partners {
            background-color: #f9f9f7;
        }

        &.why-common-voice {
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: -1rem;
                width: calc(100% + 1rem);
                height: 7.5vw;
                background-color: #f9f9f7;
            }
        }

        &.how-it-works {
            padding-right: 1rem;
            box-sizing: border-box;
            border: none;

            @media (--sm-down) {
                left: 0;
                width: 100%;

                & .about-container {
                    left: 0;
                    width: 100%;
                }
            }
        }

        &.partners {
            border-width: 0;
            padding-right: 1rem;

            @media (--sm-down) {
                left: 0;
                width: 100%;
                padding: 0 1.25rem;
                box-sizing: border-box;
            }

            .partner-slider {
                padding: 0;
                border: none;
                display: flex;
                background: -moz-linear-gradient(
                    top,
                    #f9f9f7 0%,
                    #f9f9f7 90%,
                    var(--white) 100%
                );
                background: -webkit-linear-gradient(
                    top,
                    #f9f9f7 0%,
                    #f9f9f7 90%,
                    var(--white) 100%
                );
                background: linear-gradient(
                    to bottom,
                    #f9f9f7 0%,
                    #f9f9f7 90%,
                    var(--white) 100%
                );

                & .slider-container {
                    background: var(--white);
                    box-sizing: border-box;
                    transition: opacity var(--transition-duration-slow)
                        var(--easing);
                    max-width: var(--desktop-width);
                    margin-right: auto;
                    margin-left: auto;
                    flex: 1;
                    padding-bottom: 4rem;
                    margin-bottom: 5rem;
                    position: relative;
                    display: flex;

                    @media (--md-down) {
                        max-width: 100%;
                    }

                    @media (--sm-down) {
                        flex-direction: column;
                        calc(100% - 2.5rem)margin: 0 1.25rem;
                    }

                    & .dots-right {
                        position: absolute;
                        top: -18px;
                        right: 8px;
                        pointer-events: none;
                        z-index: var(--bottom-z-index);

                        @media (--sm-down) {
                            top: auto;
                            right: -9px;
                            bottom: 112px;
                        }
                    }

                    & .partner-logo-container {
                        background-color: var(--blue);
                        width: 100%;
                        max-width: 470px;
                        left: -70px;
                        position: relative;
                        box-sizing: border-box;
                        height: fit-content;

                        &:before {
                            content: '';
                            background-image: url('./images/slider-dots.png');
                            position: absolute;
                            right: 70px;
                            top: -1rem;
                            width: 200%;
                            height: calc(100% + 5rem);
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background-color: var(--blue);
                            height: 100%;
                            width: 10%;
                        }

                        & .partner-logo {
                            background-color: var(--white);
                            display: flex;
                            flex: 1 0 auto;
                            justify-content: center;
                            align-items: center;
                            border: 70px solid var(--blue);
                            position: relative;
                            z-index: var(--middle-z-index);

                            &:before {
                                content: '';
                                float: left;
                                padding-top: 100%;
                            }
                        }

                        @media (--sm-down) {
                            left: 0;
                            width: 100%;
                            max-width: inherit;
                            padding: 30px 30px 0 30px;
                            max-width: 100%;

                            & .partner-logo {
                                float: left;
                                border: none;

                                &:before,
                                &:after {
                                    display: none;
                                }
                            }

                            &:before,
                            &:after {
                                display: none;
                            }

                            & img {
                                max-width: 140px;
                            }
                        }
                    }

                    & .slider-content {
                        display: flex;
                        flex: 1;
                        align-items: flex-start;
                        position: relative;
                        z-index: var(--middle-z-index);
                        flex-direction: column;
                        overflow: hidden;

                        & .slider-controls {
                            display: flex;
                            align-items: center;
                            height: fit-content;
                            margin-top: 2.4rem;
                            width: 100%;

                            @media (--sm-down) {
                                order: 2;
                                padding: 0 30px;
                                margin-top: 0;
                            }

                            & .count {
                                color: var(--warm-grey);
                                font-size: var(--font-size);
                                padding-right: 11px;

                                & span {
                                    color: var(--black);
                                }
                            }

                            & .line {
                                flex: 1;
                                border-top: 1px solid var(--warm-grey);
                            }

                            & .arrows {
                                display: flex;
                                padding-right: 4.5rem;

                                & .slider-arrow {
                                    width: 57px;
                                    height: 57px;
                                    border-radius: 50%;
                                    display: flex;
                                    background-color: var(--white);
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid var(--near-black);
                                    transition: background-color
                                        var(--transition-duration) var(--easing);
                                    margin: 1.25rem 0 1.25rem 1.25rem;
                                    cursor: pointer;
                                    -webkit-tap-highlight-color: rgba(
                                        0,
                                        0,
                                        0,
                                        0
                                    );

                                    & path {
                                        fill: var(--newr-black);
                                        transition: background-color
                                            var(--transition-duration-slow)
                                            var(--easing);
                                    }

                                    &:hover {
                                        background-color: var(--warm-grey);
                                        & path {
                                            fill: var(--white);
                                        }
                                    }

                                    &.disabled {
                                        border-color: var(--grey);
                                        pointer-events: none;
                                        & svg {
                                            opacity: 0.5;
                                        }
                                    }

                                    &:nth-child(odd) {
                                        & svg {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }

                        & .slides-viewport {
                            display: flex;
                            left: 0;
                            position: relative;
                            transition: left var(--transition-duration-slow)
                                var(--easing);
                            max-width: 100%;

                            & .slider-data {
                                flex-shrink: 0;
                                width: 100%;

                                @media (--sm-down) {
                                    padding: 30px;
                                    box-sizing: border-box;
                                }

                                & .partner-name {
                                    margin-top: 1rem;

                                    & .subtitle {
                                        color: var(--warm-grey);
                                        font-size: var(--font-size-xs);
                                        text-transform: uppercase;
                                    }

                                    & h1 {
                                        font-weight: normal;

                                        @media (--md-down) {
                                            margin-bottom: 10px;
                                            font-size: var(--font-size-xxl);
                                        }

                                        @media (--sm-down) {
                                            font-size: var(--font-size-lg);
                                        }

                                        @media (--lg-up) {
                                            margin-bottom: 10px;
                                            font-size: 48px;
                                        }
                                    }
                                }

                                & .partner-description {
                                    padding-right: 70px;

                                    @media (--sm-down) {
                                        padding-right: 0;
                                    }

                                    & p {
                                        font-size: var(--font-size);
                                        font-family: var(--base-font-family);

                                        @media (--sm-down) {
                                            font-size: 14px;
                                            line-height: 24px;
                                        }

                                        &.large {
                                            font-size: var(--font-size-lg);
                                            font-family: var(
                                                --strong-font-family
                                            );
                                            margin: 50px 0 20px;
                                            letter-spacing: 0.5px;

                                            @media (--sm-down) {
                                                font-size: var(--font-size);
                                                line-height: 24px;
                                                margin: 10px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        & .wave-top {
            position: absolute;
            top: -2px;
            left: 0;
            pointer-events: none;
        }

        .about-container {
            box-sizing: border-box;
            transition: opacity var(--transition-duration-slow) var(--easing);
            max-width: var(--desktop-width);
            margin-right: auto;
            margin-left: auto;
            min-height: 100%;

            &.heading {
                padding-left: calc((100% - 76rem) / 2);
                max-width: inherit;
            }

            @media (--xs-down) {
                &.no-padding-xs {
                    padding: 0;
                }
            }

            @media (--md-up) {
                min-height: auto;
                padding: 0;
            }

            & .about-header {
                display: flex;
                position: relative;
                @media (--md-down) {
                    padding: 40px 0 30px;
                    flex-direction: column;
                }

                @media (--md-down) {
                    flex-flow: column-reverse;
                }

                @media (--xs-down) {
                    padding-bottom: 0;
                }

                @media (--lg-up) {
                    margin-top: 50px;
                    margin-bottom: 0;
                    flex-direction: row;
                }

                & .text {
                    position: relative;
                    @media (--lg-up) {
                        max-width: 560px;
                        width: 100%;

                        &:first-child {
                            margin-inline-end: 50px;
                        }
                    }

                    @media (--md-down) {
                        padding-right: 1.25rem;
                    }

                    & .line {
                        width: 70px;
                        height: 3px;
                        background: linear-gradient(to right, #f89096, #b1b4e5);

                        @media (--md-down) {
                            margin-bottom: 20px;
                        }

                        @media (--lg-up) {
                            margin-top: 50px;
                            margin-bottom: 30px;
                        }
                    }

                    & h1 {
                        font-weight: normal;

                        @media (--md-down) {
                            margin-bottom: 10px;
                            font-size: 36px;
                        }

                        @media (--lg-up) {
                            margin-bottom: 10px;
                            font-size: 48px;
                        }
                    }

                    & h2 {
                        font-size: 1.25rem;
                        font-family: var(--strong-font-family);

                        @media (--sm-down) {
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                        }

                        &.header-description {
                            font-size: var(--font-size);
                            font-family: var(--base-font-family);
                            margin-bottom: 2rem;
                            margin-top: 1.25rem;
                            white-space: pre-line;

                            @media (--sm-down) {
                                font-size: var(--font-size);
                                line-height: 1.5rem;
                            }
                        }
                    }

                    & p {
                        color: var(--near-black);
                        white-space: pre-line;
                        line-height: 1.5;
                    }
                }

                .intro-img {
                    position: relative;
                    z-index: var(--middle-z-index);
                    flex: 1;
                    text-align: right;

                    @media (--md-up) {
                        /*margin: 4rem 0 0 3rem;*/
                    }
                    @media (--md-down) {
                        margin: 2rem 0 0 auto;
                    }
                    @media (--sm-down) {
                        margin-top: 0;
                    }

                    & .robot {
                        max-width: 100%;
                    }
                }
            }

            &.partner-description {
                padding: 8rem 0rem 5rem;
                display: flex;

                @media (--sm-down) {
                    flex-direction: column;
                    padding: 0 0 3rem;
                    text-align: center;
                    width: 100%;

                    & .become-a-partner {
                        display: none;
                    }
                }

                & .first-column {
                    flex: 3;

                    & .line {
                        width: 70px;
                        height: 3px;
                        background: linear-gradient(to right, #f89096, #b1b4e5);

                        @media (--md-down) {
                            margin-bottom: 20px;
                        }
                        @media (--sm-down) {
                            display: none;
                        }

                        @media (--lg-up) {
                            margin-bottom: 30px;
                        }
                    }

                    & .vertical-line {
                        margin-bottom: 0.5rem;
                        @media (--md-up) {
                            display: none;
                        }
                    }

                    & h1 {
                        font-weight: normal;

                        @media (--sm-down) {
                            margin-bottom: 10px;
                            font-size: 36px;
                        }

                        @media (--md-up) {
                            margin-bottom: 60px;
                            font-size: 48px;
                        }
                    }
                }

                .second-column {
                    flex: 5;
                    font-size: var(--font-size-lg);
                    white-space: pre-line;

                    @media (--sm-down) {
                        font-size: var(--font-size);
                    }
                }
            }
        }

        .become-a-partner {
            border-color: transparent;
            padding: 15px 30px;
            background: var(--blue);
            color: var(--white);
            text-transform: uppercase;

            @media (--sm-down) {
                align-items: center;
                height: auto;
                width: fit-content;
                margin: auto;
            }

            & svg {
                transform: rotate(180deg);
                left: 5px;
                position: relative;
                transition: left var(--transition-duration) var(--easing);

                & path {
                    fill: var(--white);
                }
            }

            &:hover {
                border-color: var(--black);
                color: var(--black);
                background: var(--white);

                & svg {
                    left: 12px;

                    & path {
                        fill: var(--black);
                    }
                }
            }
        }

        & .vertical-line {
            width: 3px;
            height: 100px;
            background: linear-gradient(to right, #f89096, #b1b4e5);
            margin: 0 auto;

            @media (--sm-down) {
                height: 50px;
                margin-top: 30px;
            }
        }

        .about-content {
            position: relative;
            z-index: var(--middle-z-index);

            & .flowchart {
                display: flex;
                flex-direction: column;

                @media (--sm-down) {
                    padding: 0 0 2rem;
                }

                & h1 {
                    font-size: 3rem;
                    text-align: center;
                    margin-top: 2rem;
                    font-weight: normal;

                    @media (--sm-down) {
                        font-size: var(--font-size-xxl);
                        margin-top: 1rem;
                    }
                }

                & h4 {
                    font-size: var(--font-size-lg);
                    text-align: center;
                    font-weight: normal;
                    font-family: var(--base-font-family);
                    max-width: 700px;
                    margin: 0.75rem auto;
                    margin-bottom: 10px;

                    @media (--sm-down) {
                        font-size: var(--font-size);
                    }
                }

                .flowchart-block {
                    background: #f9f9f8;
                    width: 100%;
                    max-width: 390px;
                    margin: 0 auto;
                    padding: 2.5rem 4rem;
                    border-radius: 10px;
                    box-sizing: border-box;
                    position: relative;
                    margin-top: 50px;

                    min-height: 210px;

                    &.inside-fork {
                        margin: 0 50px 50px;
                    }

                    &.after-fork {
                        margin-top: 80px;
                    }

                    &.spaced-below {
                        @media (--sm-down) {
                            padding-bottom: 3.5rem;

                            & .center-arrow {
                                top: 85%;
                            }
                        }
                    }

                    & .number {
                        display: none;
                    }

                    & .title {
                        font-family: var(--strong-font-family);
                        font-size: var(--font-size-lg);
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }

                    & .description {
                        font-size: var(--font-size);
                        font-family: var(--base-font-family);
                    }

                    & .icon {
                        position: absolute;
                        left: -32px;
                        top: 1rem;
                    }

                    & .center-arrow {
                        position: absolute;
                        top: 95%;
                        width: 100%;
                        left: 0;

                        &.mobile {
                            display: none;
                        }

                        @media (--sm-down) {
                            display: none;

                            &.mobile {
                                display: block;
                            }
                        }
                    }

                    @media (--sm-down) {
                        width: 114px;
                        text-align: center;
                        padding: 1rem 0.75rem;
                        border-radius: 0;
                        margin-top: 0;

                        & .description {
                            display: none;
                        }

                        & .number {
                            display: block;
                            margin: 0 auto 1.5rem;
                            text-align: center;
                            font-size: var(--font-size-xs);
                            color: var(--warm-grey);
                        }

                        & .title {
                            font-size: 14px;
                            font-family: var(--base-font-family);
                            font-weight: 400;
                        }

                        .icon {
                            position: relative;
                            left: 0;
                            top: 0;
                            margin-bottom: 1.25rem;
                        }

                        &:first-of-type {
                            border-top-left-radius: 80px 30%;
                            border-top-right-radius: 80px 30%;
                            margin-top: 50px;
                            padding-top: 60px;
                        }
                    }
                }

                & .connecting-arrow {
                    &.desktop {
                        position: absolute;
                        top: 83px;

                        @media (--sm-down) {
                            display: none;
                        }

                        &.left {
                            right: calc(100% + 1rem);
                        }

                        &.right {
                            left: calc(100% + 1rem);
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                        }
                    }

                    &.mobile {
                        position: absolute;
                        top: 90px;
                        z-index: var(--top-z-index);

                        @media (--md-up) {
                            display: none;
                        }

                        &.left {
                            right: calc(100% - 0.3rem);
                        }

                        &.right {
                            left: calc(100% - 0.3rem);
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                        }
                    }
                }

                & .fork-group {
                    flex-direction: row;
                    display: flex;
                    justify-content: center;

                    @media (--sm-down) {
                        & .inside-fork {
                            width: 115px;
                            padding-top: 1rem;
                        }
                    }
                    &.top {
                        @media (--sm-down) {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                background-image: url('./images/fork-bg.png');
                                background-repeat: no-repeat;
                                width: 286px;
                                height: 356px;
                                top: -112px;
                                background-size: contain;
                                z-index: -1;
                            }

                            & .inside-fork {
                                margin: 40px 27px;
                                border-top-left-radius: 80px 30%;
                                border-top-right-radius: 80px 0;
                                padding-top: 30px;
                                position: relative;
                                margin-bottom: 0;
                                background: none;

                                &:nth-child(even) {
                                    margin-right: 0;
                                    border-top-right-radius: 80px 30%;
                                    border-top-left-radius: 80px 0;
                                }

                                &:nth-child(odd) {
                                    margin-left: 0;
                                }
                            }

                            & .after-fork {
                                margin-top: 0;
                            }
                        }
                    }

                    &.bottom {
                        @media (--sm-down) {
                            & .inside-fork {
                                margin: 0px 28px;
                                border-radius: 0;
                                border-bottom-left-radius: 80px 30%;
                                border-bottom-right-radius: 80px 30%;
                                padding-bottom: 20px;
                                position: relative;

                                & .center-arrow {
                                    display: none;
                                }

                                &:nth-child(odd) {
                                    margin-left: 0;
                                }

                                &:nth-child(even) {
                                    margin-right: 0;
                                }
                            }

                            & .after-fork {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        &.get-involved {
            padding: 0;
            height: 610px;
            display: flex;
            border: none;

            & .become-a-partner {
                display: none;
            }

            @media (--sm-down) {
                padding-bottom: 5rem;

                & .become-a-partner {
                    display: inherit;
                    top: -2rem;
                }
            }

            & .wave-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                pointer-events: none;
                width: 100%;
                z-index: var(--bottom-z-index);
            }

            & .robot-section {
                flex: 1;
                justify-content: center;
                align-items: center;
                text-align: center;
                display: flex;

                img {
                    position: relative;
                }
            }

            & .text-section {
                flex: 1;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: var(--middle-z-index);
                position: relative;
            }

            & .line {
                width: 70px;
                height: 3px;
                background: linear-gradient(to right, #f89096, #b1b4e5);

                @media (--md-down) {
                    margin-bottom: 20px;
                }

                @media (--lg-up) {
                    margin-top: 50px;
                    margin-bottom: 30px;
                }
            }

            & h1 {
                font-weight: normal;

                @media (--md-down) {
                    margin-bottom: 10px;
                    font-size: 36px;
                }

                @media (--lg-up) {
                    margin-bottom: 10px;
                    font-size: 48px;
                }
            }

            & p {
                color: var(--near-black);
                white-space: pre-line;
                line-height: 1.75rem;
                font-size: 1.25rem;
                font-family: var(--strong-font-family);
                white-space: pre-line;

                & a {
                    color: var(--link-color);
                    transition: color var(--transition-duration) var(--easing);

                    &:hover {
                        color: var(--near-black);
                    }
                }
            }

            & .get-involved-icons {
                display: flex;
                flex-direction: row;
            }

            & .round-button {
                width: 67px;
                height: 67px;
                border-radius: 50%;
                display: flex;
                background-color: var(--near-black);
                justify-content: center;
                align-items: center;
                border: 1px solid var(--near-black);
                transition: background-color var(--transition-duration)
                    var(--easing);
                margin-top: 1.25rem;
                margin-right: 1.25rem;
                cursor: pointer;

                & path {
                    fill: var(--white);
                    transition: background-color var(--transition-duration-slow)
                        var(--easing);
                }

                &:hover {
                    background-color: var(--white);
                    & path {
                        fill: var(--near-black);
                    }
                }
            }

            @media (--md-down) {
                height: 500px;
            }

            @media (--sm-down) {
                height: 680px;
                flex-direction: column;

                & .wave-footer {
                    bottom: auto;
                }

                & .line {
                    display: none;
                }

                & .text-section {
                    text-align: center;
                    align-items: center;
                    margin-top: 2rem;

                    & p {
                        white-space: inherit;
                    }
                }

                & .round-button {
                    width: 42px;
                    height: 42px;
                }
            }

            @media (--xs-down) {
                & h1 {
                    font-size: var(--font-size-lg);
                }

                & p {
                    font-size: var(--font-size);
                    line-height: 1.5rem;
                    font-family: var(--base-font-family);
                    padding: 0 1rem;

                    & br {
                        display: none;
                    }
                }
            }
        }
    }

    .nav {
        display: flex;
        max-width: 100vw;
        flex: 1;
        z-index: var(--top-z-index);
        height: 15vw;

        position: sticky;
        top: -5.3vw;
        margin: 0 auto;
        max-width: 100%;
        margin: 0 auto;

        &.desktop {
            @media (--sm-down) {
                display: none;
            }
        }

        & .menu-item {
            width: 20%;
            position: relative;
            cursor: pointer;
            display: flex;

            & .text {
                font-size: var(--font-size-xs);
                letter-spacing: 0.5px;
                font-weight: 600;
                align-self: center;
                z-index: var(--top-z-index);
                text-align: center;
                width: 100%;
                margin-top: 11%;
                position: relative;
                text-transform: uppercase;
                font-family: var(--base-font-family);

                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: calc(100% + 10px);
                    height: 14px;
                    width: 1px;
                    background-color: #bed9ff;
                    transition: height 0.5s 0s;
                }
            }

            &.i1 {
                width: 30.37%;
                top: -1px;

                & .text {
                    margin-left: 35%;
                }

                & .active {
                    max-width: 110%;
                    left: 0;
                    top: 0;
                    z-index: var(--top-z-index);
                }
            }

            &.i2 {
                width: 19.89%;
                & .active {
                    max-width: 120%;
                    left: -10%;
                    z-index: var(--top-z-index);
                }
            }

            &.i3 {
                width: 21.28%;
                position: relative;
                & .active {
                    max-width: 120%;
                    left: -10%;
                    z-index: var(--top-z-index);
                }
            }
            &.i4 {
                width: 28.46%;

                & .text {
                    margin-right: 35%;
                }

                & .active {
                    max-width: 108%;
                    left: -9.3%;
                    top: 3px;
                    z-index: var(--top-z-index);
                }
            }

            &.i1,
            &.i4 {
                & .text {
                    margin-top: 8.2%;
                }
            }

            & img {
                max-width: 100%;
                position: absolute;
                transition: all 0.5s 0.3s;

                &.active {
                    opacity: 0;
                    transition: transform 0.8s 0s, opacity 0.8s 0s;
                    transform: scale(1, 0.8);
                }
            }

            &:hover,
            &.active {
                img {
                    opacity: 1;

                    &:not(.active) {
                    }

                    &.active {
                        opacity: 1;
                        transform: scale(1, 1);
                        transition: transform 0.5s 0s, opacity 0.1s 0s;
                    }
                }

                .text {
                    &:before {
                        height: 32px;
                        background-color: var(--black);
                    }
                }
            }
        }

        &.mobile {
            position: sticky;
            bottom: -3px;
            height: 20vw;
            max-height: 5rem;
            background: var(--white);

            &:before {
                content: '';
                background: -moz-linear-gradient(
                    top,
                    rgba(249, 249, 247, 0) 0%,
                    rgba(237, 237, 237, 0.65) 66%
                );
                background: -webkit-linear-gradient(
                    top,
                    rgba(249, 249, 247, 0) 0%,
                    rgba(237, 237, 237, 0.65) 66%
                );
                background: linear-gradient(
                    to bottom,
                    rgba(249, 249, 247, 0) 0%,
                    rgba(237, 237, 237, 0.65) 66%
                );
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f7', endColorstr='#a6ededed',GradientType=0 );
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f7', endColorstr='#a6f9f9f7',GradientType=0 );
                position: absolute;
                bottom: 100%;
                width: 100%;
                height: 21vw;
            }

            @media (--md-up) {
                display: none;
            }

            img {
                display: none;

                &.mobile-rounded {
                    display: block;
                }
            }

            & .menu-item {
                flex: 1;
                display: flex;
                position: relative;
                background: var(--white);
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                min-height: 60px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 125%;
                    height: 100%;
                    background-image: url('./images/nav/nav-mobile-active.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    z-index: var(--bottom-z-index);
                    top: 0;
                    left: -15%;
                    opacity: 0;
                    transition: opacity 0.8s 0s;
                }

                &.i1,
                &.i4 {
                    top: 0;

                    & .text {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                & .mobile-rounded {
                    position: absolute;
                    bottom: 100%;
                    width: 100%;
                    transition: all 0.5s 0s;
                    transform: scaleY(1);
                    transform-origin: bottom;
                    bottom: calc(100% - 1px);
                }

                & .text {
                    text-align: center;
                    width: 100%;
                    font-size: 11px;
                    z-index: var(--top-z-index);
                    position: relative;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.8s 0s;
                    z-index: var(--middle-z-index);
                    margin-bottom: 1rem;
                }

                & svg {
                    opacity: 0.5;
                    transition: opacity 0.8s 0s;
                    z-index: var(--middle-z-index);
                    position: relative;
                    & path {
                        fill: var(--near-black);
                    }
                }

                &.active {
                    &:before {
                        opacity: 0.7;
                    }

                    & img {
                        transform: scaleY(2);
                        bottom: calc(100% - 1px);
                    }

                    & .text {
                        max-height: 20px;
                        opacity: 1;
                    }

                    & svg {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}
