.about {
    .how-it-works-intro {
        max-width: 80rem;
        margin: 0 auto;
        text-align: center;
        padding: 2rem 4rem;

        h2 {
            font-size: 3rem;
            margin: 3rem 0 1rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 300;
            max-width: 40rem;
            margin: 0 auto 3rem;
        }

        @media (--md-down) {
            padding: 0 2rem;

            p {
                margin-bottom: 1rem;
            }
        }
    }

    .how-it-works-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80rem;
        margin: 0 auto;
        position: relative;

        .more-next-overlay,
        .more-previous-overlay {
            display: none;
        }

        @media (--md-down) {
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            max-width: none;
            padding-top: 1rem;

            .more-next-overlay,
            .more-previous-overlay {
                width: 0;
                position: sticky;
                z-index: 1;
                top: 0;
                bottom: auto;
                overflow: visible;
                display: block;

                &::before,
                &::after {
                    width: 50vw;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                }
            }

            .more-next-overlay {
                left: calc(50vw - 1rem);

                &::before {
                    content: '';
                    background: linear-gradient(
                        270deg,
                        #fff,
                        rgba(255, 255, 255, 0)
                    );
                }
                &::after {
                    content: '';
                    background: url('./images/chevron-right.svg') no-repeat
                        right 10px center;
                }
            }

            .more-previous-overlay {
                left: 0;
                &::before {
                    content: '';
                    background: linear-gradient(
                        90deg,
                        #fff,
                        rgba(255, 255, 255, 0)
                    );
                }
                &::after {
                    content: '';
                    background: url('./images/chevron-left.svg') no-repeat 10px
                        center;
                }
            }
        }
    }

    .how-it-works-block {
        width: 20rem;
        min-height: 6rem;
        margin: 1rem 2rem;
        padding: 2rem;
        padding-inline-start: 3rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        background: var(--lighter-grey);

        h3 {
            margin-bottom: 1rem;
        }

        @media (--md-down) {
            width: 60vw;
            padding: 3rem 1.5rem 2rem;
            padding-inline-start: 1.5rem;
            margin: 2rem 0.5rem 1.25rem;
            flex-shrink: 0;
        }
    }

    .how-it-works-icon {
        width: 60px;
        height: 65px;
        text-align: center;
        line-height: 65px;
        position: absolute;
        left: -30px;
        top: 30px;
        font-size: 1.6rem;
        color: #1570ef;
        font-weight: 600;
        background: url('./images/hex.svg') no-repeat;
        background-size: contain;

        &.done {
            background-image: url('./images/hex-done.svg');
            color: transparent;
        }

        @media (--md-down) {
            left: 30px;
            top: -30px;
        }
    }
}

[dir='rtl'] .about {
    .how-it-works-icon {
        right: -30px;

        @media (--md-down) {
            right: 30;
            top: -30px;
        }
    }
}
