.about {
    .how-it-works-container {
        display: flex;
        max-width: 80rem;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-it-works-intro {
        width: 100%;
        text-align: center;
        padding: 2rem 4rem;

        h2 {
            font-size: 3rem;
            margin: 3rem 0 1rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 300;
            max-width: 40rem;
            margin: 0 auto 3rem;
        }
    }

    .how-it-works-block {
        width: 15rem;
        height: 6rem;
        margin: 1rem 2rem 1rem;
        padding: 2rem;
        padding-inline-start: 3rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        background: var(--lighter-grey);

        h3 {
            margin-bottom: 1rem;
        }
    }

    .how-it-works-icon {
        width: 60px;
        height: 65px;
        text-align: center;
        line-height: 65px;
        background: white;
        position: absolute;
        left: -30px;
        top: 30px;
        font-size: 1.6rem;
        color: #1570ef;
        font-weight: 600;
        background: url('./images/hex.svg') no-repeat;
        background-size: contain;
        &.done {
            background-image: url('./images/hex-done.svg');
            color: transparent;
        }
    }
}

[dir='rtl'] .about {
    .how-it-works-icon {
        right: -30px;
    }
}
