@import url('../../vars.css');

.partners {
    border-width: 0;
    padding-right: 1rem;

    @media (--sm-down) {
        left: 0;
        width: 100%;
        padding: 0 1.25rem !important;
        box-sizing: border-box;
    }

    .partner-description {
        display: flex;
        padding: 8rem 0rem 5rem;

        @media (--sm-down) {
            flex-direction: column;
            padding: 0 0 3rem;
            text-align: center;
            width: 100%;

            & .become-a-partner {
                display: none;
            }
        }

        & .first-column {
            flex: 3;

            & .line {
                width: 70px;
                height: 3px;
                background: linear-gradient(to right, #f89096, #b1b4e5);

                @media (--md-down) {
                    margin-bottom: 20px;
                }
                @media (--sm-down) {
                    display: none;
                }

                @media (--lg-up) {
                    margin-bottom: 30px;
                }
            }

            & .vertical-line {
                margin-bottom: 0.5rem;
                @media (--md-up) {
                    display: none;
                }
            }

            & h1 {
                font-weight: normal;

                @media (--sm-down) {
                    margin-bottom: 10px;
                    font-size: 36px;
                }

                @media (--md-up) {
                    margin-bottom: 60px;
                    font-size: 48px;
                }
            }
        }

        .second-column {
            flex: 5;
            font-size: var(--font-size-lg);
            white-space: pre-line;

            @media (--sm-down) {
                font-size: var(--font-size);
            }
        }
    }
}

.become-a-partner {
    border-color: transparent;
    padding: 15px 30px;
    background: var(--blue);
    color: var(--white);
    text-transform: uppercase;

    @media (--sm-down) {
        align-items: center;
        height: auto;
        width: fit-content;
        margin: auto;
    }

    & svg {
        transform: rotate(180deg);
        left: 5px;
        position: relative;
        transition: left var(--transition-duration) var(--easing);

        & path {
            fill: var(--white);
        }
    }

    &:hover {
        border-color: var(--black);
        color: var(--black);
        background: var(--white);

        & svg {
            left: 12px;

            & path {
                fill: var(--black);
            }
        }
    }
}
