.cv-tab-group {
    .cv-tab-title {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: var(--strong-font-family);
        padding: 0.75rem 0 1.25rem;
        display: block;

        a,
        img {
            display: block;
        }

        a {
            color: var(--inactive-grey);
        }

        .highlight {
            max-width: 100%;
            opacity: 0;
            margin-bottom: 0.5rem;
        }

        &.active {
            background: url('./images/highlight-line.svg') no-repeat 0 0;
            background-size: 100% auto;

            a {
                color: var(--black);
            }

            .highlight {
                opacity: 1;
            }
        }
    }

    .cv-tab-content {
        display: none;
        margin-inline-start: 3rem;

        h2 {
            font-family: var(--base-font-family);
        }

        .about-playbook-content {
            padding: 2rem;
            background: var(--lighter-grey);
            box-shadow: 0px 4px 8px var(--darker-grey);
        }

        &.active {
            display: block;
        }
    }
}

.cv-tab-group {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;

    @media (--sm-down) {
        display: block;

        .cv-tab-content {
            margin: 1rem 0;
        }
    }

    .cv-tab-title {
        grid-column-start: 1;
    }

    .cv-tab-content {
        grid-row-start: 1;
        grid-row-end: 100;
        grid-column-start: 2;
    }
}

/* .cv-tab-entry {
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid green;
  padding: 1rem;
  margin: 1rem 0 0;
}

 */
