@import url('../../vars.css');

.partner-slider {
    padding: 0;
    border: none;
    display: flex;
    background: linear-gradient(
        to bottom,
        #f9f9f7 0%,
        #f9f9f7 90%,
        var(--white) 100%
    );

    .slider-container {
        background: var(--white);
        box-sizing: border-box;
        transition: opacity var(--transition-duration-slow) var(--easing);
        max-width: var(--desktop-width);
        margin-right: auto;
        margin-left: auto;
        flex: 1;
        padding-bottom: 4rem;
        margin-bottom: 5rem;
        position: relative;
        display: flex;

        @media (--md-down) {
            max-width: 100%;
        }

        @media (--sm-down) {
            flex-direction: column;
        }

        & .dots-right {
            position: absolute;
            top: -18px;
            right: 8px;
            pointer-events: none;
            z-index: var(--bottom-z-index);

            @media (--sm-down) {
                top: auto;
                right: -9px;
                bottom: 112px;
            }
        }
    }

    .partner-logo-container {
        background-color: var(--blue);
        width: 100%;
        max-width: 470px;
        left: -70px;
        position: relative;
        box-sizing: border-box;
        height: fit-content;

        &:before {
            content: '';
            background-image: url('./images/slider-dots.png');
            position: absolute;
            right: 70px;
            top: -1rem;
            width: 200%;
            height: calc(100% + 5rem);
        }

        &:after {
            content: '';
            position: absolute;
            right: 100%;
            top: 0;
            background-color: var(--blue);
            height: 100%;
            width: 10%;
        }

        & .partner-logo {
            background-color: var(--white);
            display: flex;
            flex: 1 0 auto;
            justify-content: center;
            align-items: center;
            border: 70px solid var(--blue);
            position: relative;
            z-index: var(--middle-z-index);

            &:before {
                content: '';
                float: left;
                padding-top: 100%;
            }
        }

        @media (--sm-down) {
            left: 0;
            width: 100%;
            padding: 30px 30px 0 30px;
            max-width: 100%;

            & .partner-logo {
                float: left;
                border: none;

                &:before,
                &:after {
                    display: none;
                }
            }

            &:before,
            &:after {
                display: none;
            }

            & img {
                max-width: 140px;
            }
        }
    }

    & .slider-content {
        display: flex;
        flex: 1;
        align-items: flex-start;
        position: relative;
        z-index: var(--middle-z-index);
        flex-direction: column;
        overflow: hidden;
    }

    & .slider-controls {
        display: flex;
        align-items: center;
        height: fit-content;
        margin-top: 2.4rem;
        width: 100%;

        @media (--sm-down) {
            order: 2;
            padding: 0 30px;
            margin-top: 0;
        }

        & .count {
            color: var(--warm-grey);
            font-size: var(--font-size);
            padding-right: 11px;

            & span {
                color: var(--black);
            }
        }

        & .line {
            flex: 1;
            border-top: 1px solid var(--warm-grey);
        }

        & .arrows {
            display: flex;
            padding-right: 4.5rem;
        }

        & .slider-arrow {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            display: flex;
            background-color: var(--white);
            justify-content: center;
            align-items: center;
            border: 1px solid var(--near-black);
            transition: background-color var(--transition-duration)
                var(--easing);
            margin: 1.25rem 0 1.25rem 1.25rem;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            & path {
                fill: var(--newr-black);
                transition: background-color var(--transition-duration-slow)
                    var(--easing);
            }

            &:hover {
                background-color: var(--warm-grey);
                & path {
                    fill: var(--white);
                }
            }

            &.disabled {
                border-color: var(--grey);
                pointer-events: none;
                & svg {
                    opacity: 0.5;
                }
            }

            &:nth-child(odd) {
                & svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    & .slides-viewport {
        display: flex;
        left: 0;
        position: relative;
        transition: left var(--transition-duration-slow) var(--easing);
        max-width: 100%;

        & .slider-data {
            flex-shrink: 0;
            width: 100%;

            @media (--sm-down) {
                padding: 30px;
                box-sizing: border-box;
            }
        }

        & .partner-text {
            padding-right: 70px;

            @media (--sm-down) {
                padding-right: 0;
            }

            & p {
                font-size: var(--font-size);
                font-family: var(--base-font-family);

                @media (--sm-down) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .large {
                font-size: var(--font-size-lg);
                font-family: var(--strong-font-family);
                margin: 50px 0 20px;
                letter-spacing: 0.5px;

                @media (--sm-down) {
                    font-size: var(--font-size);
                    line-height: 24px;
                    margin: 10px 0;
                }
            }
        }

        & .partner-name {
            margin-top: 1rem;

            & .subtitle {
                color: var(--warm-grey);
                font-size: var(--font-size-xs);
                text-transform: uppercase;
            }

            & h1 {
                font-weight: normal;

                @media (--md-down) {
                    margin-bottom: 10px;
                    font-size: var(--font-size-xxl);
                }

                @media (--sm-down) {
                    font-size: var(--font-size-lg);
                }

                @media (--lg-up) {
                    margin-bottom: 10px;
                    font-size: 48px;
                }
            }
        }
    }
}
