.write-container {
    display: flex;
    width: 100%;
    height: calc(100% - 125px);
    background-image: linear-gradient(to top,var(--white) 20%,var(--desert-storm));

    @media (--xxl-down) {
        flex-direction: column;
    }

    & .sc-toggle {
        @media (--xxl-up) {
            width: 25%;
        }

        & .sc-toggle-wrapper {
            width: fit-content;
            margin: 0 auto;
            padding-top: 64px;
            display: flex;
            flex-direction: column;

            @media (--xxl-down) {
                flex-direction: row;
                width: max-content;
                padding-top: 0;
                margin-top: 10px;
            }

            & .toggle-option {
                svg {
                    margin-right: 8px;
                }

                &.active {
                    & .text-button {
                        color: var(--anchor-text-blue);
                    }
                }

                &.single {
                    @media (--xxl-down) {
                        margin-inline-end: 10px;   
                    }
                }

                &.bulk {
                    @media (--xxl-down) {
                        margin-inline-start: 10px;
                    }
                }
            }

            & .divider {
                @media (--xxl-up) {
                    width: 100%;
                    display: inline-block;
                    height: 1px;
                    background-color: var(--grey);
                }

                @media (--xxl-down) {
                    border: 1px solid var(--grey);
                }
            }

            & .text-button {
                font-size: var(--font-size);
                text-align: left;
            }

            & .single-option {
                @media (--xxl-up) {
                    margin-bottom: 12px;
                }
            }

            & .bulk-option {
                @media (--xxl-up) {
                    margin-top: 12px;
                }
            }
        }
    }
}