#demo-dashboard-container {
    width: 29rem;
    margin: 0 auto;
    padding-top: 60px;
}

.demo-dashboard-circle {
    background-color: var(--blue);
}

#demo-dashboard-top-nav {
    display: flex;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 3.75rem;
    button {
        background: transparent;
        color: var(--black);
        text-transform: uppercase;
        border: none;
        padding: 0;
        min-width: 2rem;
        padding-bottom: 1.5rem;
    }

    & button:last-child {
        margin-inline-start: 2rem;
    }

    .active {
        border-bottom: 1px solid var(--black);
    }
}
