/* DATASETS LAYOUT STYLES */

.demo-datasets-kiosk-top-icon-circle {
    background: var(--valid-green);
}

#demo-datasets-card--next-button {
    width: 20.68rem;
}

.white-bg,
.grey-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    inset-block-start: var(--right-section-left-value);
    width: 100%;
}

.grey-bg {
    background: var(--lighter-grey);
    z-index: var(--bottom-z-index);
}

.demo-datasets-intro {
    width: 100%;
    color: white;

    .intro {
        position: relative;
        background: url('./assets/dark-bg.svg') no-repeat;
        background-size: cover !important;
        font-size: var(--font-size-lg);
        padding: 4.375rem var(--right-section-align-padding) !important;
        h1,
        p {
            max-width: 100% !important;
        }
        h1 {
            font-size: var(--font-size-lg);
            font-weight: normal;
            margin-bottom: 0.625rem !important;
            &::first-line {
                font-size: 3rem;
            }
        }

        p {
            line-height: 1.5;
            white-space: pre-line;
            font-size: var(--font-size);
            margin-top: 30px;
        }

        .text-button {
            text-decoration: underline;
            font-size: var(--font-size);
            margin-top: 1.25rem;
            color: var(--blue);
        }
    }
}

#datasets-positioning {
    font-size: var(--font-size);
    white-space: pre-line;
    margin-top: 2rem;
}

.hide {
    display: none;
}

#demo-datasets--download__header {
    margin: 5.5rem 0 2rem;
    font-size: var(--font-size-xxl);
    font-weight: normal;
    text-align: start;
    padding-inline-end: 30%;
    padding-inline-start: var(--right-section-align-padding);
    color: var(--black);
}

.demo-datasets--download__sub {
    max-width: 21rem;
    padding: 0 0 4.5rem var(--right-section-align-padding);
    padding-inline-start: var(--right-section-align-padding);
    padding-inline-end: 0;

    #download-email,
    .labeled-checkbox {
        margin-bottom: 1.5rem;
    }

    .show-email-form:hover {
        background-color: var(--white) !important;
        color: var(--black) !important;
        path {
            fill: var(--black);
        }
    }

    .inner {
        padding: 0 !important;
    }

    .download-language {
        background-color: var(--blue);
        border-color: var(--blue);
        padding: 1.2rem 5rem;
        justify-content: center !important;
    }

    .facts {
        li:nth-child(2) {
            display: none !important;
        }
    }
}

.white-bg {
    padding: 4.25rem 0;
}

#hr-gradient-fill {
    background: linear-gradient(90deg, #f89096 0%, #b1b5e5 100%);
    height: 0.1875rem;
    width: 4.375rem;
    border: none;
    margin: 0;
}

.demo-datasets-stats {
    padding-top: 1.25rem;
}

.demo-datasets--eofyr {
    padding-inline: var(--right-section-align-padding);
    display: flex;
    flex-direction: column;
    justify-content: start;
    #whats-inside {
        display: none;
    }
    #description-hours {
        white-space: pre-wrap;
    }
}

#demo-datasets--eofyr__header {
    margin-top: 1.25rem;
    font-weight: normal;
    font-size: var(--font-size-xxl);
}

#demo-datasets--eofyr__subheader {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 1.125rem;
    margin-top: 0.625rem;
}

.demo-datasets--eofy__body {
    margin-top: 1.5rem;
    color: var(--near-black);
    line-height: 1.5rem;
}

#demo-datasets-content-container {
    .dataset-subscribe {
        background: url('../../pages/datasets/images/email-bg-md.svg') no-repeat;
        background-size: cover;
        padding: 4.375rem calc(var(--right-section-align-padding) - 3.75rem);
        margin-bottom: 3.75rem;
        margin-inline-start: 3.75rem;
        flex-direction: column;
        align-items: start;

        h2 {
            font-size: var(--font-size-lg);
        }
    }

    #subscribe-form {
        margin: 2rem auto;
        width: 100%;
        height: 60px;
        justify-content: stretch;
        .label {
            background-color: var(--near-black);
        }
        input,
        label {
            width: 100%;
        }
        input {
            height: 100%;
            border-color: var(--warm-grey);
        }
        .button {
            width: 60px;
            border-color: var(--warm-grey);
            &:hover {
                path {
                    fill: white;
                }
            }

            &:dir('rtl') svg {
                rotate: -180deg;
            }
        }
    }

    #subscribe__form--email {
        height: 4.375rem;
        width: 18.75rem;
        background: transparent;
        border: 0.0625rem solid var(--warm-grey);
        color: white;
        &:focus {
            border-color: var(--valid-green);
        }
    }

    #subscribe__form--submit {
        background: var(--valid-green);
        padding: 1.25rem 1.75rem;
        svg path {
            fill: white;
        }
        &:disabled {
            background-color: var(--warm-grey);
        }
    }

    #subscribe__form--privacy {
        color: var(--blue);
        font-size: var(--font-size);
        text-decoration: underline;
        cursor: pointer;
        margin-inline-start: 1.5rem;
    }

    #demo-subscribe__header {
        font-weight: normal;
        font-size: var(--font-size-lg);
        color: var(--white);
        line-height: 1.8125rem;
    }
}
