@import url('../../../vars.css');

:root {
    --toggle-padding: 15px;
}

.user-preference {
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    &.two-columns .section-body {
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
            box-sizing: border-box;
            width: 100%;

            @media (--sm-down) {
                margin-bottom: 10px;
            }

            @media (--md-up) {
                width: calc(50% - var(--profile-column-margin) / 2);

                &:nth-child(2n) {
                    margin-left: var(--profile-column-margin);
                }
            }
        }
    }

    &.box .section-body {
        border: 2px solid var(--light-grey);

        @media (--sm-down) {
            padding: 30px 16px;
        }

        @media (--md-up) {
            padding: 60px 50px;
        }
    }

    & h2 {
        margin-bottom: 10px;
        font-family: var(--strong-font-family);
        font-size: var(--font-size-lg);
        font-weight: 600;
    }

    & .section-body {
        border-top: 2px solid var(--light-grey);
        padding-top: 32px;
        display: flex;
        flex-direction: column;
    }

    & .edit-button {
        @media (--md-up) {
            flex: 0;
            min-width: 134px;
        }
    }

    & .feedback-toggle-title {
        margin-bottom: 10px;
        font-size: var(--font-size-lg);
        font-weight: normal;
    }

    & .feedback-toggle {
        box-sizing: border-box;
        border-radius: 25px;
        padding: 0 var(--toggle-padding);
        width: 170px;
        height: 36px;

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        color: var(--white);
        background: #9b9b9b;

        & input {
            margin: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            appearance: none;
            cursor: pointer;

            &::before {
                content: '';
                border-radius: 25px;
                position: absolute;
                left: 0;
                width: calc(50% + var(--toggle-padding));
                height: 100%;
                background: var(--valid-green);
                transform: translateX(0%);
                transition: transform var(--easing) var(--transition-duration);
            }

            &:checked::before {
                transform: translateX(calc(100% - 2 * var(--toggle-padding)));
            }
        }

        & div {
            z-index: var(--middle-z-index);
            pointer-events: none;
        }
    }

    & .skip-submission-description {
        margin-top: 40px;
        line-height: 1.5;
    }

    & .skip-submission-note {
        margin-top: 10px;
        color: var(--near-black);
    }
}
