.listen-box {
    display: flex;
    margin-bottom: calc(2 * var(--standard-margin));
    opacity: 0.3;
    pointer-events: none;
    outline: none;
}

@media (--mobile) {
    .listen-box {
        --listen-box-height: 5rem;
        flex-wrap: wrap;
    }
}

.listen-box.loaded {
    opacity: 1;
    pointer-events: all;
}

.sentence-box {
    min-height: var(--listen-box-height);
    color: var(--grey-font-color);
}

.play-box,
.delete-box,
.vote-box {
    border: none;
    height: var(--listen-box-height);
}

.play-box svg,
.delete-box svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.sentence-box,
.play-box,
.delete-box,
.vote-box {
    position: relative;
}

.sentence-box b,
.play-box b,
.delete-box b,
.vote-box b {
    position: absolute;
    top: -1.3rem;
    line-height: 1rem;
    font-size: 0.65rem;
    left: 0;
}

.play-box {
    color: var(--green);
}

body:not(.mobile-safari) .play-box:hover,
body:not(.mobile-safari) .play-box:hover path,
body.mobile-safari .play-box:active,
body.mobile-safari .play-box:active path,
.is-keyboard-focus .play-box:focus,
.is-keyboard-focus .play-box:focus path {
    outline: none;
    background-color: var(--green);
    color: var(--white);
    fill: var(--white);
}

.play-box:hover svg,
.delete-box:hover svg,
.is-keyboard-focus .play-box:focus svg,
.is-keyboard-focus .delete-box:focus svg {
    transform: scale(1.1);
}

.sentence-box {
    padding: 0 1.5rem;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 1.3;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-right: var(--standard-margin);
    box-shadow: var(--card-shadow);
}

@media (--mobile) {
    .sentence-box {
        font-size: var(--font-size-small);
        line-height: 1.2rem;
        flex: 1;
    }
}

.delete-box,
.play-box {
    min-width: var(--listen-box-height);
    line-height: var(--listen-box-height);
    text-align: center;
    cursor: pointer;
    transition: var(--transition-duration);
    font-size: 23px;
}

.delete-box {
    background-color: var(--white);
    margin-left: var(--standard-margin);
    font-weight: bold;
}

.delete-box span {
    display: block;
    font-size: 1.2rem;
}

body:not(.mobile-safari) .delete-box:hover,
body:not(.mobile-safari) .delete-box:hover path,
body.mobile-safari .delete-box:active,
body.mobile-safari .delete-box:active path,
.is-keyboard-focus .delete-box:focus,
.is-keyboard-focus .delete-box:focus path {
    background-color: var(--black);
    color: var(--white);
    fill: var(--white);
}

.vote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--standard-margin);
}

@media (--mobile) {
    .vote-box {
        width: 100%;
        margin-left: 0;
    }
}

.vote-box > button {
    border: 1px solid var(--darker-grey);
    border-radius: 1.5rem;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
    color: var(--warm-grey);
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--base-font-family);
    font-weight: bold;
    user-select: none;
}

.vote-box > button:first-child {
    margin-right: var(--standard-margin);
}

body:not(.mobile-safari) .vote-box > button:hover {
    background-color: var(--black);
    border-color: transparent;
    color: var(--white);
}

.vote-box > button:disabled {
    opacity: 0.3;
    pointer-events: none;
}
