.listen-box {
    --listen-box-height: 5rem;
    display: flex;
    margin-bottom: calc(2 * var(--standard-margin));
    flex-wrap: wrap;
    outline: none;

    @media (--md-up) {
        flex-wrap: initial;
    }

    &.loaded {
        & .play-box, & .delete-box, & .vote-box {
            opacity: 1;
            pointer-events: all;
        }
    }

    & .play-box, & .delete-box, & .vote-box {
        opacity: 0.3;
        border: none;
        height: var(--listen-box-height);
        pointer-events: none;
    }

    & .sentence-box {
        min-height: var(--listen-box-height);
        color: var(--near-black);

        &.disabled {
            box-shadow: none;
            background: var(--light-grey);
        }

        & a {
            color: var(--green);
        }
    }

    & .sentence-box, & .play-box, & .delete-box, & .vote-box {
        position: relative;

        & b {
            position: absolute;
            top: -1.3rem;
            line-height: 1rem;
            font-size: 0.65rem;
            left: 0;
        }
    }

    & .speak {
        margin: 10px auto auto;
        padding: 20px;
        height: 50px;
        min-width: auto;
        white-space: nowrap;

        @media (--md-up) {
            margin: auto 0 auto 30px;
        }
    }
}



.play-box,
.delete-box {
    min-width: var(--listen-box-height);
    line-height: var(--listen-box-height);
    text-align: center;
    cursor: pointer;
    transition: var(--transition-duration);
    font-size: 23px;

    & svg {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    &:hover, &:focus.focus-visible {
        & svg {
            transform: scale(1.1);
        }
    }
}

.play-box {
    color: var(--green);
}

body:not(.mobile-safari) .play-box:hover,
body:not(.mobile-safari) .play-box:hover path,
body.mobile-safari .play-box:active,
body.mobile-safari .play-box:active path,
.play-box:focus.focus-visible,
.play-box:focus.focus-visible path {
    outline: none;
    background-color: var(--green);
    color: var(--white);
    fill: var(--white);
}

.sentence-box {
    padding: 0 1.5rem;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 1.3;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-right: var(--standard-margin);
    box-shadow: var(--card-shadow);
}

@media (--mobile) {
    .sentence-box {
        font-size: var(--font-size-small);
        line-height: 1.2rem;
        flex: 1;
    }
}

.delete-box {
    background-color: var(--white);
    margin-left: var(--standard-margin);
    font-weight: bold;

    & span {
        display: block;
        font-size: 1.2rem;
    }
}

body:not(.mobile-safari) .delete-box:hover,
body:not(.mobile-safari) .delete-box:hover path,
body.mobile-safari .delete-box:active,
body.mobile-safari .delete-box:active path,
.delete-box:focus.focus-visible,
.delete-box:focus.focus-visible path {
    background-color: var(--black);
    color: var(--white);
    fill: var(--white);
}

.vote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--standard-margin);

    & > button {
        border: 1px solid var(--darker-grey);
        border-radius: 1.5rem;
        padding: .5rem 1.5rem;
        display: flex;
        align-items: flex-end;
        flex: 1;
        justify-content: center;
        color: var(--warm-grey);
        font-size: .9rem;
        text-transform: uppercase;
        cursor: pointer;
        font-family: var(--base-font-family);
        font-weight: bold;
        user-select: none;

        &:first-child {
            margin-right: var(--standard-margin);
        }

        &:disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}

@media (--mobile) {
    .vote-box {
        width: 100%;
        margin-left: 0;
    }
}

body:not(.mobile-safari) .vote-box > button:hover {
    background-color: var(--black);
    border-color: transparent;
    color: var(--white);
}
