.partner-main-container {
    --type-color: var(--blue);
}

.partnerships-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--desktop-width);
    min-height: 100%;
    transition: opacity var(--transition-duration-slow) var(--easing);
    padding-top: 25px;

    @media (--xs-down) {
        flex-direction: column;
    }
}

.partnerships-container .partnerships-header-text {
    margin: 0px 20px 40px 20px;
}

.partnerships-container .page-heading {
    font-size: 48px;

    @media (--md-only) {
        margin-top: 0;
    }
}

.partnerships-container .partnerships-header-image {
    @media (--xs-down) {
        margin: 0 auto;
    }

    @media (--md-up) {
        flex: 1;
        text-align: right;
    }

    & img {
        @media (--md-down) {
            max-height: 220px;
        }
    }
}

.partnerships-container p {
    font-weight: 300;

    @media (--xs-down) {
        font-size: 18px;
        width: 355px;
    }

    @media (--lg-up) {
        width: 566px;
        font-size: 24px;
    }
}

.partnerships-container .button {
    border: none;
    background: var(--type-color);
    color: var(--white);
    font-size: 16px;
    max-width: 220px;
    margin-top: 50px;
    padding: 15px;
    justify-content: flex-start;

    @media (--md-only) {
        margin-top: 15px;
    }

    @media (--xs-down) {
        margin: 50px auto 25px auto;
    }
}

.partner-main-container .partnerships-container .button:hover {
    background: var(--type-color);
    color: var(--white);
}

.partner-main-container .partnerships-container .button:hover path {
    fill: var(--white);
}

.partner-main-container .partnerships-container path {
    fill: var(--white);
}

.partnerships-container svg {
    flex: 0.5;
}

.partnerships-section {
    margin-bottom: 40px;

    @media (--lg-only) {
        height: 550px;
    }

    @media (--md-up) {
        background: url('./images/waves.png');
        background-size: cover;
    }

    @media (--md-only) {
        background-size: contain;
        background-repeat: no-repeat;
    }

    @media (--xs-down) {
        background: url('./images/waves-small.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.become-a-partner-container,
.our-partners-container {
    max-width: 80rem;
    text-align: center;

    @media (--md-up) {
        margin: 0 auto;
        padding: 2rem 4rem;
    }
}

.our-partners-container img {
    @media (--md-down) {
        max-height: 85px;
    }
}

.become-a-partner-container h2,
.our-partners-container h2 {
    font-size: 36px;
    margin-bottom: 32px;
}

.become-a-partner-options {
    @media (--xs-down) {
        margin: 0 20px;
    }

    & img {
        margin-bottom: 20px;
    }
}

.our-partners-images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 80px;
    align-items: center;

    @media (--md-only) {
        grid-template-columns: repeat(3, 200px);
        grid-row-gap: 30px;
    }

    @media (--xs-down) {
        margin: 0px 20px 60px 20px;
        grid-template-columns: repeat(3, 50px);
        grid-column-gap: 70px;
        grid-row-gap: 30px;
    }
}
