.partner-options-container {
    @media (--lg-up) {
        display: flex;
        justify-content: space-evenly;
    }

    margin-bottom: 32px;
}

.partner-options-container img {
    align-self: end;
}

.partner-options-text-container {
    flex: 0.8;

    @media (--lg-up) {
        width: 650px;
    }
}

.partner-options-text-container .partner-option-title {
    font-size: var(--font-size-lg);
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}

.partner-options-text-container .partner-option-content {
    text-align: left;
    font-weight: 400;
}

.partner-options-text-container a {
    color: var(--anchor-text-blue);
}
