#profile-card {
    margin-top: 3rem;
    border-top: 5px solid black;
    padding: 2rem;
    box-shadow: var(--card-shadow);

    & form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    & hr {
        margin: 2.3rem 0;
        width: 100%;
    }

    & .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    & button[type=submit] {
        margin-top: 1rem;
    }
}

@media (max-width: 449px) {
    #profile-card {
        & .half-width {
            width: 100%;
        }
            
        & .title-and-action {
            flex-direction: column;
            text-align: center;
        }
    }
}

@media (min-width: 450px) {
    #profile-card {
        & .half-width {
            width: 50%;

            &:nth-child(odd) {
                padding-right: .5rem;
            }

            &:nth-child(even) {
                padding-left: .5rem;
                page-break-after: always;
            }
        }
    }
}
