.language-select {
    position: relative;

    & .current {
        border: 1px solid color-mod(var(--black) alpha(10%));
        border-radius: 1000px;
        max-height: 50px;
        min-width: 220px;
        padding: 13px 22px;

        font-family: var(--base-font-family);
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-weight: 600;
        font-size: 14px;

        background: var(--white) url('/img/down-arrow.svg') no-repeat 90% center;
        background-size: 10px;
        cursor: pointer;
        padding-right: 45px;

        &:hover {
            background-color: var(--desert-storm);
        }

        @media (--md-down) {
            margin-top: 15px;
        }
    }

    & ul {
        margin: 1px 0 0;
        padding: 0;
        max-height: 190px;
        width: 100%;
        position: absolute;
        z-index: var(--middle-z-index);
        background: var(--white);
        list-style: none;
        overflow: auto;
        color: var(--near-black);
        box-shadow: 0 2px 5px 0 var(--light-grey);

        & li {
            border-bottom: 1px solid var(--light-grey);
            cursor: pointer;
            padding: 13px 22px;

            &:last-child .line {
                border-bottom: 0;
            }

            &.selected {
                font-weight: 600;
            }

            &.highlighted {
                background: var(--light-grey);
            }
        }
    }
}
