.hero-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: var(--white);

    transition: width var(--transition-duration-slow) var(--easing);

    @media (--sm-down) {
        padding: 40px 0 90px;
    }

    @media (--md-up) {
        padding: 130px 100px 0;
        width: 100%;
        min-height: 500px;

        flex-direction: row;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: opacity linear var(--transition-duration);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 100%;

        @media (--sm-down) {
            background-size: 100%;
        }

        @media (--md-up) {
            background-size: contain;
        }
    }

    &.listen::before {
        background-image: url('images/listen.svg');
    }

    &.speak::before {
        background-image: url('images/speak.svg');
    }

    & .column {
        display: flex;
        flex-direction: column;

        @media (--sm-down) {
            text-align: center;

            &.title {
                order: 0;
                margin-bottom: 20px;
            }

            &.cta {
                order: 2;
            }

            &.progress {
                order: 1;
                margin-bottom: 20px;
            }
        }
    }

    & h1 {
        font-size: 48px;
        font-weight: normal;

        @media (--md-up) {
            margin-bottom: 10px;
        }
    }

    & h3 {
        font-size: 20px;
        font-weight: normal;

        &.progress-title {
            white-space: nowrap;

            @media (--sm-down) {
                font-family: var(--base-font-family);
                font-weight: 600;
                font-size: var(--font-size-xs);
                letter-spacing: 0.5px;
            }
        }
    }

    & p {
        font-size: 14px;
        color: var(--warm-grey);

        @media (--sm-down) {
            margin: 0 auto;
            max-width: 268px;
        }

        @media (--md-up) {
            max-width: 280px;
        }
    }

    & .description {
        @media (--sm-down) {
            margin: 20px auto;
        }

        @media (--md-up) {
            margin-top: 10px;
        }
    }

    & .cta-message {
        margin: 0 auto;
        text-align: center;
        color: var(--near-black);

        @media (--sm-down) {
            margin-top: 16px;
            font-size: var(--font-size-xs);
            font-weight: 600;
            white-space: nowrap;
        }

        @media (--md-up) {
            margin-bottom: 5px;
            max-width: 85px;
            line-height: 1.5;
        }
    }

    & .line {
        margin: 0 auto;
        width: 1px;
        height: 16px;

        @media (--md-up) {
            height: 26px;
        }

        &.speak {
            background: var(--red);
        }

        &.listen {
            background: var(--valid-green);
        }
    }

    & .primary-button {
        & .background {
            width: 75px;
            height: 75px;

            @media (--md-up) {
                width: 100px;
                height: 100px;
            }
        }

        & a {
            background: white;
            transition: background var(--transition-duration-slow) linear;
        }
    }

    & .progress-count {
        display: inline-flex;
        align-items: flex-start;
        font-weight: 600;

        @media (--sm-down) {
            justify-content: center;
        }

        & .current {
            font-size: var(--font-size-lg);
        }

        & .total {
            font-size: var(--font-size);
            white-space: pre;
        }
    }

    & .toggleable {
        transform: translateY(50px);
        opacity: 0;
        transition: width var(--transition-duration-slow) linear,
            height var(--transition-duration-slow) linear,
            opacity var(--transition-duration),
            transform var(--transition-duration-slow) var(--easing);
    }

    &.active {
        &::before {
            opacity: 1;
        }

        & .toggleable {
            transform: translateY(0);
            opacity: 1;
            transition: width var(--transition-duration-slow),
                height var(--transition-duration-slow),
                opacity var(--transition-duration-slow) linear
                    var(--transition-duration-slow),
                transform var(--transition-duration) var(--easing)
                    var(--transition-duration-slow);
        }

        & .primary-button {
            &.stop a {
                background: var(--red);

                & path {
                    fill: var(--white);
                }
            }

            &.play a {
                background: var(--valid-green);

                & path {
                    fill: var(--white);
                }
            }
        }
    }

    & .fading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('images/fading.svg');
        background-size: 100% 100%;
        pointer-events: none;
    }

    &.listen .fading {
        transform: scaleX(-1);
        left: -1px;
    }

    &.speak .fading {
        left: auto;
        right: -1px;
    }

    & a.terms {
        margin-top: 20px;
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: var(--blue);
        text-decoration: underline;
    }
}
