@media (min-width: 600px) {
    #home-title {
        position: absolute;
        top: 0;
        margin-top: 3rem;
        width: var(--desktop-width);
        animation: fade-in .5s;
    }

    #wall-of-text {
        width: calc(100% - 391px);
        margin-left: auto;
    }

    #contribute-button {
        top: 19.8rem;
    }
}

@media (max-width: 600px) {
    #home-title {
        margin: 1rem 0;
    }

    #contribute-button {
        top: 5rem;
        margin: 0 var(--standard-margin) 0 10rem;
    }
}

#contribute-button {
    position: absolute;
}

#contribute-button img {
    width: 20px;
    height: 20px;
}

#contribute-button div {
    display: flex;
    margin-right: 1rem;
}

#wall-of-text p:first-child {
    margin-bottom: var(--standard-margin);
}

#show-more-text {
    font-size: var(--small-font-size);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

#help-explain {
    margin: var(--standard-margin) 0 1.5rem;
    font-size: var(--small-font-size);
    font-style: italic;
}