.home {
    & .primary-button a {
        z-index: var(--middle-z-index);
    }

    & .heroes {
        border-top: 1px solid var(--light-grey);
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media (--lg-up) {
            flex-direction: row;

            &.single {
                & .hero-box::before {
                    background-size: 100% 50%;
                }

                @media (--lg-up) {
                    & .column.cta {
                        padding: 0 48px;
                    }
                }
            }

            &.multiple {
                & > :first-child {
                    border-right: 1px solid var(--light-grey);
                }

                & .active {
                    width: 60%;
                }
                & .compressed {
                    width: 40%;
                }
            }
        }
    }

    & .non-contributable-hero {
        position: relative;
        background: linear-gradient(white, #f9f9f8);

        @media (--md-up) {
            margin-bottom: -80px;
        }

        & .fading {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: var(--middle-z-index);
        }

        & .waves {
            width: 100%;
            transform: scaleY(-1);
            opacity: 0.5;
        }
    }

    & .text {
        background: #f9f9f8;

        @media (--sm-down) {
            padding: 30px 20px 15px;
        }
        @media (--md-up) {
            padding: 95px 20px 225px;

            & .title,
            & .description {
                width: 50%;
                max-width: 570px;
            }
        }

        & .inner {
            max-width: var(--desktop-width);
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            @media (--md-up) {
                flex-direction: row;
                justify-content: center;
            }
        }

        & .title {
            @media (--md-up) {
                margin-inline-end: 30px;
            }

            & h1 {
                font-size: var(--font-size-lg);
                font-weight: normal;

                @media (--sm-down) {
                    margin-bottom: 20px;
                }
                @media (--md-up) {
                    max-width: 520px;
                    font-size: var(--font-size-xxl);
                }
            }
        }

        & .description {
            @media (--md-up) {
                width: 50%;
            }

            & p {
                max-width: 475px;
                color: var(--near-black);
                line-height: 1.5;
            }
        }

        & .show-more {
            border: none;
            padding: 0;
            font-size: var(--font-size-xs);
            font-weight: 600;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: var(--blue);
        }
    }

    & .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white);
        padding: 0 20px;

        @media (--md-down) {
            margin-bottom: 33px;
            flex-direction: column;

            & > :first-child {
                margin-bottom: 10px;
            }
        }
        @media (--lg-up) {
            /* Compensate for translateY */
            &.logged-in {
                margin-bottom: -70px;
            }

            flex-direction: row;

            & > :first-child {
                margin-inline-end: 30px;
            }

            & > * {
                transform: translateY(-40%);
            }
        }
    }

    & .contribute-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: url('images/light-waves.svg') repeat-x center bottom;
        overflow: hidden;

        @media (--md-up) {
            min-height: 408px;

            & .mars-container,
            & .cta {
                width: 50%;
                max-width: 570px;
            }

            & .mars-container {
                margin-inline-end: 30px;
                display: flex;
                justify-content: flex-end;
            }
        }

        & .cta {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @media (--md-up) {
                flex-direction: row;
                align-items: center;
            }
        }

        & .mars-container img {
            @media (--sm-down) {
                margin-bottom: 15px;
                margin-inline-end: 28px;
            }
            @media (--md-up) {
                margin-inline-end: 100px;
                transform: scale(1.2) translateY(30px);
            }
        }

        & .primary-button {
            @media (--sm-down) {
                margin: 0;
                justify-content: flex-start;

                & .background {
                    left: -5px;
                }
            }
            @media (--md-up) {
                margin-inline-start: 10px;
            }
        }

        & h1 {
            font-weight: normal;

            @media (--sm-down) {
                margin-top: 26px;
                margin-inline-end: 18px;
                max-width: 140px;
                font-size: var(--font-size-lg);
            }
            @media (--md-up) {
                max-width: 300px;
                font-size: var(--font-size-xxl);
            }
        }

        & .request-language {
            outline: none;
            border: 1px solid transparent;
            border-radius: 50px;
            font-size: var(--font-size);
            color: var(--white);
            background: var(--blue);
            transition: background var(--transition-duration),
                border var(--transition-duration),
                color var(--transition-duration);

            &:hover {
                border: 1px solid var(--blue);
                color: var(--black);
                background: var(--white);
            }

            @media (--sm-down) {
                margin-top: 10px;
                padding: 10px 20px;
            }
            @media (--md-up) {
                margin-top: 20px;
                padding: 15px 40px;
            }
        }
    }

    & .register-section {
        margin-top: 50px;
        padding: 0 20px;
    }
}
