.project-status {
    color: var(--grey-font-color);
    box-shadow: var(--card-shadow);
}

.project-status .title-and-action {
    padding: 1.5rem 2rem;
    background: var(--color-grey-background);
}

.project-status h4 {
    font-family: var(--base-font-family);
    font-weight: normal;
}

.project-status .contents {
    padding: 1.5rem 2rem;
}

.language-progress {
    margin-bottom: 2rem;
}

.progress-bar {
    margin: var(--standard-margin) 0;
    height: 2rem;
    width: 100%;
    background: var(--color-grey-background);
}

.progress-bar .validated-hours {
    height: 100%;
    background: var(--color-listen);
}

.language-progress .numbers {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (--mobile) {
    .project-status .title-and-action, .language-progress .numbers {
        flex-direction: column;
    }
}