.project-status {
    color: var(--near-black);
    box-shadow: var(--card-shadow);

    & .title-and-action {
        padding: 1.5rem 2rem;
        background: var(--lighter-grey);
    }
}

@media (--mobile) {
    .project-status .title-and-action{
        & h4, & a {
            align-self: left;
        }

        & a {
            padding-top: 1rem;
        }
    }
}

.project-status {
    & h4 {
        font-family: var(--base-font-family);
        font-weight: normal;
    }

    & .contents {
        padding: 1.5rem 2rem;
        font-size: .9rem;

        & b {
            text-transform: uppercase;
        }
    }
}

.language-progress {
    margin-bottom: 2rem;

    & .numbers {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (--mobile) {
    .project-status .title-and-action, .language-progress .numbers {
        flex-direction: column;
    }
}

#home-container .project-status .request-language {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        margin: 20px 0;
    }
}
