@import url('../../vars.css');

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.home-card {
    width: 100%;
    max-width: 570px;
    padding: 25px 30px;
    box-sizing: border-box;
    background: var(--white);
    box-shadow: var(--card-shadow);

    & .head {
        min-height: 63px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (--md-up) {
            flex-direction: row;
        }

        & .select {
            position: relative;

            & .current {
                border: 1px solid color(var(--black) alpha(10%));
                border-radius: 1000px;
                max-height: 50px;
                min-width: 220px;
                padding: 13px 22px;
                box-sizing: border-box;

                font-family: var(--base-font-family);
                text-transform: uppercase;
                letter-spacing: 0.8px;
                font-weight: 600;
                font-size: 14px;

                background: url('/img/down-arrow.svg') no-repeat 90% center;
                background-size: 10px;
                cursor: pointer;

                &:hover {
                    background-color: var(--desert-storm);
                }

                @media (--md-down) {
                    margin-top: 15px;
                }
            }

            & ul {
                margin: 1px 0 0;
                padding: 0;
                max-height: 190px;
                width: 100%;
                position: absolute;
                background: var(--white);
                list-style: none;
                overflow: auto;
                color: var(--near-black);
                box-shadow: 0 2px 5px 0 var(--light-grey);

                & li {
                    border-bottom: 1px solid var(--light-grey);
                    cursor: pointer;
                    padding: 13px 22px;

                    &:last-child .line {
                        border-bottom: 0;
                    }

                    &.selected {
                        font-weight: 600;
                    }

                    &.highlighted {
                        background: var(--light-grey);
                    }
                }
            }
        }
    }

    & .metrics {
        display: flex;
        flex-direction: row;

        & > * {
            padding: 0 15px;
            border-right: 1px solid var(--grey);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    & .metric {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .label {
            min-height: 32px;
            font-size: var(--font-size-xs);
            letter-spacing: 0.5px;
            color: var(--warm-grey);
        }
    }

    & svg {
        margin-top: 28px;
        height: 170px;
    }

    & .tick-label {
        font-size: var(--font-size-xs);
        fill: var(--warm-grey);

        @media (--xxs-down) {
            &.x:nth-child(2n) {
                display: none;
            }
        }
    }

    & path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 1s linear forwards;

        &.total {
            stroke: var(--red);
        }
        &.valid {
            stroke: var(--valid-green);
        }
        &.unverified {
            stroke: var(--blue);
        }
    }

    & circle {
        opacity: 0;
        animation: fade-in var(--transition-duration) linear 0.5s forwards;

        &.inner {
            &.total {
                fill: var(--red);
            }
            &.valid {
                fill: var(--valid-green);
            }
            &.unverified {
                fill: var(--blue);
            }
        }

        &.outer {
            &.total {
                filter: drop-shadow(0 3px 3px var(--red));
            }
            &.valid {
                filter: drop-shadow(0 3px 3px var(--valid-green));
            }
            &.unverified {
                filter: drop-shadow(0 3px 3px var(--blue));
            }
        }
    }

    & h3 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: normal;
    }

    & .online-voices {
        font-size: var(--font-size-lg);
        font-weight: 600;
        color: var(--valid-green);
    }

    & rect {
        @media (--xxs-down) {
            &:nth-child(2n) {
                display: none;
            }
        }

        &.bg {
            fill: var(--grey);
        }

        &.current {
            fill: var(--valid-green);
        }
    }
}

.metric-value {
    display: flex;
    align-items: center;
    font-weight: 600;

    &.total {
        color: var(--red);
    }
    &.valid {
        color: var(--valid-green);
    }
    &.unverified {
        color: var(--blue);
    }

    & .point {
        margin-top: -3px;
        margin-right: 6px;
        font-size: 20px;
    }
}

.tippy-tooltip.white-theme {
    border-radius: 80px;
    background: var(--white);
    box-shadow: 0 8px 17px 0 rgba(149, 149, 149, 0.43);
    color: var(--black);

    & .arrow-regular {
        bottom: -6px;
        border-top-color: var(--white) !important;
    }

    & .metrics {
        display: flex;
        flex-direction: row;

        & > * {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
