@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.home-card {
    width: 100%;
    max-width: 570px;
    padding: 25px 30px;

    background: var(--white);
    box-shadow: var(--card-shadow);

    & .head {
        min-height: 63px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (--md-up) {
            flex-direction: row;
        }
    }

    & .metrics {
        display: flex;
        flex-direction: row;

        & > * {
            padding: 0 15px;
            border-inline-end: 1px solid var(--grey);

            &:first-child {
                padding-inline-start: 0;
            }

            &:last-child {
                border-inline-end: none;
            }
        }
    }

    & .metric {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .label {
            min-height: 32px;
            font-size: var(--font-size-xs);
            letter-spacing: 0.5px;
            color: var(--warm-grey);
        }
    }

    & path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 1s linear forwards;

        &.total {
            stroke: var(--red);
        }
        &.valid {
            stroke: var(--valid-green);
        }
        &.unverified {
            stroke: var(--blue);
        }
    }

    & circle {
        opacity: 0;
        animation: fade-in var(--transition-duration) linear 0.5s forwards;

        &.inner {
            &.total {
                fill: var(--red);
            }
            &.valid {
                fill: var(--valid-green);
            }
            &.unverified {
                fill: var(--blue);
            }
        }

        &.outer {
            &.total {
                filter: drop-shadow(0 3px 3px var(--red));
            }
            &.valid {
                filter: drop-shadow(0 3px 3px var(--valid-green));
            }
            &.unverified {
                filter: drop-shadow(0 3px 3px var(--blue));
            }
        }
    }

    & h3 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: normal;
    }

    & .online-voices {
        font-size: var(--font-size-lg);
        font-weight: 600;
        color: var(--valid-green);
    }
}

.metric-value {
    display: flex;
    align-items: center;
    font-weight: 600;

    &.total {
        color: var(--red);
    }
    &.valid {
        color: var(--valid-green);
    }
    &.unverified {
        color: var(--blue);
    }

    & .point {
        margin-top: -3px;
        margin-inline-end: 6px;
        font-size: 20px;
    }
}

.tippy-tooltip.light-theme {
    border-radius: 80px;
    background: var(--white);
    box-shadow: 0 8px 17px 0 rgba(149, 149, 149, 0.43);
    color: var(--black);

    & .arrow-regular {
        bottom: -6px;
        border-top-color: var(--white) !important;
    }

    & .metrics {
        display: flex;
        flex-direction: row;

        & > * {
            margin-inline-end: 30px;

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }
}
