@import url('../../../../../media.css');

.rules {
    @media (--lg-up) {
        width: 350px;
        margin-left: 50px;
        min-height: 350px;
    }


    & .inner {
        background: var(--desert-storm);
        padding: 24px 34px 0;
        height: 100%;

        @media (--md-down) {
            padding-bottom: 20px;
        }

        & .rules-title-container {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            svg {
                transition: transform var(--easing) var(--transition-duration);

                @media (--lg-up) {
                    display: none;
                }
            }

            & svg.rotate-180 {
                transform: rotate(180deg);
            }
        }
    }

    & .inner.rules-hidden {
        @media (--xs-down) {
            padding-bottom: 0;
            padding-top: 16px;
            padding-left: 16px;
        }
    }

    & .text-button {
        font-size: var(--font-size-sm);
        margin-bottom: 16px;
        cursor: auto;
        width: 100%;
        text-align: left;

        @media (--xs-down) {
            font-size: var(--font-size-xs);
        }

        @media (--lg-up) {
            pointer-events: none;
        }
    }

    ul {
        font-size: var(--font-size-sm);
        color: var(--near-black);

        @media (--xs-down) {
            font-size: var(--font-size-xs);
        }

        li {
            margin-bottom: 16px;
            width: 250px;

            a {
                color: var(--anchor-text-blue);
                text-decoration: underline;
            }
        }

        & li.error {
            list-style-image: url("../../../../../ui/icons/alert.svg");
        }

        & li.last-rule {
            margin-bottom: 0px;
        }
    }
}

.rules.write-rules {
    height: calc(30vh + 91.5px);
}