#profile-actions {
    margin: 0 auto 2rem;
    padding-top: var(--standard-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#create-profile-button {
    font-weight: normal;
    text-transform: uppercase;
}

#profile-form-container {
    position: relative;
    text-align: start;
}

#why-profile {
    margin: 0 auto;
    padding: 1rem;
    width: 70%;
    background-color: var(--color-record-why-profile);
}

#why-profile-text {
    text-align: left;
}

#why-profile-title {
    margin: 1rem auto;
    font-weight: bold;
}

#profile-actions a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#profile-actions a, #why-profile-title {
    font-size: var(--small-font-size);
}

#profile-actions .alert {
    margin-bottom: 1rem;
}