#profile-actions {
    margin: 0 auto 2rem;
    padding-top: var(--standard-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-actions > hr {
    margin-bottom: 2.3rem;
}

#profile-form-container {
    position: relative;
    text-align: start;
}

#why-profile {
    margin: 0 auto;
    padding: 1rem;
    width: 70%;
    background-color: var(--lighter-grey);
}

#why-profile-text {
    text-align: left;
    color: var(--grey-font-color);
}

#why-profile-title {
    margin: 1rem auto;
    font-weight: 600;
}

#profile-actions a {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

#profile-actions a, #why-profile-title {
    font-size: var(--font-size-small);
}

#profile-actions .alert {
    margin-bottom: 1rem;
}
