@import url('profile-actions.css');
@import url('review.css');

#record-container {
    position: relative;
    top: -4.5rem;
    text-align: center;
    padding-top: 0;
}

.unsupported > :first-child {
    padding-top: 3rem;
}

.unsupported a {
    display: block;
    color: blue;
    margin: 0.5rem 0;
}

.unsupported span {
    margin-right: 0.5rem;
}

.unsupported p {
    padding: 1rem 0;
}

#recordings-count {
    color: var(--color-speak);
    font-size: .9rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

#recordings-count span {
    padding: 0.3rem;
}

.record-sentence {
    height: 14rem;
    margin-top: 0.5rem;
    position: relative;
    transition: transform 0.2s ease-in;
}

.text-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    background-color: var(--base-background-color);
    box-shadow: var(--card-shadow);
    transition: transform 0.4s var(--easing);
    font-family: var(--strong-font-family);
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box.left {
    transform: translateX(-100vw);
}
.text-box.right {
    transform: translateX(100vw);
}

.refresh {
    position: absolute;
    right: 0.2rem;
    bottom: 0.3rem;;
    font-size: 0.6rem;
}

#refresh-help {
    text-align: right;
    padding-top: 0.3rem;
    padding-right: 0.6rem;
}

.record-controls {
    margin: 2rem auto 1rem;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#record-button {
    display: inline-block;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
}

#record-button:hover {
    transform: scale(1.1);
}

#record-button img {
    width: 100%;
}

#record-button:hover {
    background: none;
}

.recording #record-button {
    background-color: var(--color-speak-light);
    animation: throb 1.2s ease-in-out infinite;
}

@keyframes throb {
    50%{transform: scale(1.1);}
}

#undo-clip {
    position: absolute;
    bottom: -50%;
    color: var(--color-speak);
    left: 2rem;
    z-index: var(--middle-z-index);
    opacity: 1;
    transition: all 0.2s ease-out;
    padding: 0.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    #undo-clip {
        bottom: -80%;
    }
}

#record-help {
    padding: 0 2rem;
    font-size: .9rem;
    color: var(--grey-font-color);
}

#voice-record {
    position: relative;
    overflow: hidden;
    padding: 0 0.5rem;
}

#alert-container {
    position: absolute;
    top: var(--page-margin);
    left: 0;
    right: 0;
    z-index: var(--middle-z-index);
    margin: 0 auto;
    width: calc(100% - 1.5rem);
}

@media (min-width: 600px) {
    #voice-record {
        padding: 0 0.25rem;
    }
}

@media (min-width: 600px) {
    .record-actions {
        position: relative;
        width: 100%
    }

    .rerecord {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 600px) {
    .record-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rerecord {
        margin-top: var(--standard-margin);
    }
}

.rerecord {
    font-size: var(--small-font-size);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}