@import url('profile-actions.css');
@import url('review.css');

#record-container {
    position: relative;
    top: -4.5rem;
    text-align: center;
    padding-top: 0;
}

.unsupported {
    & > :first-child {
        padding-top: 3rem;
    }

    & a {
        display: block;
        color: var(--link-color);
        margin: 0.5rem 0;
    }

    & span {
        margin-right: 0.5rem;
    }

    & p {
        padding: 1rem 0;
    }
}

#recordings-count {
    color: var(--red);
    font-size: .9rem;
    font-weight: bold;

    & span {
        padding: 0 0.3rem 0.3rem;
    }
}

.record-sentence {
    margin-top: 0.5rem;
    position: relative;
    transition: transform var(--transition-duration) var(--easing);
}

.text-box {
    transition: transform var(--transition-duration-slow) var(--easing);

    &.no-sentences-error {
        background-color: var(--white);

        & p {
            opacity: .3;
        }
    }

    &.left, &.right {
        position: absolute;
        top: 0;
    }

    &.left {
        transform: translateX(-100vw);
    }

    &.right {
        transform: translateX(100vw);
    }

    & p {
        padding: 1rem;
        min-height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--strong-font-family);
        font-size: 1.4rem;
        background-color: var(--white);
        box-shadow: var(--card-shadow);
    }
}

.refresh {
    position: absolute;
    right: 0.2rem;
    bottom: 0.3rem;;
    font-size: 0.6rem;
}

#refresh-help {
    text-align: right;
    padding-top: 0.3rem;
    padding-right: 0.6rem;
}

.record-controls {
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#record-button {
    display: inline-block;
    box-sizing: content-box;
    border: none;
    border-radius: 50%;
    padding: .5rem;
    width: 50px;
    height: 50px;

    &:hover, &:focus.focus-visible {
        transform: scale(1.1);
    }

    & img {
        width: 100%;
    }

    &:hover {
        background: none;
    }
}

.recording #record-button {
    background-color: var(--light-red);
    animation: throb 1.2s var(--easing) infinite;
}

@keyframes throb {
    50% {
        transform: scale(1.1);
    }
}

#undo-clip {
    position: absolute;
    bottom: -50%;
    color: var(--red);
    left: 2rem;
    z-index: var(--middle-z-index);
    opacity: 1;
    transition: all var(--transition-duration) var(--easing);
    padding: 0.5rem;
    cursor: pointer;
}

@media (--mobile) {
    #undo-clip {
        bottom: -80%;
    }
}

#record-help {
    margin-top: 1.5rem;
    padding: 0 2rem;
    font-size: .9rem;
    color: var(--near-black);
}

#voice-record {
    position: relative;
    overflow: hidden;
    padding: 0 0.5rem;
}

#alert-container {
    position: absolute;
    top: var(--page-margin);
    left: 0;
    right: 0;
    z-index: var(--middle-z-index);
    margin: 0 auto;
    width: calc(100% - 1.5rem);
}

@media (--desktop) {
    #voice-record {
        padding: 0 0.25rem;
    }
}

@media (--desktop) {
    .record-actions {
        position: relative;
        width: 100%
    }

    .rerecord {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (--mobile) {
    .record-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rerecord {
        margin-top: var(--standard-margin);
    }
}

.rerecord {
    font-size: var(--font-size-small);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
