.selected-accent {
    display: inline-flex;
    align-items: center;
    padding-inline-start: 1.5rem;
    margin-inline-end: 1rem;
    margin-bottom: 1.5rem;
    background: var(--light-grey);
    border-radius: 15rem;
}

.selected-accent--button {
    border: none;
    padding: 0.8rem 1.5rem;
    padding-inline-start: 1rem;
}

#accent-selection-menu {
    max-height: 200px;
    overflow-y: scroll;

    .add-new-accent {
        color: var(--blue);
        font-weight: 600;

        &:focus,
        &:hover {
            background: var(--light-grey);
        }
    }
}
