.contribution-criteria {
    h1,
    h2 {
        font-weight: normal;
    }

    h1 {
        font-size: var(--font-size-xxl);
        margin-bottom: 2rem;
    }

    .contribution-criteria-page-description {
        font-size: var(--font-size-lg);

        font-weight: 300;
    }
}

.contribution-criteria-content {
    padding: 0 var(--page-margin);
    margin: 0 auto;
    max-width: var(--desktop-width);

    @media (--lg-up) {
        .contribution-criteria-page-description {
            max-width: 36rem;
        }
    }
}

.criterion {
    padding: 2rem 0;
    border-bottom: 1px solid var(--warm-grey);

    &:last-child {
        border-bottom: 0;
    }

    @media (--lg-up) {
        display: grid;
        padding: 4rem 0;
        grid-row-gap: 1rem;

        grid-template-columns: 2.5rem 50% auto;
        grid-template-rows: var(--font-size-xl) auto;
    }

    .criterion-index {
        border: 2px solid #9b9b9b;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        margin-bottom: 1em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        padding-bottom: 1rem;
        @media (--lg-up) {
            padding-bottom: 2rem;
        }
    }

    .criterion-explanation {
        color: var(--near-black);

        @media (--lg-up) {
            grid-column-start: 2;
        }

        p {
            color: var(--black);
            margin-bottom: 2rem;
        }

        ul {
            list-style-position: inside;
            padding-left: 1em;
        }
    }

    .criterion-examples {
        font-size: calc(var(--font-size) - 2px);
        overflow: hidden;
        position: relative;

        span {
            color: var(--near-black);
            text-transform: uppercase;
            font-weight: 600;
        }

        @media (--lg-up) {
            margin-inline-start: 2rem;
            max-width: 26rem;
            grid-row-start: 2;
            grid-column-start: 3;
        }
        &.has-show-more {
            max-height: 22rem;
            transition: 1s all;
        }
        &.expanded {
            max-height: none;
            transition: 1s all;
            .show-more-button {
                background: none;
                height: auto;
                position: relative;
            }
        }
        .show-more-button {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 15rem;
            display: grid;
            align-items: end;
            padding: 0 0 1rem 1rem;
            cursor: pointer;
            background: linear-gradient(
                rgba(255, 255, 255, 0) 10%,
                rgba(255, 255, 255, 1) 80%
            );
        }
        svg {
            display: inline-block;
            margin-inline-end: 0.75rem;
        }
        .rotate-180 {
            transform: rotate(180deg);
        }
    }

    .criterion-example {
        background: var(--lighter-grey);
        color: var(--black);
        padding: 0.75rem;
        margin: 1rem 0;
        line-height: 24px;
        display: grid;
        grid-template-columns: 2rem auto;
        grid-row-gap: 0.5rem;
        svg {
            align-self: center;
        }
        p {
            grid-column-start: 2;
        }
    }

    .emphasis {
        color: var(--black);
    }

    .example-headline {
        color: var(--near-black);
    }
}
