@import url('base.css');

* {
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    font-weight: normal;
}

html {
    font-family: var(--base-font-family);
    font-size: var(--font-size);
    color: var(--black);
    background-color: var(--white);
    overflow: auto;
    scroll-behavior: smooth;
}

@media (--md-down) {
    html {
        overflow: hidden;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-family: var(--strong-font-family);
}

@media screen and (min-width: 992px) {
	main {
		height: 80vh;
		padding: 2em 0;
	}

	.container {
		max-width: var(--desktop-width);
		margin: 0 auto;
		padding: var(--page-margin);
	}

	.cv-maintenance {
		max-width: 80%;
		margin: 0 auto;
	}

	.cv-maintenance-message {
		float: left;
		width: 60%;
		padding: var(--page-margin);
	}

	.cv-maintenance-message-text {
		width: 85%;
		line-height: 1.6;
	}

	.cv-maintenance-illustration {
		padding: 5em 2em;
		float: right;
		width: 40%;
	}

	.cv-maintenance {
		overflow: hidden;
	}

}

header {
	border-bottom: 1px solid var(--grey);
}

main {
	background: url('../assets/waves.svg') no-repeat center bottom;
	background-size: 100% auto;
}

footer {
	position: fixed;
	background: var(--black);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4em var(--page-margin);
}

.cv-get-involved-icons {
	display: flex;
}

.cv-round-button {
	width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--near-black);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--near-black);
  display: flex;
  transition: background-color var(--transition-duration) var(--easing);
  margin: 1.25rem 1.25rem 0 0;
  cursor: pointer;
}

.cv-round-button:hover {
	background-color: var(--white);
}

.cv-round-button path {
	fill: var(--white);
}

.cv-round-button:hover path {
	fill: var(--near-black);
}

.cv-logo-footer {
	position: fixed;
}

.cv-license {
	text-align: center;
	font-size: 0.75rem;
	color: var(--white);
}

.cv-license-link,
.cv-license-link:active,
.cv-license-link:visited {
	color: var(--warm-grey);
	text-decoration: none;
}

.cv-license-link:hover {
	color: var(--blue);
}