@import url('../media.css');

.header-wrapper {
    border-bottom: 1px solid var(--light-grey);
}

header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
    transition: background-color var(--transition-duration) linear,
        box-shadow var(--transition-duration) linear;
    padding: var(--page-margin);
    background: var(--white);
    z-index: var(--header-z-index);

    @media (--lg-up) {
        position: relative;
        margin: 0 auto;
        background: none;
        max-width: var(--desktop-width);
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }

    &.active {
        box-shadow: var(--nav-shadow-overhang);

        @media (--lg-up) {
            box-shadow: none;
        }
    }

    & .Logo {
        margin-bottom: -3px;
    }

    & > * {
        display: flex;
        width: 100%;
        height: 100%;

        &:first-child {
            justify-content: flex-start;
            align-items: center;
        }

        &:last-child {
            justify-content: flex-end;
            align-items: center;
        }
    }

    & .nav-links a {
        justify-content: space-evenly;
        font-family: var(--base-font-family);
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
    }

    & .user-menu {
        @media (--md-down) {
            display: none;
        }
    }

    & .localization-select {
        display: none;

        @media (--lg-up) {
            display: initial;
        }
    }

    & .login {
        margin: 0 20px;
        min-width: max-content;
        text-transform: uppercase;

        @media (--md-down) {
            display: none;
        }
    }
}

@media (--lg-up) {
    header > * {
        pointer-events: auto;
    }
}

.nav-list {
    min-height: 100%;

    &,
    & .nav-links {
        display: flex;
        font-family: var(--strong-font-family);

        & a {
            padding: 0 1rem;
            display: block;

            &.active {
                color: var(--red);
            }
        }
    }
}

.tallies {
    flex-direction: column;
    margin-inline-end: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;

    @media (--md-up) {
        flex-direction: row;
        margin-inline-start: 1rem;
    }

    @media (--lg-only) {
        margin-inline-end: 0;
    }

    &:hover {
        opacity: 0.8;
    }

    & > * {
        padding: 0 3px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & .divider {
        padding: 0;
        margin: 1.5px 0;
        border-inline-end: 1px solid var(--darker-grey);
        border-top: 1px solid var(--darker-grey);
        width: 100%;

        @media (--lg-up) {
            margin: 0 0.5rem;
            height: 1rem;
            width: auto;
        }
    }

    & .record-tally {
        color: var(--red);

        & svg {
            margin-inline-start: -9px;
            height: 15px;
        }

        & path {
            fill: var(--red);
        }
    }

    & .validate-tally {
        color: var(--valid-green);

        & svg {
            margin-inline-end: 5px;
            height: 13px;
        }

        & path {
            fill: var(--valid-green);
        }
    }
}

#hamburger-menu {
    min-width: 20px;
    min-height: 20px;
    border: none;
    padding: 0;

    @media (--lg-up) {
        display: none;
    }

    &:hover {
        background-color: transparent;
    }
}

#main-nav {
    display: none;

    @media (--lg-up) {
        display: flex;
        align-items: center;
    }
}

#navigation-modal {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--middle-z-index);
    padding: var(--header-height) 0 0;
    pointer-events: none;
    transform: translateY(-100vh);
    transition: all var(--transition-duration-slow) var(--easing);
    visibility: hidden;
    overflow: auto;

    &.active {
        display: block;
        transform: translateY(0);
        pointer-events: all;
        transition-duration: var(--transition-duration-slow);
        visibility: visible;

        @media (--lg-up) {
            display: none;
        }
    }

    & .nav-list,
    & .nav-links {
        flex-direction: column;
    }

    & .nav-links a {
        margin: 0 30px;
        padding: 15px 0;
        line-height: 1.17;
        font-family: var(--strong-font-family);
        font-size: var(--font-size-lg);

        @media (--sm-up) {
            padding: 30px 0;
        }
    }

    & .user-nav {
        padding: 30px;
        background-image: linear-gradient(
            359deg,
            var(--white),
            var(--light-grey)
        );

        & .user-nav-link {
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: var(--base-font-family);
            color: var(--near-black);

            & svg {
                margin-inline-end: 20px;
            }

            & path {
                fill: var(--warm-grey);
            }

            &.active {
                color: var(--red);
            }
        }

        & .button {
            margin-top: 15px;
            display: flex;
            background: var(--black);
        }
    }

    & a {
        border-bottom: 1px solid color-mod(var(--black) alpha(10%));

        &:last-child {
            border-bottom: 0;
        }
    }
}
