@import url('../vars.css');

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-sizing: border-box;
    z-index: var(--top-z-index);
    transition:
        background-color var(--transition-duration) linear,
        box-shadow var(--transition-duration) linear;
    padding: var(--page-margin);
    background: var(--white);

    @media (--md-up) {
        position: relative;
        margin: 0 auto;
        background: none;
        max-width: var(--desktop-width);
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }

    &.active {
        box-shadow: var(--nav-shadow-overhang);
        background-color: var(--white);

        @media (--md-up) {
            box-shadow: none;
            background-color: initial;
        }
    }

    & > * {
        display: flex;
        width: 100%;
        height: 100%;

        &:first-child {
            justify-content: flex-start;
            align-items: center;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }

    & .language-select {
        display: none;

        @media (--md-up) {
            display: initial;
        }
    }
}

.language-select {
    position: relative;
    margin: 0 1rem;

    @media (--md-up) {
        margin: 0 0 0 1.5rem;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("/img/globe.svg") no-repeat left 13px center;
        background-size: 17px 16px;
        pointer-events: none;
        z-index: var(--top-z-index);
    }

    &::after {
        top: 0;
    }

    & select, & .selection {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding-left: 2.5rem;
        background: white;
        text-transform: uppercase;
        font-size: var(--font-size-small);
        font-weight: 600;
        letter-spacing: 0.8px;
        color: var(--warm-grey);
        cursor: pointer;
    }

    & .selection {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: .5rem 5rem .5rem 2.5rem;
        height: var(--input-height);
        min-width: 12rem;
        font-weight: 600;
    }

    & .list-wrapper {
        display: none;
        height: 100%;

        & .triangle {
            position: absolute;
            right: 13px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid var(--lighter-grey);
        }

        & ul {
            position: absolute;
            list-style: none;
            margin: .5rem 0 0;
            padding: 1rem 0;
            max-height: 16rem;
            width: 100%;
            overflow-y: auto;
            background: var(--lighter-grey);

            & li {
                margin: 0 1rem 1rem 2.5rem;
                color: var(--warm-grey);
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 600;
                text-overflow: ellipsis;
                overflow-x: hidden;

                &.selected {
                    color: black;
                }

                &.highlighted {
                    color: var(--dark-red);
                }
            }
        }
    }
}

.language-select:hover, .is-keyboard-focus .language-select:focus-within {
    &::before {
        background-image: url("/img/globe_black.svg");
    }

    &::after {
        background-position-x: 15px;
        transform: rotate(180deg);
    }

    & .selection {
        border-color: transparent;
        color: var(--black);
        background: var(--lighter-grey);
    }

    & .list-wrapper {
        display: block;
    }
}


@media (--desktop) {
    header > * {
        pointer-events: auto;
    }
}

.nav-list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--strong-font-family);
}

.nav-list a {
    padding: 0 1rem;
    display: block;
    font-family: var(--base-font-family);
    font-size: var(--font-size-small);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.nav-list a.active {
    color: var(--dark-red);
}

.tallies {
    flex-direction: column;
    margin-right: 2rem;

    @media (--md-up) {
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 0;
    }

    &, & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-weight: bold;
    }

    & .divider {
        margin: .1rem 0;
        border-right: 1px solid var(--darker-grey);
        border-top: 1px solid var(--darker-grey);
        width: 100%;

        @media (--md-up) {
            margin: 0 .5rem;
            height: 1rem;
            width: auto;
        }
    }

    & .icon {
        margin-right: var(--standard-margin);
        height: 15px;
    }

    & .record-tally {
        color: var(--red);
    }

    & .validate-tally {
        color: var(--green);

        & .icon {
            display: block;
            font-size: .6rem;
        }
    }
}

#hamburger-menu {
    width: calc(0.3 * var(--header-height));
    border: none;
    padding: 0;

    @media (--md-up) {
        display: none;
    }

    &:hover {
        background-color: transparent;
    }
}

#main-nav {
    display: none;

    @media (--md-up) {
        display: flex;
        align-items: center;
    }
}

#navigation-modal {
    box-sizing: border-box;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--middle-z-index);
    padding: var(--header-height) 0 0;
    pointer-events: none;
    transform: translateY(-100vh);
    transition: all var(--transition-duration-slow) var(--easing);
    visibility: hidden;

    &.active {
        display: block;
        transform: translateY(0);
        pointer-events: all;
        transition-duration: var(--transition-duration-slow);
        visibility: visible;
    }

    & .nav-list {
        flex-flow: column;
        font-size: 1.3rem;
        padding-top: 1rem;
    }

    & a {
        line-height: 3.2;
        font-size: 1.3rem;
    }
}

