@import url('../media.css');

.header-wrapper {
    border-bottom: 1px solid var(--light-grey);
}

header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
    transition: background-color var(--transition-duration) linear,
        box-shadow var(--transition-duration) linear;
    padding: var(--page-margin);
    background: var(--white);
    z-index: var(--header-z-index);

    @media (--lg-up) {
        position: relative;
        margin: 0 auto;
        background: none;
        max-width: var(--desktop-width);
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }

    &.active {
        box-shadow: var(--nav-shadow-overhang);

        @media (--lg-up) {
            box-shadow: none;
        }
    }

    & .Logo {
        margin-bottom: -3px;
    }

    & > * {
        display: flex;
        width: 100%;
        height: 100%;

        &:first-child {
            justify-content: flex-start;
            align-items: center;
        }

        &:last-child {
            justify-content: flex-end;
            align-items: center;
        }
    }

    & .nav-links a,
    .nav-links .nav-link-item {
        justify-content: space-evenly;
        font-family: var(--base-font-family);
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
        margin-right: 8px;
    }

    & .user-menu {
        @media (--md-down) {
            display: none;
        }
    }

    & .localization-select {
        display: none;

        @media (--lg-up) {
            display: initial;
        }
    }

    & .login {
        margin: 0 20px;
        min-width: max-content;
        text-transform: uppercase;

        @media (--md-down) {
            display: none;
        }
    }
}

@media (--lg-up) {
    header > * {
        pointer-events: auto;
    }
}

.nav-list {
    min-height: 100%;

    &,
    & .nav-links {
        display: flex;
        font-family: var(--strong-font-family);

        & .contribute-menu {
            padding: 0 1rem;
            display: block;
        }

        & a {
            padding: 0 1rem;
            display: block;

            &.active {
                color: var(--red);
            }
        }

        & .contribute-menu {
            cursor: pointer;
            display: flex;
            align-items: center;

            & .nav-menu-wrap {
                position: relative;
            }

            & .menu {
                display: none;
                flex-direction: column;
                position: absolute;
                right: -50px;
                top: 0;

                & .blue-border {
                    display: inline-block;
                    padding-top: 35px;
                    border-bottom: 4px solid var(--blue);
                    margin-left: 50px;
                    margin-right: 50px;
                }

                & ul {
                    background: var(--white);
                    box-shadow: 0 2px 5px 0 var(--light-grey);
                    list-style: none;
                    margin: 0;
                    width: 200px;
                    padding: 20px 32px 32px 20px;

                    & li {
                        display: flex;
                        align-items: center;
                        margin-left: 15px;
                        margin-bottom: 20px;

                        & svg {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    & li:last-child {
                        margin-bottom: 0;
                    }

                    & p {
                        text-transform: uppercase;
                        font-family: var(--base-font-family);
                        font-size: var(--font-size-xs);
                        font-weight: 600;
                        color: var(--warm-grey);
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }

                & a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 400;
                    text-transform: capitalize;
                    font-size: 16px;
                }
            }

            &.active {
                & .menu {
                    display: flex;
                }

                & .nav-link-item {
                    color: var(--blue);
                }

                & svg {
                    fill: var(--blue);
                }
            }

            & .rotate-180 {
                transform: rotate(180deg);
            }
        }
    }
}

#hamburger-menu {
    min-width: 20px;
    min-height: 20px;
    border: none;
    padding: 0;

    @media (--lg-up) {
        display: none;
    }

    &:hover {
        background-color: transparent;
    }
}

#main-nav {
    display: none;

    @media (--lg-up) {
        display: flex;
        align-items: center;
    }
}

#navigation-modal {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--middle-z-index);
    padding: var(--header-height) 0 0;
    pointer-events: none;
    transform: translateY(-100vh);
    transition: all var(--transition-duration-slow) var(--easing);
    visibility: hidden;
    overflow: auto;

    &.active {
        display: block;
        transform: translateY(0);
        pointer-events: all;
        transition-duration: var(--transition-duration-slow);
        visibility: visible;

        @media (--lg-up) {
            display: none;
        }
    }

    & .nav-list,
    & .nav-links {
        flex-direction: column;
    }

    & .nav-links a,
    .contribute-menu {
        margin: 0 30px;
        padding: 15px 0;
        line-height: 1.17;
        font-family: var(--strong-font-family);
        font-size: var(--font-size-lg);

        @media (--sm-up) {
            padding: 30px 0;
        }
    }

    & .user-nav {
        padding: 30px;
        background-image: linear-gradient(
            359deg,
            var(--white),
            var(--light-grey)
        );

        & .user-nav-link {
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: var(--base-font-family);
            color: var(--near-black);

            & svg {
                margin-inline-end: 20px;
            }

            & path {
                fill: var(--warm-grey);
            }

            &.active {
                color: var(--red);
            }
        }

        & .button {
            margin-top: 15px;
            display: flex;
            background: var(--black);
        }
    }

    & a,
    .contribute-menu {
        border-bottom: 1px solid color-mod(var(--black) alpha(10%));

        &:last-child {
            border-bottom: 0;
        }
    }

    & .nav-link-item {
        margin-right: 8px;
    }
}
