.subscribe-newsletter {
    display: flex;
    flex-direction: column;
    font-family: var(--base-font-family);
    font-size: var(--font-size-xs);
    letter-spacing: 0.4px;

    & .title,
    & .goal-title {
        margin-bottom: 10px;
        color: var(--warm-grey);
    }

    & .title {
        text-transform: uppercase;
        font-weight: 600;
    }

    & .goal-title {
        font-size: 14px;
        line-height: 1.71;
    }

    & .submittable-field {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    & input,
    & button {
        height: 42px;
    }

    & input {
        flex: 6;
        border: none;
        width: 100%;
        padding: 15px;
        font-size: var(--font-size);
        background: hsla(0deg, 0%, 100%, 0.1);

        &:focus {
            outline: none !important;
        }

        &:focus,
        &.has-value {
            background: var(--white);
        }

        &::placeholder {
            color: var(--warm-grey);
        }
    }

    & button {
        align-self: flex-end;
        border: none;
        outline: none;
        width: 45px;
        position: relative;
        transition: all 300ms;
    }

    & .submit-button {
        background-color: var(--blue);

        & .icon {
            height: 12px;
        }
    }

    & .success-button {
        background-color: var(--valid-green);

        & .icon {
            height: 25px;
        }
    }

    & .error-button {
        background-color: var(--red);

        & .icon {
            height: 24px;
        }
    }

    & .icon {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & path {
            fill: white;
        }
    }

    & .labeled-checkbox {
        display: flex;
        justify-content: center;
    }

    & .checkbox-container {
        border-color: var(--white);

        input {
            height: auto;
        }

        path {
            fill: var(--white);
        }
    }
}
