@import url('../vars.css');

.test {
    color: red;

    & .cover {
        width: 51%;

        /*box-shadow: inset 75px -14px 146px -10px rgba(245,235,245,1), inset -68px 10px 135px 2px rgba(245,235,245,1);*/
        box-shadow: inset 0 30px 40px rgba(0, 0, 0, 0.1);
    }
    section {
        z-index: -1;
        padding-left: px;
        position: absolute;
        top: 32px;
        width: 30%;
        height: 50px;
        background-color: white;
        background: linear-gradient(to right, white, transparent 90%);
        -webkit-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
    }

    & .top {
        z-index: 15;
        opacity: 0.5;
        /*
        box-shadow: inset 75px -14px 146px -10px rgba(245,235,245,1), inset -68px 10px 135px 2px rgba(245,235,245,1);*/
    }

    & .wave {
        opacity: 0.75;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        background: url('./wave2.svg');
        background-size: 40%;
        background-repeat: repeat-x;

        animation: mymovea 17s linear infinite;
    }

    & .wavea {
        opacity: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 25px 10px 41px 0px rgba(255, 255, 255, 1),
            inset -19px 10px 41px 0px rgba(255, 255, 255, 1);
        background: url('./wave1.svg');
        background-size: 40%;
        background-repeat: repeat-x;

        animation: mymove 15s linear infinite;
    }

    & .waveb {
        position: relative;
        width: 50%;
        height: 10%;
    }

    @keyframes mymove {
        from {
            background-position: 0px;
        }
        to {
            background-position: 1920px;
        }
    }

    @keyframes mymovea {
        from {
            background-position: 0px;
        }
        to {
            background-position: 1920px;
        }
    }
}

.user-menu {
    margin: 0 20px;

    @media (--sm-up) {
        max-width: 200px;
    }
    & .test {
        color: red;
    }

    & .toggle {
        outline: none;
        border: none;
        padding: 0;
        width: 100%;

        display: flex;
        align-items: center;

        background: transparent;

        & .avatar-wrap {
            margin-inline-end: 10px;
        }

        & .name {
            margin-inline-end: 10px;
            max-width: 100%;
            font-family: var(--base-font-family);
            font-weight: 600;
            font-size: var(--font-size-xs);
            text-transform: uppercase;
            letter-spacing: 0.4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (--xs-down) {
                display: none;
            }
        }

        & svg {
            margin-inline-start: auto;
            margin-inline-end: 11px;
            transition: transform var(--easing) var(--transition-duration);
        }
    }

    & .menu-wrap {
        position: relative;
    }

    & .menu {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        flex-direction: column;
        display: none;

        & .triangle {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid var(--white);
            margin-inline-start: auto;
            margin-inline-end: 10px;
            padding-top: 15px;
            display: inline-block;
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background: var(--white);
            box-shadow: 0 2px 5px 0 var(--light-grey);
        }

        & li:hover {
            background: var(--desert-storm);

            & hr {
                visibility: hidden;
            }
        }

        & a {
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & svg {
                margin-inline-end: 12px;
                height: 16px;
            }
        }

        & hr {
            margin: 0 auto;
            width: calc(100% - 40px);
        }
    }

    &.active {
        & .toggle svg {
            transform: rotateX(180deg);
        }

        & .menu {
            display: flex;
        }
    }
}
