:root {
    --language-box-margin: 1.6rem;
}

@keyframes move-and-scale-in {
    from {
        transform: translateX(-100%) scaleY(0);
    }
    to {
        transform: none;
    }
}

@keyframes move-and-scale-in-small-delay {
    from {
        transform: translateX(-100%) scaleY(0);
    }
    5% {
        transform: translateX(-100%) scaleY(0);
    }
    to {
        transform: none;
    }
}

@keyframes move-and-scale-in-big-delay {
    from {
        transform: translateX(-100%) scaleY(0);
    }
    40% {
        transform: translateX(-100%) scaleY(0);
    }
    to {
        transform: none;
    }
}

.languages {
    & .top {
        display: flex;
        flex-direction: column;

        @media (--md-up) {
            height: 150px;
            flex-direction: row;
        }

        & .waves {
            position: relative;
            top: -2rem;
            left: 10rem;

            @media (--md-up) {
                top: 0;
                left: 0;
                width: 50%;
            }

            & img {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                animation-duration: 3.5s;
                animation-name: move-and-scale-in;

                &.red {
                    animation-name: move-and-scale-in-small-delay;
                }

                &.eq {
                    animation-name: move-and-scale-in-big-delay;
                    bottom: 4%;
                    right: 16%;
                }
            }
        }

        & .text {
            display: flex;
            align-items: center;
            margin-top: 4rem;

            @media (--md-up) {
                margin-left: var(--standard-margin);
                margin-top: 0;
                width: 50%;
            }

            & .inner {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media (--md-up) {
                    align-items: flex-end;
                }

                & h2 {
                    margin-bottom: 2rem;
                    padding-right: var(--standard-margin);
                    font-weight: bold;

                    @media (--md-up) {
                        margin-bottom: .5rem;
                    }
                }

                & button {
                    max-width: 5rem;
                }
            }
        }
    }

    & .mobile-headings {
        @media (--md-up) {
            display: none;
        }

        & hr {
            width: 100vw;
            margin: .5rem 0 .5rem calc(-50vw + 50%);
        }

        & .labels {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid var(--grey);
        }

        & h2 {
            padding: 1rem;
            cursor: pointer;
        }
    }

    & button.show-all-languages {
        display: block;
        border: 1px solid var(--grey);
        padding: 1rem;
        width: 100%;
        font-size: 1rem;

        &:hover {
            background: var(--light-grey);
        }

        &:focus {
            outline: none;
        }
    }

    & .selected-in-progress .labels .in-progress, & .selected-launched .labels .launched {
        color: var(--red);
        border-bottom: 3px solid var(--red);
    }

    & .selected-launched .language-sections section {
        margin-left: calc(-100vw);
    }

    & .language-sections {
        display: flex;
        width: 200vw;

        @media (--md-up) {
            flex-direction: column;
            width: auto;
        }

        & ul {
            margin-bottom: 0;
            padding: 0;
            list-style: none;
        }

        & section {
            width: calc(100vw - 2rem);
            margin-left: 0;
            transition: margin-left var(--transition-duration-slow) var(--easing);

            @media (--md-up) {
                margin-top: 2.5rem;
                width: auto;
            }

            &:nth-child(2) {
                margin-left: 2rem;

                @media (--md-up) {
                    margin-left: 0;
                }
            }
        }
    }

    & .language {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: var(--language-box-margin);
        box-shadow: var(--card-shadow);
        width: 100%;

        @media (--md-only) {
            margin-right: var(--language-box-margin);
            width: calc((100% - var(--language-box-margin)) / 2.01);

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @media (--lg-up) {
            margin-right: var(--language-box-margin);
            width: calc((100% - 2 * var(--language-box-margin)) / 3.01);

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        &.loading {
            & h2 svg {
                width: 80%;
            }

            & .numbers {
                & svg:nth-of-type(1) {
                    margin-top: 0.5rem;
                }

                & svg:nth-of-type(2) {
                    margin-top: 1.1rem;
                }

                & svg:nth-of-type(3) {
                    margin-top: 0.6rem;
                }
            }
        }

        & .info {
            padding: 1.5rem 2rem;
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-small);

            @media (--xs-up) {
                flex-direction: row;
            }

            & h2, & .numbers {
                width: 100%;

                @media (--xs-up) {
                    width: 50%;
                }
            }

            & h2 {
                padding: 0;
                margin-bottom: 1rem;

                @media (--xs-up) {
                    margin-bottom: 0;
                    padding: var(--standard-margin);
                }
            }

            & hr {
                margin: .5rem 0;
                height: 1.5px;
            }

            & .numbers {
                & > div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                & span {
                    padding-right: var(--standard-margin);
                    font-size: .7rem;
                    font-style: italic;
                    color: var(--warm-grey);
                    letter-spacing: 0.8px;
                }

                & b {
                    color: var(--grey-font-color);
                }
            }

            & .progress-bar {
                height: 0.5rem;
            }
        }

        & button {
            outline: none;
            border: none;
            margin: 0;
            padding: 1rem;
            width: 100%;
            transition: background linear var(--transition-duration);
            background: color(var(--light-grey) alpha(50%));
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.4px;
            font-family: var(--base-font-family);

            &:hover {
                background: var(--light-grey);
            }
        }
    }
}
