.languages-waves {
    z-index: var(--bottom-z-index);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.65;

    [dir='rtl'] & {
        right: 0;
        left: unset;
    }

    & img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-duration: 3.5s;
        animation-name: move-and-scale-in;

        [dir='rtl'] & {
            right: 0;
            left: unset;
            -webkit-transform: scaleX(-1) !important;
            -moz-transform: scaleX(-1) !important;
            -o-transform: scaleX(-1) !important;
            transform: scaleX(-1) !important;
        }

        & img:nth-child(3) {
            animation-delay: 0.15;
        }

        & img:nth-child(4) {
            animation-delay: 0.5;
            bottom: 4%;
            right: 16%;

            [dir='rtl'] & {
                left: 16% !important;
                right: unset;
            }
        }
    }
}
@keyframes move-and-scale-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
