.languages-page {
    overflow: hidden;
    position: relative;

    & .top {
        margin: 0 auto;
        max-width: var(--desktop-width);
        display: flex;
        flex-direction: column;

        & .last-updated-timestamp {
            font-family: var(--strong-font-family);
            font-size: 20px;
        }

        @media (--md-up) {
            flex-direction: row;
            justify-content: space-between;
        }

        & .text {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            z-index: var(--middle-z-index);

            @media (--md-up) {
                align-items: flex-end;
                margin-inline-start: 2em;
                margin-top: 0;
            }

            & .inner {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                @media (--md-up) {
                    align-items: flex-end;
                }

                & p {
                    margin-bottom: 2rem;
                    padding-inline-end: var(--standard-margin);
                    font-weight: 600;
                    font-size: var(--font-size-md);

                    @media (--md-up) {
                        margin-bottom: 1rem;
                    }
                }

                & button {
                    max-width: 5rem;
                }
            }
        }
    }

    & button.show-all-languages {
        display: block;
        border: 1px solid var(--grey);
        padding: 1rem;
        width: 100%;
        font-size: 1rem;

        &:hover {
            background: var(--light-grey);
        }

        &:focus {
            outline: none;
        }
    }

    & .title-and-search {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (--md-up) {
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    & .search {
        border: solid 1px var(--grey);
        border-radius: 22px;
        margin-inline-start: auto;
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--lighter-grey);

        @media (--sm-down) {
            margin: 10px 0;
            padding: 10px;
            width: 100%;
        }

        & input {
            outline: none;
            border: none;
            margin: 0 10px;
            width: 100%;
            background: transparent;
            color: var(--near-black);
            font-family: var(--base-font-family);

            &::-ms-clear {
                display: none;
            }
        }

        & img {
            padding-top: 2px;
            width: 16px;
        }
    }

    & .language-sections {
        margin: 0 auto;
        max-width: var(--desktop-width);

        & .languages-page__language-cards {
            margin-top: 2em;
            margin-bottom: 1em;
            display: grid;
            grid-template-columns: 1fr;
            grid-row: auto;
            grid-row-gap: 1em;

            @media (--lg-up) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-row: auto auto auto;
                grid-column-gap: 1em;
            }
        }

        & section {
            margin-bottom: 4em;

            & .page-text-content {
                max-width: 40em;
            }
        }
    }

    .language-sections__heading {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xl);
        margin-top: 1em;
        margin-bottom: 1em;

        & .count {
            &::before {
                content: '\00a0 ';
            }
        }
    }

    .donate-banner-section {
        margin-inline: 30px;
    }
}
