.user-setting {
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    &.two-columns .section-body {
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
            width: 100%;

            @media (--sm-down) {
                margin-bottom: 10px;
            }

            @media (--md-up) {
                width: calc(50% - var(--profile-column-margin) / 2);

                &:nth-child(2n) {
                    margin-inline-start: var(--profile-column-margin);
                }
            }
        }
    }

    &.box {
        & .section-title {
            border-bottom: 0;
        }

        & .section-body {
            border: 2px solid var(--light-grey);

            @media (--sm-down) {
                padding: 30px 16px;
            }

            @media (--md-up) {
                display: flex;
                flex-direction: column;
                padding: 60px 50px;
            }

            @media (--lg-up) {
                flex-direction: row;
            }
        }

        & .images {
            img {
                width: 100%;
            }
            @media (--md-down) {
                margin-top: 10px;
                display: flex;
                justify-content: center;
            }
        }
    }

    & .section-title {
        border-bottom: 2px solid #f3f2f0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & h2 {
        margin-bottom: 10px;
        font-family: var(--strong-font-family);
        font-size: var(--font-size-lg);
        font-weight: 600;
    }

    & .section-body {
        padding-top: 32px;
        display: flex;
        flex-direction: column;

        .email-change-info {
            font-size: var(--font-size-xs);
            margin-block-start: 8px;

            a {
                color: var(--anchor-text-blue);
            }
        }
    }

    & .edit-button {
        padding: 13px 25px;

        @media (--md-up) {
            flex: 0;
            min-width: auto;
        }

        & svg {
            margin-inline-end: 20px;
            width: 18px;
        }
    }

    & .email-section {
        display: flex;
        flex-direction: column;

        @media (--md-up) {
            flex-direction: row;

            & > * {
                max-width: 400px;
                width: 50%;
            }
        }

        & label {
            color: var(--near-black);
            opacity: 0.5;
        }

        & input {
            align-self: flex-start;
        }

        & a {
            color: var(--blue);
            text-decoration: underline;
        }

        & .privacy-and-terms {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & svg {
                margin-inline-end: 5px;
                flex-shrink: 0;
                width: 16px;

                & path {
                    fill: var(--warm-grey);
                }
            }
        }

        & .terms {
            font-weight: 600;
        }
    }

    & .manage-subscriptions {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;

        & svg {
            margin-inline-start: 5px;
        }
    }

    & .feedback-toggle-title {
        margin-bottom: 10px;
        font-size: var(--font-size-lg);
        font-weight: normal;
    }

    & .skip-submission-description {
        margin-top: 40px;
        line-height: 1.5;
    }

    & .skip-submission-note {
        margin-top: 10px;
        color: var(--near-black);
    }
}
