@import url('../../../vars.css');

.awards {
    & #scroller {
        background-image: linear-gradient(
            to top,
            var(--white),
            var(--desert-storm)
        );
    }

    & .inner {
        max-width: initial !important;
    }

    & footer {
        margin-top: 0;
    }
}

.no-awards-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/awards/wave.svg');
    background-size: cover;
    background-position: center bottom;

    & h1 {
        margin-bottom: 30px;
        font-family: var(--base-font-family);
        font-size: 48px;
        font-weight: normal;
    }

    & a {
        margin-bottom: 30px;
        padding: 0 20px;
        height: 57px;
        min-width: auto;
    }

    & p {
        max-width: 270px;
        line-height: 1.5;
    }
}
