@import url('contact-modal/contact-modal.css');
@import url('vars.css');
@import url('ui/ui.css');

/* Define our icon font. */
@font-face {
  font-family: Icons;
  src: url("/font/icons.ttf");
}

@font-face {
  font-family: ZillaSlab;
  src: url("/font/ZillaSlab-Light.ttf");
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  background-color: var(--base-background-color);
  overflow: scroll;
}

@media (max-width: 600px) {
  html {
    overflow: hidden;
  }
}

html, body, #main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
}

h1, h2, h3, h4 {
  font-family: var(--strong-font-family);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--base-font-color);
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 0;
  font-size: var(--base-font-size);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  background-color: var(--base-background-color);
  position: relative;
  transition: all 0.1s linear;
}

@media (max-width: 600px) {
  button {
    display: block;
    width: 100%;
  }
}

body:not(.mobile-safari) button:hover {
  background-color: var(--color-speak);
}

button.highlight {
  transform: scale(1.1);
}

button:active {
  background: black;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

button.dark {
  background-color: black;
  color: white;
}

button.dark:active {
  background-color: white;
  color: black;
}

/* Icon font element. */
[data-icon]:before {
  font-family: Icons;
  font-size: 200%;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.strong {
  font-family: var(--strong-font-family);
  font-weight: bold;
}

@import url('alert/alert.css');
@import url('listen-box/listen-box.css');

.progress-button {
  overflow: hidden;
}

.progress-button .progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 1s var(--easing);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main {
  position: relative;
  box-sizing: border-box;
  background-color: var(--base-background-color);
  animation: fadein 0.5s linear;
}

@import url('nav.css');

@media (max-width: 600px) {
  #scroller {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body:not(.focus) #scroller {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
}

#scrollee {
  position: relative;
}

.faq #background-container,
.terms #background-container,
.privacy #background-container,
.profile #background-container {
  opacity: 0;
}

#background-container {
  position: absolute;
  top: 0.7rem;
  left: 0;
  right: 0;
  height: 20rem;
  background-repeat: repeat-x;
  background-position: center;
  background-size: 100% 100%;
  z-index: var(--bottom-z-index);
  transition: opacity 0.4s var(--easing), transform 0.2s var(--easing);
  pointer-events: none;
}

#background-container:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  opacity: 0;
  transition: opacity 0.2s linear;
  background: repeat-x center;
  background-size: 100% 100%;
}

.hiding #background-container {
  transform: scaleY(0.4);
}

@media (min-width: 600px) {
  .home #background-container {
    transform: translateY(10rem);
  }

  .home .hero-space {
    height: 17rem;
  }
}

/* Don't use background transitions on desktop since
 * Normal scaling is already smooth enough */
body:not(.ios) .recording #background-container {
  transition: opacity 0.4 var(--easing);
}

/* For native iOS css background image is not performance
 * so we use inline images instead */
.ios #background-container {
  background: none !important;
}

.ios #background-container:after {
  display: none !important;
}

.ios #background-container img {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  transition: opacity 0.2s linear;
}

.ios .recording #background-container img:first-child,
.ios #background-container img:last-child {
  opacity: 0;
}

.ios .recording #background-container img:last-child {
  opacity: 1;
}

@media (max-width: 600px) {
  #background-container {
    height: 12.5rem;
    background-image: var(--base-background-image-mobile);
  }
  #background-container:after {
    height: 12.5rem;
    background-image: var(--record-background-image-mobile);
  }
}

@media (min-width: 600px) {
  #background-container {
    height: 20rem;
    background-image: var(--base-background-image);
  }
  #background-container:after {
    background-image: var(--record-background-image);
  }
}

@media (min-width: 600px) {
  .recording #background-container:after {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .recording #background-container {
    background:none;
  }
  .recording #background-container:after {
    opacity: 1;
  }
}

#install-app {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  background-color: rgba(61, 254, 253, 0.9);
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: var(--top-z-index);
  transform: translateY(0);
  transition: transform 0.2s linear;
}

#install-app.hide {
  transform: translateY(3rem);
}

#install-app a {
  position: absolute;
  right: 0;
  height: 100%;
  width: 3rem;
  color: white;
}

/**
 * We have two different page transition types:
 * one for desktop and one for mobile.
 */
@keyframes slide-fade-in {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#content > #profile-container, #content > #record-container {
  animation: slide-fade-in 0.2s var(--easing);
}

@media (min-width: 600px) {
  #content {
    position: unset;
    flex: 1 1 100%;
  }
}

#content > div {
  box-sizing: border-box;
  transition: opacity 0.4s ease-in;
  max-width: var(--desktop-width);
  margin: 0 auto;
}

@media (max-width: 600px) {
  #content > div {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 var(--page-margin);
  }
}

.main-logo {
  width: 10rem;
}

.hero {
  text-align: center;
  height: var(--hero-height);
  position: relative;
}

@media (max-width: 600px) {
  .hero {
    height: var(--hero-height-mobile);
  }
}

.hero-space {
  height: 10rem;
}

@media (max-width: 600px) {
  .hero-space {
    height: 3rem;
    background: none;
  }
}

.faq .hero,
.terms .hero,
.privacy .hero,
.profile .hero {
  display: none;
}

.faq .hero-space,
.terms .hero-space,
.privacy .hero-space,
.profile .hero-space {
  display: none;
}

.robot {
  position: relative;
  display: inline-block;
  height: var(--robot-height);
  transition: all 0.2s ease-in-out;
  transform: translate(0,0) scale(0);
}

@media (max-width: 600px) {
  .robot {
    height: var(--robot-height-mobile);
  }
}

.robot > img {
  height: 100%
}

@media (max-width: 600px) {
  .robot {
    height: 12rem;
    bottom: -3.5rem;
    right: 3.5rem;
  }
}

.record .robot.thanks {
  transform: translate(13rem, 5rem) scale(1);
  transition-delay: 0s;
}

@media (max-width: 600px) {
  .record .robot.thanks {
    transform: translate(9rem, 2rem) scale(1);
  }
}

.home .robot {
  transform: translate(-15rem, 20rem);
}

@media (max-width: 600px) {
  .home .robot {
    transform: translate(-3rem,2.2rem);
    height: 10rem;
  }
}

.record .robot {
  transform: translate(1.3rem, 5.8rem);
}

@media (max-width: 600px) {
  .record .robot {
    transform: translate(4.5rem,0.5rem);
  }
}

@import url('pages/home/home.css');
@import url('pages/record/record.css');

#content > #faq-container,
#content > #terms-container,
#content > #privacy-container,
#content > #profile-container {
  padding-top: calc(var(--header-height) + 0.5rem);
  padding-bottom: 2rem;
  text-align: left;
}

@import url('profile-form/profile-form.css');

#debug-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--debug-box-height);
  background-color: var(--base-font-color);
  color: var(--base-background-color);
  z-index: var(--top-z-index);
  overflow: scroll;
}

#debug-box.hidden {
  display: none;
}

.loading {
  animation: loading 2.5s ease infinite;
  background-size: 600% 600%
}

@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@import url('modal/modal.css');

.privacy-content {
  background-color: var(--base-background-color);
  max-width: var(--desktop-width);
  padding: var(--page-margin);
}

@media (min-width: 600px) {
  .privacy-content {
    border-radius: 4px;
  }
}

#terms-container .terms-content,
#privacy-container .privacy-content {
  width: unset;
  padding: 0;
}

.privacy-content > * {
  margin: 1rem 0;
}

.terms-content > h1:first-child,
.privacy-content > h1:first-child {
  margin: 1rem 0;
  text-decoration: underline;
}

.privacy-content a {
  display: inline-block;
  color: blue;
}

.button-holder {
  text-align:center;
}

@media (min-width: 600px) {
  .button-holder button {
    margin: 0 1rem;
  }
}

#faq-container h3,
#terms-container h3 {
  margin: 1.5rem 0 0.5rem;
}

#faq-container p,
#terms-container p {
  margin-bottom: 1rem;
}

#faq-container a,
#terms-container a {
  color: blue;
}

#spinner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#spinner span {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  height: var(--spinner-height);
  width: var(--spinner-height);
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  animation: spin 4s linear infinite;
  background-color: black;
  opacity: 1;
  transition: opacity 0.1s linear;
}

@keyframes spin {
  50%{ border-radius: 0; }
  100%{ transform: rotate(-360deg); }
}

.focus #donate {
  padding-bottom: 1rem;
}

.title-and-action {
  margin-bottom: var(--standard-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-action a {
  font-size: var(--small-font-size);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
