header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-sizing: border-box;
    z-index: var(--top-z-index);
    transition: background-color 0.15s linear, box-shadow .2s linear;
}

header.active {
    box-shadow: var(--shadow-overhang);
    background-color: var(--base-background-color);
}

@media (--mobile) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: var(--page-margin);
        background: var(--base-background-color);
    }
}

@media (--desktop) {
    header {
        margin: 0 auto;
        padding-top: 1.5rem;
        max-width: var(--desktop-width);
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }
    header > * {
        pointer-events: auto;
    }
}

footer {
    background-color: black;
}

footer a:hover, footer button:hover {
    opacity: .6;
}

#help-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.3rem;
    background-color: #F3F2F1;
}

#help-links a {
    box-sizing: border-box;
    text-align: center;
    width: 10rem;
    cursor: pointer;
}

#help-links img {
    margin-bottom: var(--standard-margin);
    width: 26px;
}

#help-links .divider {
    border-right: 2px solid darkgrey;
    height: 2.5rem;
}

@media (--mobile) {
    #help-links {
        height: 6rem;
    }

    #help-links .divider {
        display: none;
    }

    #help-links img {
        width: 21px;
    }

    #help-links a {
        font-size: var(--small-font-size);
    }
}

#help-links {
    margin-top: calc(2 * var(--standard-margin));
}

#moz-links {
    height: 100%;
    font-size: 0.7rem;
    color: white;
}

@media (--desktop) {
    #moz-links {
        padding: 0.4rem 0;
    }
}


#moz-links {
    display: flex;
    flex-direction: column;
}

@media (--mobile) {
    #moz-links {
        padding: var(--page-margin);
    }
}

@media (--desktop) {
    #moz-links {
        margin: 0 auto;
        width: var(--desktop-width);
        flex-direction: row;
        justify-content: space-between;
    }

    #moz-links > * {
        margin: 2rem 0;
    }
}

#moz-links .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (--mobile) {
    #moz-links .content {
        padding-bottom: var(--page-margin);
    }
}

@media (--desktop) {
    #moz-links .content {
        padding-right: 1rem;
    }
}

#moz-links .main-logo {
    font-size: 1rem;
    padding-right: 4rem;
}

#moz-links .main-logo, #moz-links .main-mozilla-logo {
    max-height: 2.5rem;
}

#moz-links .links a {
    color: var(--color-listen);
}

@media (--mobile) {
    #moz-links .links > p:last-child,
    #moz-links .links > :first-child a {
        display: block;
    }

    #moz-links .links {
        padding-top: 1.5rem;
    }
}

#moz-links .links > :first-child {
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
}

#sharing {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
}

#sharing h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: normal;
    font-family: sans-serif;
}

#sharing .icons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#sharing a, #link-copy {
    font-size: .8rem;
    color: white;
}

#link-copy {
    border: none;
    padding: 0;
    width: auto;
    background: transparent;
}

#link-copy input {
    position: fixed;
    top: 1000rem;
    left: 1000rem;
}

#link-copy:active {
    color: black;
}

.nav-list {
    font-family: var(--strong-font-family);
    display: flex;
}

.nav-list a {
    padding: 0 1rem;
    display: block;
    font-family: var(--base-font-family);
    font-size: var(--small-font-size);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.nav-list a.active {
    color: var(--color-speak-dark);
}

.tallies, .tallies > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

.tallies .divider {
    margin: 0 .5rem;
    border-right: 1px solid var(--color-record-hr);
    height: 1rem;
}

.tallies .icon {
    margin-right: var(--standard-margin);
    height: 15px;
}

.record-tally {
    color: var(--color-speak);
}

.validate-tally {
    color: var(--color-listen);
}

.validate-tally .icon {
    display: block;
    font-size: .6rem;
}

@media (--mobile) {
    .tallies {
        margin: 0 auto;
    }
}

@media (--desktop) {
    .tallies {
        margin-left: 1rem;
    }

    header > .tallies {
        display: none;
    }
}

#hamburger-menu {
    height: var(--hamburger);
    width: calc(var(--hamburger) / 2.5);
    border: none;
    padding: 0;
}

#hamburger-menu:hover {
    background-color: transparent;
}

#main-nav {
    display: none;
}

@media (--desktop) {
    #hamburger-menu {
        display: none;
    }
    #main-nav {
        display: flex;
        align-items: center;
    }
}

#navigation-modal {
    box-sizing: border-box;
    background-color: var(--base-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--middle-z-index);
    padding: var(--header-height) 0 0;
    pointer-events: none;
    transform: translateY(-100vh);
    transition: all 0.55s var(--easing);
}

#navigation-modal.active {
    display: block;
    transform: translateY(0);
    pointer-events: all;
    transition-duration: 0.4s;
}

#navigation-modal .nav-list {
    flex-flow: column;
    font-size: 1.3rem;
    padding-top: 1rem;
}

#navigation-modal a {
    line-height: 3.2;
    font-size: 1.3rem;
}
