header {
    display: flex;
    height: var(--header-height);
    box-sizing: border-box;
    z-index: var(--top-z-index);
    transition: background-color 0.15s linear;
}

header.active {
    box-shadow: var(--shadow-overhang);
    background-color: var(--base-background-color);
}

@media (max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: var(--page-margin) var(--page-margin) 0;
        background: none;
    }
}

@media (min-width: 600px) {
    header {
        margin: 0 auto;
        padding-top: 1.5rem;
        max-width: var(--desktop-width);
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }
    header > * {
        pointer-events: auto;
    }
}

footer {
    background-color: black;
}

#help-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.3rem;
    background-color: #F3F2F1;
}

#help-links a {
    box-sizing: border-box;
    text-align: center;
    width: 10rem;
    cursor: pointer;
}

#help-links a:hover {
    opacity: .6;
}

#help-links img {
    margin-bottom: var(--standard-margin);
    width: 26px;
}

#help-links .divider {
    border-right: 2px solid darkgrey;
    height: 2.5rem;
}

#help-links {
    margin-top: calc(2 * var(--standard-margin));
}

#moz-links {
    height: 100%;
    font-size: 0.7rem;
    color: white;
}

@media (min-width: 600px) {
    #moz-links {
        padding: 0.4rem 0;
    }
}


#moz-links {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    #moz-links {
        margin: 0 auto;
        width: var(--desktop-width);
        flex-direction: row;
        justify-content: space-between;
    }

    #moz-links > * {
        margin-top: 3rem;
    }
}

#moz-links .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 600px) {
    #moz-links .content {
        padding: var(--page-margin);
    }
}

@media (min-width: 600px) {
    #moz-links .content {
        padding-right: 1rem;
    }
}

#moz-links .main-logo {
    font-size: 1rem;
    padding-right: 4rem;
}

#moz-links .links a {
    color: var(--color-listen);
}

@media (max-width: 600px) {
    #moz-links .links > p:last-child,
    #moz-links .links > :first-child a {
        display: block;
        padding: 0.5rem 0;
    }
}

#moz-links .links > :first-child {
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
}

#sharing {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
}

#sharing h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: normal;
    font-family: sans-serif;
}

#sharing .icons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#sharing a, #link-copy {
    font-size: .8rem;
    color: white;
}

#link-copy {
    border: none;
    padding: 0;
    width: auto;
    background: transparent;
}

#link-copy input {
    position: fixed;
    top: 1000rem;
    left: 1000rem;
}

#link-copy:active {
    color: black;
}

.nav-list {
    font-family: var(--strong-font-family);
    display: flex;
}

.nav-list a {
    padding: 0 1rem;
    display: block;
    font-family: var(--base-font-family);
    font-size: var(--small-font-size);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-list a.active {
    color: var(--color-speak-dark);
}

#tallies, #tallies > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

#tallies .divider {
    margin: 0 .5rem;
    border-right: 1px solid var(--color-record-hr);
    height: 1rem;
}

#tallies .icon {
    margin-right: var(--standard-margin);
    height: 15px;
}

#record-tally {
    color: var(--color-speak);
}

#validate-tally {
    color: var(--color-listen);
}

#validate-tally .icon {
    display: block;
    font-size: .6rem;
}

@media (min-width: 600px) {
    #tallies {
        margin-left: 1rem;
    }
}

#hamburger-menu {
    height: var(--hamburger);
    width: var(--hamburger);
    padding: 0;
    margin-left: auto;
    background-color: var(--base-font-color);
    color: var(--base-background-color);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    border: none;
}

#hamburger-menu.active {
    transform: rotate(90deg);
}

#main-nav {
    display: none;
}

@media (min-width: 600px) {
    #hamburger-menu {
        display: none;
    }
    #main-nav {
        display: flex;
        align-items: center;
    }
}

#navigation-modal {
    box-sizing: border-box;
    background-color: var(--base-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--middle-z-index);
    padding: var(--header-height) 0 0;
    pointer-events: none;
    transform: translateY(-100vh);
    transition: all 0.55s var(--easing);
}

#navigation-modal.active {
    display: block;
    transform: translateY(0);
    pointer-events: all;
    transition-duration: 0.4s;
}

#navigation-modal .nav-list {
    flex-flow: column;
    font-size: 1.3rem;
}

#navigation-modal a {
    line-height: 3.2;
    font-weight: bold;
    font-size: 1.3rem;
}