@media (--mobile) {
    #common-voice-data {
        top: 5.5rem;
        width: 100%;

        & button {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: auto;
        }
    }

    #common-voice-license {
        text-align: center;
    }
}

@media (--desktop) {
    #common-voice-data {
        top: 10rem;
    }

    #common-voice-license {
        text-align: end;
    }

    .dataset {
        width: calc(50% - var(--dataset-item-margin));

        &:nth-child(odd) {
            margin-right: var(--dataset-item-margin);
        }

        &:nth-child(even) {
            margin-left: var(--dataset-item-margin);
        }
    }
}

#data-container {
    & .license a {
        font-size: var(--font-size-small);
        font-weight: 600;
        text-decoration: underline;
    }

    & svg {
        margin-right: 1rem;
        width: 22px;
        height: 22px;
    }

    & hr {
        margin: 3rem 0;
    }
}

.ReactModal__Content .download-modal.inner {
    padding: 3rem 2rem;
    max-width: 50rem;
}

.download-modal p {
    margin-bottom: 2rem;
    color: var(--near-black);
}

#common-voice-data {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#common-voice-license {
    &, & a {
        margin-top: .5rem;
        width: 100%;
        color: var(--white);
        font-size: var(--font-size-small);
    }

    & a {
        text-decoration: underline;
    }
}

#explanatory-text {
    margin: 2rem 0;
    color: var(--near-black);
}

#speech-blog-link {
    text-decoration: underline;
    font-size: var(--font-size-small);
    font-weight: 600;
}

#others-head {
    margin: 4rem 0 2rem;
}

#datasets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dataset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: calc(2 * var(--dataset-item-margin));
    box-shadow: var(--card-shadow);

    & .contents {
        padding: 1.5rem;
    }

    & h2 a {
        font-weight: normal;
        color: var(--red);
    }

    & p {
        color: var(--near-black);
        margin: var(--standard-margin) 0;
    }

    & .license {
        color: var(--near-black);
        padding: 1rem 1.5rem;
        font-size: var(--font-size-small);

        & a {
            color: var(--near-black);
        }
    }

    & .action {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--lighter-grey);
    }

    & button {
        width: auto;
        border: 1px solid black;
        box-shadow: none;
    }
}

body:not(.mobile-safari) .dataset .button.card-action:hover,
.dataset .button.card-action:focus.focus-visible {
    margin: 0;
    background: black;
    color: var(--white);
}

body:not(.mobile-safari) .dataset .button.card-action:hover path,
.dataset .button.card-action:focus.focus-visible path {
    fill: var(--white);
}

#dataset-bundle {
    border-top: .4rem solid var(--red);
    margin: 5rem 0;
    padding: 1.5rem;
    display: flex;
    display: none; /* TODO: un-hide when we host a bundle */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-grey);
}

#bundle-info {
    margin-top: 1rem;
    color: var(--near-black);
    font-size: var(--font-size-small);
    font-style: italic;
}

.ReactModal__Content .inner.email-modal {
    max-width: 45rem;
    color: var(--near-black);
}

.email-modal {
    &.compact {
        padding: 0 2rem;
    }

    & .head {
        margin: -2rem -2rem 0;
        padding: 3rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--lighter-grey);

        & img {
            margin-right: 1rem;
        }
    }

    & form {
        max-width: 25rem;
        margin: 0 auto 1rem;
        text-align: start;
    }

    & p:first-child {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    & label {
        margin-bottom: .5rem;
    }

    & input:disabled {
        margin: 1rem 0;
        color: var(--black);
        text-align: center;
        font-family: var(--strong-font-family);
        font-size: 1.3rem;
        font-weight: 600;
    }

    & button {
        width: 100%;
    }

    & a {
        text-decoration: underline;
    }

    & .cancel {
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: block;
        cursor: pointer;
        text-align: center;
        font-size: var(--font-size-small);
        font-weight: 600;
    }
}
